/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2019, 9:05:34 AM
    Author     : demps
*/

body {
    background:#EEEEEE;
    font-size: 16px;
    font-weight:100;
    text-shadow:none;
}

.align-center {
    margin: 0 auto;
    text-align:center;
}

div#loginForm {
    background-color: #ffffff;
    margin:0 auto;
    width: 66%;
    max-width: 550px;
    padding:3.0em;
    box-shadow:  0 0 30px #2D2D4F;
    margin-top:4.0em;
}

/* */

h1 {
    font-size:1.5em;
    margin-top: 0px;
}




/* Header */

.ui-widget-header, #headerWest {
    /* border: 1px solid #a8a8a8; */
    /* background: #c4c4c4 url(/mTesting/faces/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png?ln=primefaces-aristo) 50% 50% repeat-x; */
    background: #748797;
    color: #fff; 
    font-weight:100;
    text-shadow:none;
    border: 0;
    padding: 1.5em 0;
    background-image: url('../images/aardwolf-logo-gray.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Overrides */
div.ui-widget-header.ui-datatable-scrollable-footer, div.ui-datatable-footer.ui-widget-header.ui-corner-bottom {
     background: #CCD0D4; /**/
     color: #000000;
}

span.ui-paginator-pages > a > .ui-state-default {
    color:#FF0000 !important;
}

div.ui-paginator.ui-paginator-bottom, .ui-paginator-page .ui-state-default {
    border-top: 0 none;
    background: #CCD0D4;
    color: #000000;
    padding: 0.5em;
}

.ui-datatable-scrollable-header {
    background: #A48F8E;
    padding: 0;
}

div#customersForm {
    background: #ffffff !important;
}

div.ui-datatable-header, .ui-datatable-scrollable-footer {
    display: none;
}

span.ui-layout-unit-header-title {
    display:none;
}

p {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    color:#aaaaaa;
    margin-top: 0;
}

.ui-layout-west {
   min-width:250px; 
   box-shadow:  0 0 8px #2D2D4F; 
   
   
}

.ui-layout-pane {
    border: 0;
}

.ui-widget-content {
    background: #EEE;
    color: #4f4f4f;
    border: none;
}

.ui-panelgrid .ui-panelgrid-cell {
    padding: 0;
    border: none;
}
tr > td > .ui-widget-content {
    border: none;
    color: #000000;
}

tr.ui-widget-content {
    border: none;
    background: none;
    color: #4f4f4f;
}

.ui-layout-unit {
    visibility: hidden;
    /* padding: .2em; */
    background: #EEEEEE;
}

.ui-layout-pane-west {
    background: #748797;
}

#loginForm > div > .ui-outputlabel {
    font-size:0.7em;
    color:#2D2D4F;
    text-align: left !important;
}

.ui-accordion .ui-accordion-content {
    background: #748797;
    color: #ffffff;
    font-weight:100;
    text-shadow:none;
    overflow-x: hidden;
}

 .ui-widget-content > .ui-state-default {
    color:#ffffff;
 }
 
/* layout */
.ui-layout-unit .ui-layout-unit-content {
    padding: 0 2em;
    border: 0 none;
    overflow: hidden;
}

/* menu item */
.ui-state-default, .ui-widget-content .ui-state-default {
    color:#ffffff;
    text-shadow:none;
    background:none;
    border: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight:100;
}

.ui-state-active {
    background:#ff0000;
}

a.active {
    /* background: #00ff00; */
    text-decoration: none;
}

/* Menu items */

.ui-menu .ui-menuitem-link:current {
    background: #00ff00;
}

.ui-menu .ui-menuitem-link {
    display: block;
    width: 92%;
    outline: none;
    text-decoration: none;
    font-weight: 400;
    border: solid 1px transparent;
    float: left;
    line-height: 24px;
    padding: 0.3em;
    cursor: pointer;
    /* margin-left: 1.5em; */
    color: #ffffff;
    background:none;
    
}

li.active-menuitem > a {
    color: #1976d2;
}

.ui-menu {
    background: none;
}

a.ui-menuitem-link:hover {
   color:#B8E986;
   background-color:transparent;
   background:transparent;
   box-shadow: none;
}
div.ui-layout-unit-content {
    background:none;
    padding: 0 2.0em;
}
/* Pagination */
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .rpp-options {
    cursor: pointer;
    color: #000000;
}

/* Datatable Current and Results Per Page*/
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
    margin-left: 1em;
    margin-right: 1em;
    background-image: none;
    color: #000000;
    font-weight: bold;
}

input {
    background: #ffffff !important;
    color:#000000 !important;
    border: 1px dotted #999 !important;
}

legend {
    border: none !important;
    color:#000000 !important;
}

fieldset {
    border: #000 solid 1px !important;
    color:#000000 !important;
}

.ui-paginator button.ui-button {
    background: #0AAF41;
    color:#ffffff !important;
    border-radius: 20px;
}

th, thead {
    background: #A48F8E !important;
}

td > button.ui-buttonPrimary {
    background: #0AAF41 !important;
    color:#ffffff !important;
    border-radius: 20px;
}

td > button.ui-buttonSecondary {
    background: none !important;
    color:#aaaaaa !important;
    font-size: 0.75em !important;
    
}


.ui-menu-dynamic, .ui-menu-overlay {
    background:#ffffff !important;
}

.ui-datatable .ui-column-filter {
    display: block;
    width: 100%;
    margin: auto;
}

 .ui-menu-overlay > ul > li > a {
    color: #000000 !important;
}

.ui-menu-dynamic > ul > li > a {
    color: #000000 !important;
}


.ui-menu-overlay > ul > li > a:hover {
    background-color:#B8E986;
    color: #0AAF41 !important;
}

.ui-menu-dynamic > ul > li > a:hover {
    background-color:#B8E986;
    color: #0AAF41 !important;
}

.ui-breadcrumb ul li span, legend {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #999 !important;
}

.ui-datatable-footer, .ui-datatable-footer > button.ui-button {
    color:#0AAF41;
    text-align: left !important;
}

.ui-datatable table {
    border-collapse: inherit;
    width: 100%;
    table-layout: fixed;
}

div.ui-chkbox.ui-chkbox-all.ui-widget {
    background: #cecece;
    border: 1px solid #ffffff;
}