<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            
            <ui:define name="centerContent">
                <p:breadCrumb style="background-color:transparent;background-image:none;">
                                <p:menuitem value="Categories" url="#" />
                                <p:menuitem value="Accounting" url="#" />
                                <p:menuitem value="Remittable" url="#" class="active"/>
                                </p:breadCrumb>
                                    <h1>Account Remittable</h1>
                <h:form id="acctRecForm">

                    <h:panelGrid id="AcctRecGrid" columns="5"    styleClass="panelColumns">

                        <p:outputLabel for="arah" value="Account Holder: "/>
                        <p:autoComplete id="arah" value="#{acctRecService.acctRecTrans.acctHolderIn}" completeMethod="#{autoCompletion.completeAccountKeeperReceivables}"  size="60"/>
                        <p:outputLabel for="aradmin" value="Admin Company "/>
                        <p:inputText id="aradmin" value="#{acctRecService.acctRecTrans.adminCompany}"  size="50"/>

                        <p:commandButton   value="Get Balances" actionListener="#{acctRecService.getBalances()}" process="@form" update="@form" />

                    </h:panelGrid>

                    <p:separator />

                    <p:dataTable   id="arTbl"  var="arTbl"    value="#{acctRecService.acctRecvs}"     rowKey="#{arTbl.acctId}" selection="#{acctRecService.selectedAcctRec}"   selectionMode="single" emptyMessage=""  >
                        <p:ajax event="rowSelect" listener="#{acctRecService.onAcctRecRowSelect}" update=":acctRecForm:arMenu" oncomplete="PF('arMenu').show()" />

                        <p:column  headerText="Admin Company">
                            <h:outputText       value="#{arTbl.adminCompany}"  />
                        </p:column>

                        <p:column   headerText="Type" >
                            <h:outputText value="#{arTbl.acctType}" />
                        </p:column>

                        <p:column  headerText="Account Name">
                            <h:outputText value="#{arTbl.acctName}"  />
                        </p:column>

                        <p:column  headerText="Admin to Pay" >
                            <h:outputText value="#{arTbl.adminToPay}"  />
                        </p:column>

                        <p:column  headerText="Admin to Receive">
                            <h:outputText value="#{arTbl.adminToReceive}" />
                        </p:column>

                        <p:column   headerText="Admin Total">
                            <h:outputText value="#{arTbl.adminTotal}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="arMenu" widgetVar="arMenu" triggerEvent="rowSelect" trigger="arTbl" overlay="true"  my="left top"    at="left top"   >
                        <p:menuitem value="Details" update="arTbl"       actionListener="#{acctRecService.getAcctRecDetail}"    icon="ui-icon-star" >
                        </p:menuitem>
                        <p:menuitem value="Select items" update="arTbl"     actionListener="#{acctRecService.getSelectItems}"    icon="ui-icon-star">
                        </p:menuitem>
                    </p:menu>


                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

