<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Create #{acctRecItemService.title} for: #{acctRecItemService.acctHolderName} </title>
        <style>
       .outlabel {
    display: block;
    width: 250px;
}
</style>

    </h:head>
    <h:body>

        <h:form id="acSelectForm">
            <h:panelGrid  columns="2" >
                <h:panelGrid  columns="2" width="400">
                    <p:outputLabel value="From Account Holder: "  rendered="#{acctRecItemService.isReceivable}" /><p:outputLabel value="#{acctRecItemService.acctHolderName}"  rendered="#{acctRecItemService.isReceivable}"/>
                    <p:outputLabel value="To Admin Company: "  styleClass="outlabel" rendered="#{acctRecItemService.isReceivable}"/><p:outputLabel value="#{acctRecItemService.acctRecUpper.adminCompany}" rendered="#{acctRecItemService.isReceivable}" />
                   
                    <p:outputLabel value="From Admin Company: "  styleClass="outlabel" rendered="#{!acctRecItemService.isReceivable}"/><p:outputLabel value="#{acctRecItemService.acctRecUpper.adminCompany}" rendered="#{!acctRecItemService.isReceivable}" />
                     <p:outputLabel value="To Account Holder: "  rendered="#{!acctRecItemService.isReceivable}" /><p:outputLabel value="#{acctRecItemService.acctHolderName}"  rendered="#{!acctRecItemService.isReceivable}"/>
                     
                    <p:outputLabel value="Number:* "  /><p:inputText value="#{acctRecItemService.acctRecUpper.transactionNumber}"   required="yes"/>
                    <p:outputLabel for="transType" value="Type: " />
                    <p:selectOneMenu id="transType" value="#{acctRecItemService.acctRecUpper.transType}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{acctRecItemService.transTypeList}" />
                    </p:selectOneMenu>
                    <p:outputLabel for="itemSentDate" value="Sent Date: "/>
                    <p:calendar  id="itemSentDate" value="#{acctRecItemService.acctRecUpper.sentDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>
                    <p:outputLabel for="itemRecDate" value="Received Date: "/>
                    <p:calendar  id="itemRecDate" value="#{acctRecItemService.acctRecUpper.receivedDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>
                    <p:outputLabel value="Transaction Amount* "  /><p:inputText  id="acctTransAmount" value="#{acctRecItemService.acctRecUpper.transactionAmount}"  required="yes" />
                </h:panelGrid>
                <h:panelGrid id="acctAmountGrid" columns="1" width="1000">
                    <h:panelGrid columns="2" >
                        <p:outputLabel value="Previous Balance: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.prevBalance}" />
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="6" >
                        <p:outputLabel value="New Contracts: "   styleClass="outlabel" /><p:outputLabel value="#{acctRecItemService.acctRecUpper.newContracts}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="New Commissions: "  styleClass="outlabel"/><p:outputLabel value="#{acctRecItemService.acctRecUpper.newCommissions}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Claim Payments: "  styleClass="outlabel"/><p:outputLabel value="#{acctRecItemService.acctRecUpper.claimPayments}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Amendments: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.amendments}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Amendment Commissions: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.amendmentCommissions}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Claim Inspections: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.claimInspections}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Cancellations: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.cancellations}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Cancelled Commisions: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.cancelledCommissions}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Converted Reward Points: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.convertedRewardPoints}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Reinstatements: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.reinstatments}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Reinstated Commissions: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.reinstatedCommissions}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Batch Corrections: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.batchCorrections}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Transfer " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.transfers}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                    </h:panelGrid>
                    <p:separator />
                    <h:panelGrid columns="2" >
                        <p:outputLabel value="Current Charges: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.currentCharges}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                        <p:outputLabel value="Current Balance: " /><p:outputLabel value="#{acctRecItemService.acctRecUpper.currentBalance}" ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                    </h:panelGrid>
                </h:panelGrid>
            </h:panelGrid>

            <p:tabView     id="transItems"  cache="false" style="width: 1400px; height: 1000px;" >
                <p:ajax  event="tabChange" listener="#{acctRecItemService.tabChange}"   process="@form" update="@this" >
                </p:ajax>

                
                <p:tab title="Optional Items" id="optItemsTab"   ><!-- ariaLabel="#{acctRecItemService.acctHolderId}" -->
                    <ui:include src="AcctRecOptItems.xhtml" />       
                </p:tab>
                <p:tab title="Required Items" id="reqItemsTab"  ><!-- ariaLabel="#{acctRecItemService.acctHolderId}" -->
                    <ui:include src="AcctRecReqItems.xhtml" />       
                </p:tab>

            </p:tabView>


            <p:toolbar >
                <f:facet name="center">
                    <p:commandButton id="acSave" value="Save Receivable" icon="ui-icon-disk"  ajax="true"  process="@form"  actionListener="#{acctRecItemService.saveReceivable}">
                    </p:commandButton>
                    <p:commandButton id="acPrint" value="Save &and; Print Receivable"    process="@form "      actionListener="#{acctRecItemService.saveANDprint}"  >
                    </p:commandButton>
                </f:facet>
            </p:toolbar>

        </h:form>

    </h:body>
</html>
