<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <h:head>
        <title></title>
        <!--<style> A test Comment
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }
            .fa-dowc-btn-icon {
                border-radius: 0px;
                background-image: url("#{resource['images/DOWC_Icon.png']}") no-repeat !important;
                width: 26px;
                height: 26px;
                background-position: 0px 0px;
            }
        </style>-->
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Accounting" url="#" />
                    <p:menuitem value="Remittable" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Accounting</h1>
            <ui:define name="centerContent">

                <h:form id="acctPayForm">

                    <h:panelGrid id="acctPayGrid" columns="5"    styleClass="panelColumns">

                        <p:outputLabel for="aah" value="Account Holder: "/>
                        <p:autoComplete id="aah" value="#{acctRecService.acctRecTrans.acctHolderIn}" completeMethod="#{autoCompletion.completeAccountKeeperReceivables}"  size="60"/>
                        <p:outputLabel for="apadmin" value="Admin Company "/>
                        <p:inputText id="apadmin" value="#{acctRecService.acctRecTrans.adminCompany}"  size="50"/>

                        <p:commandButton   value="Get Balances" actionListener="#{acctRecService.getBalances()}" process="@form" update="@form" />

                    </h:panelGrid>

                    <p:separator />

                    <p:dataTable   id="apTbl"  var="apTbl"    value="#{acctRecService.acctRecvs}"     rowKey="#{apTbl.acctId}" selection="#{acctRecService.selectedAcctRec}"   selectionMode="single" emptyMessage=""  >
                        <p:ajax event="rowSelect" listener="#{acctRecService.onAcctRecRowSelect}" update=":acctPayForm:apMenu" oncomplete="PF('apMenu').show()" />

                        <p:column  headerText="Admin Company">
                            <h:outputText       value="#{apTbl.adminCompany}"  />
                        </p:column>

                        <p:column   headerText="Type" >
                            <h:outputText value="#{apTbl.acctType}" />
                        </p:column>

                        <p:column  headerText="Account Name">
                            <h:outputText value="#{apTbl.acctName}"  />
                        </p:column>

                        <p:column  headerText="Admin to Pay" >
                            <h:outputText value="#{apTbl.adminToPay}"  />
                        </p:column>

                        <p:column  headerText="Admin to Receive">
                            <h:outputText value="#{apTbl.adminToReceive}" />
                        </p:column>

                        <p:column   headerText="Admin Total">
                            <h:outputText value="#{apTbl.adminTotal}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="apMenu" widgetVar="apMenu" triggerEvent="rowSelect" trigger="apTbl" overlay="true"  my="left top"    at="left top"   >
                        <p:menuitem value="Details" update="apTbl"       actionListener="#{acctRecService.getAcctRecDetail}"    icon="ui-icon-star" >
                        </p:menuitem>
                        <p:menuitem value="Select items" update="apTbl"     actionListener="#{acctRecService.getSelectItems}"    icon="ui-icon-star">
                        </p:menuitem>
                    </p:menu>


                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

