<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <h:head>
        <title>Transaction Detail</title>
    </h:head>
    <h:body>



        <h:form id="acctTransDetailForm">

            <h:panelGrid  columns="3" >
                <h:panelGrid  columns="2" width="500">
                    <p:outputLabel value="Number: "  /><p:outputLabel value="#{acctTransService.acctTransDetail.transactionNumber}" style="font-weight:bold"/>
                    <p:outputLabel value="ID "  /><p:outputLabel value="#{acctTransService.acctTransDetail.transactionId}" style="font-weight:bold" />
                    <p:outputLabel value="From: " /><p:outputLabel value="#{acctTransService.acctTransDetail.accountName}" style="font-weight:bold" />
                    <p:outputLabel value="To: "  /><p:outputLabel value="#{acctTransService.acctTransDetail.adminCompany}" style="font-weight:bold" />
                    <p:outputLabel value="Status:  " /><p:outputLabel value="#{acctTransService.acctTransDetail.transStatus}" style="font-weight:bold" />
                </h:panelGrid>
                <h:panelGrid columns="2" width="500">
                    <p:outputLabel value="Type: " /><p:outputLabel value="#{acctTransService.acctTransDetail.transType}" style="font-weight:bold" />
                    <p:outputLabel value="Transaction Amount:  " /><p:outputLabel value="#{acctTransService.acctTransDetail.transactionAmount}" style="font-weight:bold"><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                    <p:outputLabel value="Applied Amount:  " /><p:outputLabel value="#{acctTransService.acctTransDetail.appliedAmount}" style="font-weight:bold"><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                    <p:outputLabel value="Sent Date  " /><p:outputLabel value="#{acctTransService.acctTransDetail.sentDate}" style="font-weight:bold"></p:outputLabel>
                    <p:outputLabel value="Recieved Date  " /><p:outputLabel value="#{acctTransService.acctTransDetail.receivedDate}" style="font-weight:bold"></p:outputLabel>
                </h:panelGrid>
            </h:panelGrid>


            <p:dataTable   id="tdTbl"  var="tdTbl"    value="#{acctTransService.acctRecItemsList}"  rowSelectMode="checkbox"    rowKey="#{tdTbl.ledgeId}"     emptyMessage=""    rows="10"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" lazy="true" scrollable="true" scrollHeight="350">

                <f:facet name="header">
                    Optional Items
                </f:facet>

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Type"     />
                        <p:column headerText="Contract"     />
                        <p:column headerText="VIN"      />
                        <p:column headerText="Customer"     />
                        <p:column headerText="Claim"     />
                        <p:column headerText="Admin Credits"     />
                        <p:column headerText="Admin Debts"     />
                        <p:column headerText="Commi. Credits"     />
                        <p:column headerText="Commi. Debts"     />
                        <p:column headerText="Entered Date"      />
                        <p:column headerText="Posted Date"     />
                    </p:row>
                    <p:row>
                      
                        <p:column filterBy="#{acctTransService.acctRecItem.ledgeType}" filterMatchMode="exact">
                            <f:facet name="filter">
                                <p:selectOneMenu id="optType" value="#{acctTransService.acctRecItem.ledgeType}"  >
                                    <f:selectItem  itemLabel="All" itemValue="All" />
                                    <f:selectItems value="#{acctTransService.ledgerTypeList}" />
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optCN" value="#{acctTransService.acctRecItem.contractNo}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optVIN" value="#{acctTransService.acctRecItem.vin}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optCust" value="#{acctTransService.acctRecItem.custLastName}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optClaimNo" value="#{acctTransService.acctRecItem.claimNo}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optAdminCredit" value="#{acctTransService.acctRecItem.adminCredit}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optAdminDebit" value="#{acctTransService.acctRecItem.adminDebit}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optCommCredit" value="#{acctTransService.acctRecItem.adminCommCredit}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optCommDebit" value="#{acctTransService.acctRecItem.adminCommDebit}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText   id="optEnterDate" value="#{acctTransService.acctRecItem.editDate}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  value="#{acctTransService.acctRecItem.postedDate}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="tdTbl"  listener="#{acctTransService.loadDetailTbl()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                    </p:row>
                </p:columnGroup>

               
                <p:column >
                    <h:outputText value="#{tdTbl.ledgeType}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{tdTbl.contractNo}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{tdTbl.vin}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{tdTbl.custLastName}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{tdTbl.claimNo}" />
                </p:column>
                <p:column >
                    <h:outputText value="#{tdTbl.adminCredit}"  >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
                <p:column >
                    <h:outputText value="#{tdTbl.adminDebit}"  >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
                <p:column >
                    <h:outputText value="#{tdTbl.adminCommCredit}"  >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
                <p:column >
                    <h:outputText value="#{tdTbl.adminCommDebit}"  >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
                <p:column>
                    <h:outputText value="#{tdTbl.editDate}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{tdTbl.postedDate}" />
                </p:column>

            </p:dataTable>

        </h:form>

    </h:body>
</html>
