<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <!-- <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }
            .fa-dowc-btn-icon {
                border-radius: 0px;
                background-image: url("#{resource['images/DOWC_Icon.png']}") no-repeat !important;
                width: 26px;
                height: 26px;
                background-position: 0px 0px;
            }
        </style>-->
    </h:head>
    <h:body>



        <h:form id="optItemForm">


            <p:dataTable   id="optTbl"  var="optTbl"    value="#{acctRecItemService.acctRecItemsList}"  rowSelectMode="checkbox"    rowKey="#{optTbl.ledgeId}"  selection="#{acctRecItemService.selectedAcctRecItems}"   emptyMessage=""    rows="10"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" lazy="true" scrollable="true" scrollHeight="350">
                <p:ajax event="rowSelectCheckbox" listener="#{acctRecItemService.onSelectCheckbox}" update=":acSelectForm:acctAmountGrid :acSelectForm:acctTransAmount"/>
                <p:ajax event="rowUnselectCheckbox" listener="#{acctRecItemService.onUnselectCheckbox}" update=":acSelectForm:acctAmountGrid :acSelectForm:acctTransAmount"/>
                <p:ajax event="toggleSelect" listener="#{acctRecItemService.onToggleSelect}" update=":acSelectForm:acctAmountGrid :acSelectForm:acctTransAmount" />

                <f:facet name="header">
                    Optional Items
                </f:facet>

                <p:columnGroup type="header">
                    <p:row>
                        <p:column selectionMode="multiple" style="width:16px;text-align:center"      />
                        <p:column headerText="Type"     />
                        <p:column headerText="Contract"     />
                        <p:column headerText="VIN"      />
                        <p:column headerText="Customer"     />
                        <p:column headerText="Claim"     />
                        <p:column headerText="Admin Credits"     />
                        <p:column headerText="Admin Debts"     />
                        <p:column headerText="Commi. Credits"     />
                        <p:column headerText="Commi. Debts"     />
                        <p:column headerText="Entered Date"      />
                        <p:column headerText="Posted Date"     />
                    </p:row>
                    <p:row>
                        <p:column >
                            
                        </p:column>
                        <p:column filterBy="#{acctRecItemService.acctRecItem.ledgeType}" filterMatchMode="exact">
                            <f:facet name="filter">
                                <p:selectOneMenu id="optType" value="#{acctRecItemService.acctRecItem.ledgeType}"  >
                                    <f:selectItem  itemLabel="All" itemValue="All" />
                                    <f:selectItems value="#{acctRecItemService.ledgerTypeList}" />
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:selectOneMenu>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optCN" value="#{acctRecItemService.acctRecItem.contractNo}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optVIN" value="#{acctRecItemService.acctRecItem.vin}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optCust" value="#{acctRecItemService.acctRecItem.custLastName}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optClaimNo" value="#{acctRecItemService.acctRecItem.claimNo}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optAdminCredit" value="#{acctRecItemService.acctRecItem.adminCredit}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optAdminDebit" value="#{acctRecItemService.acctRecItem.adminDebit}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optCommCredit" value="#{acctRecItemService.acctRecItem.adminCommCredit}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  id="optCommDebit" value="#{acctRecItemService.acctRecItem.adminCommDebit}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText   id="optEnterDate" value="#{acctRecItemService.acctRecItem.editDate}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText  value="#{acctRecItemService.acctRecItem.postedDate}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                    <p:ajax      event="change" update="optTbl"  listener="#{acctRecItemService.getOptItems()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                    </p:row>
                </p:columnGroup>

                <p:column selectionMode="multiple" style="width:16px;text-align:center"      />

                <p:column >
                    <h:outputText value="#{optTbl.ledgeType}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{optTbl.contractNo}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{optTbl.vin}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{optTbl.custLastName}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{optTbl.claimNo}" />
                </p:column>
                <p:column >
                    <h:outputText value="#{optTbl.adminCredit}"  >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
                <p:column >
                    <h:outputText value="#{optTbl.adminDebit}"  >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
                <p:column >
                    <h:outputText value="#{optTbl.adminCommCredit}"  >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
                <p:column >
                    <h:outputText value="#{optTbl.adminCommDebit}"  >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>
                <p:column>
                    <h:outputText value="#{optTbl.editDate}" />
                </p:column>
                <p:column>
                    <h:outputText value="#{optTbl.postedDate}" />
                </p:column>

            </p:dataTable>

             <h:panelGrid columns="2">
                    <p:commandButton id="saveRec" value="Save"    process="@form :acSelectForm "  actionListener="#{acctRecItemService.saveReceivable()}"/>
                    <p:commandButton id="saveRecANDPrt" value="Save and Print"    process="@form :acSelectForm "  actionListener="#{acctRecItemService.saveANDprint()}"  />
             </h:panelGrid>

        </h:form>

    </h:body>
</html>

