<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

        <script type="text/javascript">

        </script>
        <!-- <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }
            .fieldset-auto-width {
                display: inline-block;
            }
            .ui-fieldset-legend
            {
                font-size: 1.2em;
                font-weight: bold;
                display: inline-block;
                width: auto;
            }
        </style> -->
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            
            <ui:define name="centerContent">
            
                <h:form id="form">
                    <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Accounting" url="#" />
                    <p:menuitem value="Find Transaction" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Find Transaction</h1>
                    <p:growl id="growl" showDetail="true" />

                    <h:panelGrid id="atSearchGrid" columns="6"    styleClass="panelColumns">

                        <p:fieldset legend="Transaction"    >
                            <h:panelGrid  columns="2" >
                                <p:outputLabel for="transNumber" value="Number: "/>
                                <p:autoComplete id="transNumber" value="#{acctTransService.trans.transactionNumber}"   completeMethod="#{autoCompletion.completeTransactionNumber(s)}" />
                                <p:outputLabel for="transId" value="ID "/>
                                <p:inputText  id="transId" value="#{acctTransService.trans.transactionId}" />
                            </h:panelGrid>
                        </p:fieldset>

                        <p:fieldset legend="Account Holder"   >
                            <p:outputLabel for="acctHolderName" value="Name "/>
                            <p:inputText id="acctHolderName" value="#{acctTransService.trans.accountName}" />                                
                        </p:fieldset>

                        <p:fieldset legend="Contract"  >
                            <p:outputLabel for="atContractNo" value="Number "/>
                            <p:inputText id="atContractNo" value="#{acctTransService.trans.contractNo}" />
                        </p:fieldset>

                        <p:fieldset legend="Claim"  >
                            <p:outputLabel for="atClaimNo" value="Number "/>
                            <p:inputText id="atClaimNo" value="#{acctTransService.trans.claimNo}" />
                        </p:fieldset>

                        <h:panelGrid columns="1">
                            <p:commandButton id="bu1" value="Find Transaction(s)" actionListener="#{acctTransService.findTransactions()}" process="@form" update="@form" />
                            <p:commandButton id="resetBut" value="Reset"  >
                                <p:ajax update="atSearchGrid" resetValues="true"  listener="#{acctTransService.reset()}"/>
                            </p:commandButton>
                        </h:panelGrid>

                    </h:panelGrid>

                    <p:separator/>

                    <p:dataTable   id="ats"  var="ats"    value="#{acctTransService.transactions}"   selection="#{acctTransService.selectedTransaction}"  selectionMode="single"   rowKey="#{ats.transactionId}"  emptyMessage=""  rows="15"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" lazy="true" scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{acctTransService.onRowSelect}" update=":form:msgs :form:transMenu" oncomplete="PF('transMenu').show()" />


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column     colspan="7"  headerText="Transaction" />                                   
                                <p:column   colspan="3"  headerText="Account Holder" />                                   
                                <p:column   colspan="3" headerText="Transaction Dates" />    
                            </p:row>
                            <p:row>
                                <p:column headerText="Number" />
                                <p:column headerText="ID" />
                                <p:column headerText="Type" />
                                <p:column headerText="Status" />
                                <p:column headerText="Amount" />
                                <p:column headerText="Applied" />
                                <p:column headerText="Over/Under" />
                                <p:column headerText="Type" />
                                <p:column headerText="Name" />
                                <p:column headerText="Legal" />
                                <p:column headerText="Entered" />
                                <p:column headerText="Sent" />
                                <p:column headerText="Received" />
                            </p:row>
                        </p:columnGroup>


                        <p:column >
                            <h:outputText       value="#{ats.transactionNumber}"  />
                        </p:column>
                        <p:column >
                            <h:outputText       value="#{ats.transactionId}"  />
                        </p:column>

                        <p:column  >
                            <h:outputText value="#{ats.transactionType}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{ats.trasactionStatus}"  />
                        </p:column>

                        <p:column  >
                            <h:outputText value="#{ats.transactionAmount}"  />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{ats.amountApplied}" />
                        </p:column>

                        <p:column  >
                            <h:outputText value="#{ats.overUnder}"  />
                        </p:column>

                        <p:column  >
                            <h:outputText value="#{ats.accountType}"  />
                        </p:column>

                        <p:column  >
                            <h:outputText value="#{ats.accountName}"  />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{ats.accountLegal}"  />
                        </p:column>

                        <p:column  >
                            <h:outputText value="#{ats.transactionEntered}"  />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{ats.transactionSent}"  />
                        </p:column>

                        <p:column>
                            <h:outputText value="#{ats.transactionReceived}"  />
                        </p:column>
                    </p:dataTable>


                    <p:growl id="msgs" showDetail="true" />

                    <p:growl id="messages" showDetail="false"/>

                    <p:menu id="transMenu" widgetVar="transMenu" triggerEvent="rowSelect" trigger="ats" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Details" update="messages"    actionListener="#{acctTransService.getTransDetail}"   icon="ui-icon-star">
                        </p:menuitem>
                        <p:menuitem value="Print" update="messages"    actionListener="#{acctTransService.printTransaction}"   icon="ui-icon-star">
                        </p:menuitem>

                    </p:menu>
                </h:form>
                <p:separator/>

                <p>Copyright &copy; 2019 &middot; Dealer Owned Warranty Company &middot; All Rights Reserved.</p>       

            </ui:define>
        </ui:composition>
    </h:body>
</html>

