<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Customer Info</title>
    </h:head>
    <h:body>
         <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
         
        <h:form id="customerEdit" >
            
        <div class="container">
            <div id="customerInfo01" style="display: inline-block; vertical-align: top;" >
                <p:panel id="customerInfoPanel01" header="Customer Info" toggleable="false" widgetVar="widgetVarCustomerInfoPanel01" >
                    <p:panelGrid style="margin-top:20px">


                        <!-- First Name -->
                        <p:row>
                            <p:column>
                                <p:outputLabel for="customerFirstName01" value="First Name" style="font-weight: bold;"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="customerFirstName01" value="#{customerInfoService.cust.firstName}"/>
                            </p:column>
                        </p:row>

                        <!-- Last Name -->
                        <p:row>
                            <p:column>
                                <p:outputLabel for="customerLastName01" value="Last Name" style="font-weight: bold;"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="customerLastName01" value="#{customerInfoService.cust.lastName}" >
                                    <p:ajax event="mouseout" listener="#{customerInfoService.verifyCustomer()}" process="customerInfoPanel01" />
                                </p:inputText>
                            </p:column>
                        </p:row>

                        <!-- Business Name -->
                        <p:row>
                            <p:column>
                                <p:outputLabel for="customerBusinessName01" value="Business Name" style="font-weight: bold;"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="customerBusinessName01" value="#{customerInfoService.cust.businessName}"/>
                            </p:column>
                        </p:row>

                        
                        <!-- Email Address -->
                        <p:row>
                            <p:column>
                                <p:outputLabel for="customerEmailAddress01" value="Email Address" style="font-weight: bold;"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="customerEmailAddress01" value="#{customerInfoService.cust.customer.emailAddress}"/>
                            </p:column>
                        </p:row>
                        
                        <!-- Email Opt-In-->
                        <p:row>
                            <p:column>
                                <p:outputLabel for="emailOptIn" value="Email Opt_in" style="font-weight: bold;"/>
                            </p:column>
                            <p:column>
                                <p:selectBooleanCheckbox id="emailOptIn"  value="#{customerInfoService.cust.customer.emailOptIn}"  />
                            </p:column>
                        </p:row>

                        <!-- Payment Method -->
                        <p:row>
                            <p:column>
                                <p:outputLabel for="customerPaymentMethod01" value="Payment Method" style="font-weight: bold;"/>
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="customerPaymentMethod01" value="#{customerInfoService.preferedTransactioinTypeInd}">
                                    <f:selectItem itemLabel="Select Type" itemValue=""/>
                                    <f:selectItem itemLabel="Check" itemValue="Check"/>
                                    <f:selectItem itemLabel="Credit Card" itemValue="Card"/>
                                    <f:selectItem itemLabel="ACH" itemValue="ACH"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panel>
            </div>

            <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
            <div id="customerInfo01" style="display: inline-block; vertical-align: top;">
                <p:panel id="customerAddressPanel01" header="Customer Physical Address" toggleable="false" widgetVar="widgetVarCustomerAddressPanel01" >
                    <p:panelGrid style="margin-top:20px">

                        <p:row>
                            <p:column style="font-weight: bold;">Attention to</p:column>
                            <p:column colspan="5"><p:inputText style="width: 500px;"  value="#{customerInfoService.cust.paddr.attentionTo}"></p:inputText></p:column>

                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Line 1</p:column>
                            <p:column  colspan="5"><p:inputText style="width: 500px;" value="#{customerInfoService.cust.paddr.address1}"></p:inputText></p:column>

                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Line 2</p:column>
                            <p:column colspan="5"><p:inputText style="width: 500px;" value="#{customerInfoService.cust.paddr.address2}"></p:inputText></p:column>

                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Zip Code</p:column>
                            <p:column><p:inputText value="#{customerInfoService.cust.paddr.zipCode}"></p:inputText></p:column>
                            <p:column style="font-weight: bold;">City</p:column>
                            <p:column><p:inputText value="#{customerInfoService.cust.paddr.city}"></p:inputText></p:column>
                            <p:column style="font-weight: bold;">State</p:column>
                            <p:column>
                                <p:selectOneMenu id="stateMapP" value="#{customerInfoService.regionCodeP}">
                                    
                                    <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                    <f:selectItems   value="#{customerInfoService.stateMap}" />
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Phone</p:column>
                            <p:column><p:inputMask mask="(999) 999-9999" value="#{customerInfoService.cust.paddr.phoneNumber}" /></p:column>
                            <p:column style="font-weight: bold;">Ext.</p:column>
                            <p:column><p:inputText value="#{customerInfoService.cust.paddr.extension}"></p:inputText></p:column>
                            <p:column style="font-weight: bold;">Fax</p:column>
                            <p:column><p:inputMask mask="(999)999-9999" value="#{customerInfoService.cust.paddr.fax}"></p:inputMask></p:column>
                        </p:row>


                    </p:panelGrid>
                </p:panel>
                <br/>
                <div>
                    <p:outputLabel value="Same as Physical Address " />
                    <p:selectBooleanCheckbox value="#{customerInfoService.sameAsPaddr}" >
                        <p:ajax  update="customerBillingAddressPanel01"  />
                    </p:selectBooleanCheckbox>
                </div>

                <p:panel id="customerBillingAddressPanel01" header="Customer Billing Address" toggleable="true" widgetVar="widgetVarCustomerBillingAddressPanel01"  toggleOrientation="horizontal" collapsed="#{customerInfoService.sameAsPaddr}">
                    <p:panelGrid style="margin-top:20px">

                        <p:row>
                            <p:column style="font-weight: bold;">Attention to</p:column>
                            <p:column colspan="5"><p:inputText style="width: 500px;" value="#{customerInfoService.cust.baddr.attentionTo}"></p:inputText></p:column>

                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Line 1</p:column>
                            <p:column  colspan="5"><p:inputText style="width: 500px;" value="#{customerInfoService.cust.baddr.address1}"></p:inputText></p:column>

                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Line 2</p:column>
                            <p:column colspan="5"><p:inputText style="width: 500px;" value="#{customerInfoService.cust.baddr.address2}"></p:inputText></p:column>

                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Zip Code</p:column>
                            <p:column><p:inputText value="#{customerInfoService.cust.baddr.zipCode}"></p:inputText></p:column>
                            <p:column style="font-weight: bold;">City</p:column>
                            <p:column><p:inputText value="#{customerInfoService.cust.baddr.city}"></p:inputText></p:column>
                            <p:column style="font-weight: bold;">State</p:column>
                            <p:column>
                                <p:selectOneMenu id="stateMapB" value="#{customerInfoService.regionCodeB}">
                                    <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                    <f:selectItems   value="#{customerInfoService.stateMap}" />
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column style="font-weight: bold;">Phone</p:column>
                            <p:column><p:inputMask mask="(999) 999-9999" value="#{customerInfoService.cust.baddr.phoneNumber}"/></p:column>
                            <p:column style="font-weight: bold;">Ext.</p:column>
                            <p:column><p:inputText value="#{customerInfoService.cust.baddr.extension}"></p:inputText></p:column>
                            <p:column style="font-weight: bold;">Fax</p:column>
                            <p:column><p:inputText value="#{customerInfoService.cust.baddr.fax}"></p:inputText></p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panel>
                <p:commandButton  id="saveCustomer"  value="Save" actionListener="#{customerInfoService.saveCustomer()}"   />
                <p:commandButton id="resetCustomer" value="Reset"   >
                    <p:ajax update="customerEdit" resetValues="true"  listener="#{customerInfoService.reset()}"/>
                </p:commandButton>
                <p:commandButton   value="Cancel" actionListener="#{customerInfoService.cancel()}"  />
            </div>
        </div>
        </h:form>
    </h:body>
</html>

