<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Add (#{claimNoteService.claimNumber}) </title>
    </h:head>
    <h:body>
       <h:form id="addClaimNoteForm">
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel value="Notes" for="cnta"/>
                <p:inputTextarea id="cnta" value="#{claimNoteService.note}"     required="yes"/>
            </h:panelGrid>
           <p:separator />
           <center>
               <p:commandButton id="saveClaimNote" value="Save"     actionListener="#{claimNoteService.saveClaimNote}"  />
           </center>
       </h:form>
    </h:body>
</html>

