<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Dealers</title>
    </h:head>
    <h:body>
        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:form id="dealerEditForm">
            <p:growl id="dealerMsgs"/>
            <div class="container">
                <div id="dealerInfo01" style="display: inline-block; vertical-align: top;" >
                    <p:panel id="dealerInfoPanel01" header="Dealer Info" widgetVar="widgetVarAgentInfoPanel01">
                        <p:panelGrid style="margin-top:20px">

                            <!-- Name -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerName01" value="Name" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dealerName01" value="#{dealerService.dealers.dealerName}" >
                                        <p:ajax event="mouseout" listener="#{dealerService.verifyDealerName}" process="dealerName01" />
                                    </p:inputText>
                                </p:column>
                            </p:row>

                            <!-- Legal Name -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerLegalName01" value="Legal Name" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dealerLegalName01" value="#{dealerService.dealers.legalName}"/>
                                </p:column>
                            </p:row>

                            <!-- Number -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerNumber01" value="Number" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dealerNumber01" value="#{dealerService.dealers.dealerNumber}"/>
                                </p:column>
                            </p:row>

                            <!-- Reinsurer 
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerReinsurer01" value="Reinsurer" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerReinsurer01" value="#{dealerService.dealers.reinsurer}">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItem itemLabel="2 Mannys - DO" itemValue="2MannysDO"/>
                                        <f:selectItem itemLabel="2 Mannys Auto Sales RE" itemValue="2MannysAutoSalesRE"/>
                                        <f:selectItem itemLabel="216 Auto Sales RE" itemValue="216AutoSalesRE"/>
                                        <f:selectItem itemLabel="21st Century - DO" itemValue="21stCenturyDO"/>
                                        <f:selectItem itemLabel="2nd Gear Motors - DO" itemValue="2ndGearMotorsDO"/>
                                        <f:selectItem itemLabel="5 Star Auto Sales RE" itemValue="5StarAutoSalesRE"/>
                                        <f:selectItem itemLabel="7th Street Auto Sales RE" itemValue="7thStreetAutoSalesRE"/>
                                        <f:selectItem itemLabel="Abernethy Chrysler Jeep Dodge RE" itemValue="AbernethyChryslerJeepDodgeRE"/>
                                        <f:selectItem itemLabel="AC Motors Group" itemValue="ACMotorsGroup"/>
                                        <f:selectItem itemLabel="Adelphi Trade RE" itemValue="AdelphiTradeRE"/>
                                        <f:selectItem itemLabel="Advanced Auto Mall RE" itemValue="AdvancedAutoMallRE"/>
                                        <f:selectItem itemLabel="AG Auto Consulting Corp RE" itemValue="AGAutoConsultingCorpRE"/>
                                        <f:selectItem itemLabel="All about Auto Wholesale RI" itemValue="AllAboutAutoWholesaleRI"/>
                                        <f:selectItem itemLabel="Allen Hornback - WHS" itemValue="AllenHornbackWHS"/>
                                        <f:selectItem itemLabel="AMG DO" itemValue="AMGDO"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            -->

                            <!-- Tax Id -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerTaxId01" value="Tax Id" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dealerTaxId01" value="#{dealerService.dealers.taxId}"/>
                                </p:column>
                            </p:row>

                            <!-- GL Account Code -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerGLAccountCode01" value="GL Account Code" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dealerGLAccountCode01" value="#{dealerService.dealers.GLcode}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- Effective Date -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerEffectiveDate01" value="Start Date" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:calendar id="dealerEffectiveDate01" value="#{dealerService.dealers.effectiveDate}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- System Code 
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerSystemCode01" value="System Code" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dealerSystemCode01" value="#{dealerService.dealers.systemCode}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>
                            -->
                            <!-- dealer Type -->

                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Dealer Type" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerType" value="#{dealerService.dealers.dealerType}" effect="fold"  editable="true" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemLabel="Please select: " itemValue=""/>
                                        <f:selectItems value="#{dealerService.dealerTypes}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- Client Code -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerClientCode01" value="Client Code" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerClientCode01" value="#{dealerService.dealers.clientCode}">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItem itemLabel="GRA" itemValue="GRA"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- Producer Id -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerProducerId01" value="Producer Id" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dealerProducerId01" value="#{dealerService.dealers.producerId}"/>
                                </p:column>
                            </p:row>

                            <!-- Email Address -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerEmailAddress01" value="Email Address" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dealerEmailAddress01" value="#{dealerService.dealers.email}"/>
                                </p:column>
                            </p:row>

                            <!-- Email Opt-In -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerEmailOptIn01" value="Email Opt-In" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="dealerEmailOptIn01" value="#{dealerService.dealers.emailOptIn}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- Hold Payables -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerHoldPayables01" value="Hold Payables" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="dealerHoldPayables01" value="#{dealerService.dealers.holdPayables}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>


                            <!-- Direct Agent -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerDirectAgent01" value="Agent" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerDirectAgent01" value="#{dealerService.dealers.directAgent}" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemLabel="None" itemValue="None" />
                                        <f:selectItems   value="#{dealerService.directAgents}" />

                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- Dealer Group -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerDealerGroup01" value="Dealer Group" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerDealerGroup01" value="#{dealerService.dealers.dealerGroup}" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItems   value="#{dealerService.dealerGroups}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- Bill To -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerBillTo01" value="Bill To" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerBillTo01" value="#{dealerService.dealers.billTo}">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItem itemLabel="Lien Holder" itemValue="LienHolder"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>


                            <!-- Rate Visibility 
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerRateVisibility01" value="Rate Visibility" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerRateVisibility01" value="#{dealerService.dealers.rateVisibility}">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItem itemLabel="2 Mannys Auto Sales" itemValue="2MannysAutoSales"/>
                                        <f:selectItem itemLabel="216 Auto Sales" itemValue="216AutoSales"/>
                                        <f:selectItem itemLabel="21st Century" itemValue="21stCentury"/>
                                        <f:selectItem itemLabel="2nd Gear Motors" itemValue="2ndGearMotors"/>
                                        <f:selectItem itemLabel="5 Star Auto Sales" itemValue="5StarAutoSales"/>
                                        <f:selectItem itemLabel="7th Street Auto Sales" itemValue="7thStreetAutoSales"/>
                                        <f:selectItem itemLabel="A and M MotorSports" itemValue="AandMMotorSports"/>
                                        <f:selectItem itemLabel="AC Wholesale Autos" itemValue="ACWholesaleAutos"/>
                                        <f:selectItem itemLabel="AandC Wholesale Autos" itemValue="AandCWholesaleAutos"/>
                                        <f:selectItem itemLabel="Abernethy Chrysler Jeep Dodge" itemValue="AbernethyChryslerJeepDodge"/>
                                        <f:selectItem itemLabel="AC Motor Group" itemValue="ACMotorGroup"/>
                                        <f:selectItem itemLabel="Action Powersports" itemValue="ActionPowersports"/>
                                        <f:selectItem itemLabel="Adelphi Trade LLC" itemValue="AdelphiTradeLLC"/>
                                        <f:selectItem itemLabel="Advanced Auto Mall" itemValue="AdvancedAutoMall"/>
                                        <f:selectItem itemLabel="AG Auto Consulting Corp" itemValue="AGAutoConsultingCorp"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            -->

                            <!-- Remit Rule -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerRemitRule01" value="Remit Rule" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerRemitRule01" value="#{dealerService.dealers.remitRule}" dynamic="true">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItems   value="#{dealerService.remitRules}" />
                                        
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- Lien Holder -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerLienHolder01" value="Lien Holder" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerLienHolder01" value="#{dealerService.dealers.lienHolder}">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItem itemLabel="Marietta Car Center" itemValue="MariettaCarCenter"/>
                                        <f:selectItem itemLabel="Mohawk Auto" itemValue="MohawkAuto"/>
                                        <f:selectItem itemLabel="Smart Street Auto" itemValue="SmartStreetAuto"/>
                                        <f:selectItem itemLabel="U.S. Auto Sales, Inc." itemValue="USAutoSalesInc"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- Payment Method -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerPaymentMethod01" value="Payment Method" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerPaymentMethod01" value="#{dealerService.dealers.prefpayMethod}">
                                        <f:selectItem itemLabel="Select Method" itemValue=""/>
                                        <f:selectItem itemLabel="Check" itemValue="Check"/>
                                        <f:selectItem itemLabel="Credit Card" itemValue="CreditCard"/>
                                        <f:selectItem itemLabel="ACH" itemValue="ACH"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>


                        </p:panelGrid>
                    </p:panel>
                </div><!-- Close div#dealerInfo01 --> 

                <div id="dealerInfo02" style="display: inline-block; vertical-align: top;">
                    <p:panel id="dealerAddressPanel01" header="Dealer Physical Address" toggleable="false"  >
                        <p:panelGrid style="margin-top:20px">

                            <p:row>
                                <p:column style="font-weight: bold;">Attention to</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{dealerService.dealers.myAddress.paddr.attentionTo}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address1</p:column>
                                <p:column  colspan="5"><p:inputText style="width: 500px;" value="#{dealerService.dealers.myAddress.paddr.address1}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 2</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{dealerService.dealers.myAddress.paddr.address2}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Zip Code</p:column>
                                <p:column><p:inputText value="#{dealerService.dealers.myAddress.paddr.zipCode}"/></p:column>
                                <p:column style="font-weight: bold;">City</p:column>
                                <p:column><p:inputText value="#{dealerService.dealers.myAddress.paddr.city}"/></p:column>
                                <p:column style="font-weight: bold;">State</p:column>
                                <p:column>
                                    <p:selectOneMenu id="stateMapP" value="#{dealerService.dealers.myAddress.regionP}">
                                        <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems   value="#{dealerService.dealers.myAddress.stateMap}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Phone</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{dealerService.dealers.myAddress.paddr.phoneNumber}" /></p:column>
                                <p:column style="font-weight: bold;">Ext.</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{dealerService.dealers.myAddress.paddr.extension}" /></p:column>
                                <p:column style="font-weight: bold;">Fax</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{dealerService.dealers.myAddress.paddr.fax}" /></p:column>
                            </p:row>


                        </p:panelGrid>
                    </p:panel>
                    <br/>
                    <div>
                        <p:outputLabel value="Same as Physical Address " />
                        <p:selectBooleanCheckbox value="#{dealerService.dealers.myAddress.sameAsPaddr}" />
                    </div>

                    <p:panel id="customerBillingAddressPanel01" header="User Billing Address" toggleable="true" widgetVar="widgetVarCustomerBillingAddressPanel01">
                        <p:panelGrid style="margin-top:20px">

                            <p:row>
                                <p:column style="font-weight: bold;">Attention to</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{dealerService.dealers.myAddress.baddr.attentionTo}"/></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 1</p:column>
                                <p:column  colspan="5"><p:inputText style="width: 500px;" value="#{dealerService.dealers.myAddress.baddr.address1}"/></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 2</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{dealerService.dealers.myAddress.baddr.address2}"/></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Zip Code</p:column>
                                <p:column><p:inputText value="#{dealerService.dealers.myAddress.baddr.zipCode}"/></p:column>
                                <p:column style="font-weight: bold;">City</p:column>
                                <p:column><p:inputText value="#{dealerService.dealers.myAddress.baddr.city}"/></p:column>
                                <p:column style="font-weight: bold;">State</p:column>
                                <p:column>
                                    <p:selectOneMenu id="stateMapB" value="#{dealerService.dealers.myAddress.regionB}">

                                        <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems   value="#{dealerService.dealers.myAddress.stateMap}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Phone</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{dealerService.dealers.myAddress.baddr.phoneNumber}" /></p:column>
                                <p:column style="font-weight: bold;">Ext.</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{dealerService.dealers.myAddress.baddr.extension}" /></p:column>
                                <p:column style="font-weight: bold;">Fax</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{dealerService.dealers.myAddress.baddr.fax}" /></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>

                    <br/>

                    <div class="other">
                        <!-- NSD -->
                        <p:outputLabel for="dealerNSD01" value="NSD  " style="font-weight: bold;"/>
                        <p:inputText id="dealerNSD01" value="#{dealerService.dealers.NSD}"/>
                        <br/>
                        <br/>
                        <!-- TWG -->
                        <p:outputLabel for="dealerTWG01" value="TWG  " style="font-weight: bold;"/>
                        <p:inputText id="dealerTWG01" value="#{dealerService.dealers.TWG}"/>
                        <br/>
                        <br/>
                        <!-- Clip Type -->
                        <p:outputLabel for="dealerClipType01" value="Clip Type  " style="font-weight: bold;"/>
                        <p:selectOneMenu id="dealerClipType01" value="#{dealerService.dealers.clipType}">
                            <f:selectItem itemLabel="N/A" itemValue="NA"/>
                            <f:selectItem itemLabel="1stDollar" itemValue="1stDollar"/>
                            <f:selectItem itemLabel="Aggregate" itemValue="Aggregate"/>

                        </p:selectOneMenu>

                    </div>

                </div>
                <br/>
                <br/>
                <p:commandButton  id="saveDealer"  value="Save" actionListener="#{dealerService.saveDealer()}"   />
                <p:commandButton id="resetUser" value="Reset"   >
                    <p:ajax update="dealerEditForm" resetValues="true"  listener="#{dealerService.reset()}"/>
                </p:commandButton>
                <p:commandButton   id="cancelDealer" value="Cancel" actionListener="#{dealerService.cancel()}"  />

            </div><!-- Close div.container -->
        </h:form>
    </h:body>
</html>



