<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Dealer Groups</title>
    </h:head>
    <h:body>
        <h:form id="dgEditForm">
            <p:growl id="dgMsgs"/>
            <div class="container">
                <div id="dgInfo01" style="display: inline-block; vertical-align: top;" >
                    <p:panel id="dgInfoPanel01" header="DealerGroup Info" widgetVar="dgInfoPanel01">
                        <p:panelGrid style="margin-top:20px">

                            <!-- Name -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dgName01" value="Name" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dgName01" value="#{dealerGroupService.dealerGroup.dealerGroupName}" />
                                </p:column>
                            </p:row>

                            

                            

                            <!-- Tax Id -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dgTaxId01" value="Tax Id" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dgTaxId01" value="#{dealerGroupService.dealerGroup.taxId}"/>
                                </p:column>
                            </p:row>

                            <!-- GL Account Code -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dgGLAccountCode01" value="GL Account Code" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dgGLAccountCode01" value="#{dealerGroupService.dealerGroup.GLcode}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- System Code -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dgSystemCode01" value="System Code" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dgSystemCode01" value="#{dealerGroupService.dealerGroup.systemCode}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            

                            

                            <!-- Email Address -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dgEmailAddress01" value="Email Address" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="dgEmailAddress01" value="#{dealerGroupService.dealerGroup.email}"/>
                                </p:column>
                            </p:row>

                            <!-- Email Opt-In -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dgEmailOptIn01" value="Email Opt-In" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="dgEmailOptIn01" value="#{dealerGroupService.dealerGroup.emailOptIn}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- Hold Payables -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dgHoldPayables01" value="Hold Payables" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="dgHoldPayables01" value="#{dealerGroupService.dealerGroup.holdPayables}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>


                           

                            
                            
                            

                           

                            <!-- Remit Rule -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel value="Remit Rule" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dgRemitRule01" value="#{dealerGroupService.dealerGroup.remitRule}">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItems   value="#{dealerGroupService.remitRules}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                          

                            <!-- Payment Method -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Payment Method" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dgPaymentMethod01" value="#{dealerGroupService.dealerGroup.prefpayMethod}">
                                        <f:selectItem itemLabel="Select Method" itemValue=""/>
                                        <f:selectItem itemLabel="Check" itemValue="Check"/>
                                        <f:selectItem itemLabel="Credit Card" itemValue="CreditCard"/>
                                        <f:selectItem itemLabel="ACH" itemValue="ACH"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                    </p:panel>
                </div><!-- Close div#dgInfo01 --> 

                <div id="dgInfo02" style="display: inline-block; vertical-align: top;">
                    <p:panel id="dgAddressPanel01" header="Physical Address" toggleable="false" widgetVar="dgAddressPanel01" >
                        <p:panelGrid style="margin-top:20px">

                            <p:row>
                                <p:column style="font-weight: bold;">Attention to</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{dealerGroupService.dealerGroup.myAddress.paddr.attentionTo}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address</p:column>
                                <p:column  colspan="5"><p:inputText style="width: 500px;" value="#{dealerGroupService.dealerGroup.myAddress.paddr.address1}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 2</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{dealerGroupService.dealerGroup.myAddress.paddr.address2}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Zip Code</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.paddr.zipCode}"></p:inputText></p:column>
                                <p:column style="font-weight: bold;">City</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.paddr.city}"></p:inputText></p:column>
                                <p:column style="font-weight: bold;" >State</p:column>
                                <p:column >
                                    <p:selectOneMenu id="stateMapP" value="#{dealerGroupService.dealerGroup.myAddress.regionP}">
                                    
                                    <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                    <f:selectItems   value="#{dealerGroupService.dealerGroup.myAddress.stateMap}" />
                                </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Phone</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.paddr.phoneNumber}"></p:inputText></p:column>
                                <p:column style="font-weight: bold;">Ext.</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.paddr.extension}"></p:inputText></p:column>
                                <p:column style="font-weight: bold;">Fax</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.paddr.fax}"></p:inputText></p:column>
                            </p:row>


                        </p:panelGrid>
                    </p:panel>
                    <br/>
                    <div>
                        <p:outputLabel value="Same as Physical Address " />
                        <p:selectBooleanCheckbox value="#{dealerGroupService.dealerGroup.myAddress.sameAsPaddr}" />
                    </div>

                    <p:panel id="dgBillingAddressPanel01" header="Billing Address" toggleable="true" widgetVar="dgBillingAddressPanel01">
                        <p:panelGrid style="margin-top:20px">

                            <p:row>
                                <p:column style="font-weight: bold;">Attention to</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{dealerGroupService.dealerGroup.myAddress.baddr.attentionTo}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address</p:column>
                                <p:column  colspan="5"><p:inputText style="width: 500px;" value="#{dealerGroupService.dealerGroup.myAddress.baddr.address1}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 2</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{dealerGroupService.dealerGroup.myAddress.baddr.address2}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;" >Zip Code</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.baddr.zipCode}"></p:inputText></p:column>
                                <p:column style="font-weight: bold;">City</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.baddr.city}"></p:inputText></p:column>
                                <p:column style="font-weight: bold;" >State</p:column>
                                <p:column>
                                    <p:selectOneMenu id="stateMapB" value="#{dealerGroupService.dealerGroup.myAddress.regionB}">
                                    
                                    <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                    <f:selectItems   value="#{dealerGroupService.dealerGroup.myAddress.stateMap}" />
                                </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Phone</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.baddr.phoneNumber}"></p:inputText></p:column>
                                <p:column style="font-weight: bold;">Ext.</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.baddr.extension}"></p:inputText></p:column>
                                <p:column style="font-weight: bold;">Fax</p:column>
                                <p:column><p:inputText value="#{dealerGroupService.dealerGroup.myAddress.baddr.fax}"></p:inputText></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>

                    <br/>

                    
                </div>
                <br/>
                <br/>
                <p:commandButton  id="saveDealerGroup"  value="Save" actionListener="#{dealerGroupService.saveDealerGroup()}"   />
                <p:commandButton id="resetDG" value="Reset"   >
                    <p:ajax update="dgEditForm" resetValues="true"  listener="#{dealerGroupService.reset()}"/>
                </p:commandButton>
                <p:commandButton   id="cancelDG" value="Cancel" actionListener="#{dealerGroupService.cancel()}"  />

            </div><!-- Close div.container -->
        </h:form>
    </h:body>
</html>

