<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Dealers</title>
    </h:head>
    <h:body>
        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:form id="addDisbursementForm">
            <div class="container">
                <div  style="display: inline-block; vertical-align: top;" >
                    <p:panel  header="Create Disbursement" >
                        <p:panelGrid style="margin-top:20px">

                            <!-- Balance Type -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Balance Type" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText  value="#{disbursementService.details.balanceType}" >
                                    </p:inputText>
                                </p:column>
                            </p:row>

                            <!-- Code -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Code" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{disbursementService.details.code}" effect="fold"  editable="true" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemLabel="Please select: " itemValue=""/>
                                        <f:selectItems  value="#{claimMisc.loadDisbursementCode()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- Group -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel value="Group" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{disbursementService.details.disbursementGroup}" effect="fold"  editable="true" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemLabel="Please select: " itemValue=""/>
                                        <f:selectItems value="#{claimMisc.loadDisbursementGroup()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            
                            <!-- Type -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel value="Type" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{disbursementService.details.disbursementType}" effect="fold"  editable="true" filter="true" filterMatchMode="contains">
                                        <f:selectItem itemLabel="Please select: " itemValue=""/>
                                        <f:selectItems value="#{claimMisc.loadDtDisbursementType()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            
                            <!-- Refund Type -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel value="Refund Type" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{disbursementService.details.refundType}" effect="fold"  editable="true" >
                                        <f:selectItem itemLabel="Please select: " itemValue=""/>
                                        <f:selectItems value="#{claimMisc.loadDtDisbursementRefundType()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            
                            <!-- Amount Type -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel value="Refund Type" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{disbursementService.details.amountType}" effect="fold"  editable="true" >
                                        <f:selectItem itemLabel="Please select: " itemValue=""/>
                                        <f:selectItems value="#{claimMisc.loadDtDisbursementRefundType()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                           

                            <!-- Amount -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Amount" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText value="#{disbursementService.details.amount}"/>
                                </p:column>
                            </p:row>
                            
                            <!-- Calculated On -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Calculated On" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{disbursementService.details.amountType}" effect="fold"  editable="true" >
                                        <f:selectItem itemLabel="Please select: " itemValue=""/>
                                        <f:selectItems value="#{claimMisc.loadDisbursementCode()}"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            
                            <!-- Is Renewable -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Is Renewable" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox value="#{disbursementService.details.isRenewable}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                           <!-- Memo -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Memo" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText value="#{disbursementService.details.memo}"/>
                                </p:column>
                            </p:row>

                            <!-- Effective Date -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Date Effective" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:calendar  value="#{disbursementService.details.effectiveDate}"/>
                                </p:column>
                            </p:row>
                            
                            <!-- Expires Date -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Date Expires" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:calendar  value="#{disbursementService.details.expiresDate}"/>
                                </p:column>
                            </p:row>
                            
                            <!-- Criteria -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Criteria" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                    </p:panel>
                </div>

                <br/>
                <br/>
                <p:commandButton  id="saveDealer"  value="Save" actionListener="#{disbursementService.saveDisbursement()}"   />
                <p:commandButton id="resetUser" value="Reset"   >
                    <p:ajax update="addDisbursementForm" resetValues="true"  listener="#{disbursementService.reset()}"/>
                </p:commandButton>
                <p:commandButton   id="cancelDealer" value="Cancel" actionListener="#{disbursementService.cancel()}"  />

            </div><!-- Close div.container -->
        </h:form>
    </h:body>
</html>

