<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:p="http://primefaces.org/ui"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Create Plan</title>
        <style>
            .panelColumns td {
                vertical-align: top;
            }
        </style>
    </h:head>
    <h:body>
        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:form id="addPlanForm">
            <h:panelGrid  id="addPlanPanelGrid" columns="4" cellpadding="5" styleClass="panelColumns">


                <h:panelGrid columns="2" cellpadding="5">
                    
                    <p:outputLabel for="productNames" value="Product: " />
                    <p:selectOneMenu id="productNames" value="#{planService.plans.productName}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.products}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Name" for="planName"/>
                    <p:inputText id="planName" value="#{planService.plans.planName}"     required="yes" >
                        <p:ajax event="mouseout" listener="#{planService.checkPlanName}" process="planName" />
                    </p:inputText>

                    <p:outputLabel value="Code" for="planCode"/>
                    <p:inputText id="planCode" value="#{planService.plans.planCode}"     required="yes" />

                    <p:outputLabel value="Description" for="planDesc"/>
                    <p:inputTextarea id="planDesc" value="#{planService.plans.description}"  />

                    <p:outputLabel for="psg" value="Plan Sales Group " />
                    <p:selectOneMenu id="psg" value="#{planService.plans.planSalesGroup}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.planSalesGroups}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="planType" value="Type " />
                    <p:selectOneMenu id="planType" value="#{planService.plans.planType}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.planTypes}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="vinClassingTable" value="VIN Classing Table " />
                    <p:selectOneMenu id="vinClassingTable" value="#{planService.plans.vinClassingTable}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.vinClassingTables}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="plandisbTbl" value="Disbursement Table " />
                    <p:selectOneMenu id="plandisbTbl" value="#{planService.plans.disbursementType}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.disbursementTypes}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="planEffectiveDate" value="Date Effective "/>
                    <p:calendar  id="planEffectiveDate" value="#{planService.plans.effectiveDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>

                    <p:outputLabel for="planExpireDate" value="Date Expires "/>
                    <p:calendar  id="planExpireDate" value="#{planService.plans.expireDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>
                </h:panelGrid>


                <h:panelGrid columns="3" cellpadding="5">
                    <h:outputText id="planMTM" value="Minimum Term Months "  />
                    <p:inputText value="#{planService.plans.minimumTermMonths}"   />
                    <p:tooltip for="planMTM" value="When a plan start type is based of the inservice date, we will \nvalidate the customer receives at least this many months of \ncoverage"   position="bottom"/>

                    <h:outputText id="planMFM" value="Max Finance Of MSRP/NADA " />
                    <p:inputText value="#{planService.plans.maxFinance}" />
                    <p:tooltip for="planMFM" value="Max percent of MSRP/NADA that is allowed to be financed"   position="bottom"/>

                    <p:outputLabel id="planVPTtip" for="planVPT" value="Vehicle Purchase Types " />
                    <p:selectOneMenu id="planVPT" value="#{planService.plans.vehiclePurchaseType}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.vehiclePurchaseTypes}" />
                    </p:selectOneMenu>
                    <p:tooltip for="planVPTtip" value=""   position="bottom"/>

                    <p:outputLabel id="planAFTtip" for="planAFT" value="Available Finance Types " />
                    <p:selectOneMenu id="planAFT" value="#{planService.plans.availableFinanceType}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.availableFinanceTypes}" />
                    </p:selectOneMenu>
                    <p:tooltip for="planAFTtip" value=""   position="bottom"/>

                </h:panelGrid>


                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText  value="Reimbursement Amount " />
                    <p:inputText value="#{planService.plans.reimbursementAmount}" />

                    <p:outputLabel  value="Schedule " />
                    <p:selectOneMenu  value="#{planService.plans.ppmSchedule}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.ppmSchedules}" />
                    </p:selectOneMenu>

                    <p:outputLabel  value="Start Schedule " />
                    <p:selectOneMenu  value="#{planService.plans.startSchedule}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.startSchedules}" />
                    </p:selectOneMenu>

                    <p:outputLabel  value="Earning Method " />
                    <p:selectOneMenu  value="#{planService.plans.earningMethod}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.earningMethods}" />
                    </p:selectOneMenu>

                    <h:outputText  value="Earning Wait Months " />
                    <p:inputText value="#{planService.plans.earningWaitMonths}" />

                    <p:outputLabel  value="Default Deductible " />
                    <p:selectOneMenu  value="#{planService.plans.defaultDeductible}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.defaultDeductibles}" />
                    </p:selectOneMenu>

                    <p:outputLabel  value="Limit Deductible to Default " />
                    <p:selectOneMenu  value="#{planService.plans.limitDeductibletoDefault}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.limitDeductibletoDefaults}" />
                    </p:selectOneMenu>
                </h:panelGrid>

                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputText  value="Wait Days " />
                    <p:inputText value="#{planService.plans.waitDays}" />

                    <h:outputText  value="Transfer Fee" />
                    <p:inputText value="#{planService.plans.defaultTransferFee}" />

                    <p:outputLabel  value="Expire Time " />
                    <p:selectOneMenu  value="#{planService.plans.planExpireTimeTypeInd}" effect="fold"  editable="true">                        
                        <f:selectItems value="#{planService.planExpireTimeTypeInds}" />
                    </p:selectOneMenu>

                    <h:outputText  value="Cancel Quote Days" />
                    <p:inputText value="#{planService.plans.cancelRequestValidDays}" />

                    <h:outputText  value="Cancel Quote Miles" />
                    <p:inputText value="#{planService.plans.cancelRequestValidMiles}" />
                </h:panelGrid>
            </h:panelGrid>

            <center>
                <p:commandButton id="saveProduct" value="Save"     actionListener="#{planService.savePlan}"  />
            </center>

        </h:form>
    </h:body>
</html>

