<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:p="http://primefaces.org/ui"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Create Program</title>
    </h:head>
    <h:body>
        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:form id="addProgramForm">
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="adminCompany" value="Admin Company " />
                <p:selectOneMenu id="adminCompany" value="#{programService.ps.adminCompany}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{programService.adminCompanies}" />
                </p:selectOneMenu>
                <p:outputLabel value="Name" for="programName"/>
                <p:inputText id="programName" value="#{programService.ps.name}"     required="yes" >
                    <p:ajax event="mouseout" listener="#{programService.checkProgramName}" process="programName" />
                </p:inputText>
                <p:outputLabel value="Code" for="programCode"/>
                <p:inputText id="programCode" value="#{programService.ps.code}"  >
                    <p:ajax event="mouseout" listener="#{programService.checkProgramCode}" process="programCode" />
                </p:inputText>
                <p:outputLabel value="Description" for="progDesc"/>
                <p:inputTextarea id="progDesc" value="#{programService.ps.description}"  />
                <p:outputLabel for="disbTbl" value="Disbursement Table " />
                <p:selectOneMenu id="disbTbl" value="#{programService.ps.disbursementType}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{programService.disbursementTypes}" />
                </p:selectOneMenu>
                <p:outputLabel for="progEffectiveDate" value="Date Effective "/>
                <p:calendar  id="progEffectiveDate" value="#{programService.ps.effectiveDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>
                <p:outputLabel for="progExpireDate" value="Date Expires "/>
                <p:calendar  id="progExpireDate" value="#{programService.ps.expireDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>

            </h:panelGrid>
            <center>
                <p:commandButton id="saveProgram" value="Save"     actionListener="#{programService.saveProgram}"  />
            </center>
        </h:form>
    </h:body>
</html>

