<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:p="http://primefaces.org/ui"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Create Product</title>
    </h:head>
    <h:body>
        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:form id="addProductForm">
            <h:panelGrid columns="2" cellpadding="5">

                <p:outputLabel for="programNames" value="Program: " />
                <p:selectOneMenu id="programNames" value="#{productService.prods.programName}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{productService.programs}" />
                </p:selectOneMenu>

                <p:outputLabel for="insurers" value="Insurer: " />
                <p:selectOneMenu id="insurers" value="#{productService.prods.insurer}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{productService.insurers}" />
                </p:selectOneMenu>
                
                <p:outputLabel value="Name" for="productName"/>
                <p:inputText id="productName" value="#{productService.prods.productName}"     required="yes" >
                    <p:ajax event="mouseout" listener="#{productService.checkProductName}" process="productName" />
                </p:inputText>
                
                <p:outputLabel value="Code" for="productCode"/>
                <p:inputText id="productCode" value="#{productService.prods.productCode}"  >
                    <p:ajax event="mouseout" listener="#{productService.checkProductCode}" process="productCode" />
                </p:inputText>
                
                <p:outputLabel value="Description" for="productDesc"/>
                <p:inputTextarea id="productDesc" value="#{productService.prods.description}"  />

                <p:outputLabel for="productTypes" value="Type: " />
                <p:selectOneMenu id="productTypes" value="#{productService.prods.productType}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{productService.productTypes}" />
                </p:selectOneMenu>
                
                <p:outputLabel for="productSubTypes" value="Sub Type: " />
                <p:selectOneMenu id="productSubTypes" value="#{productService.prods.productSubType}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{productService.productSubTypes}" />
                </p:selectOneMenu>
                
                <h:outputText value="Finance Length Based Term " />
                <p:selectBooleanCheckbox value="#{productService.prods.financeBasedTerm}" />
                
                 <h:outputText value="Mileage Based Term " />
                 <p:selectBooleanCheckbox value="#{productService.prods.mileageBasedTerm}" />
                
                 <h:outputText value="Is Renewable " />
                 <p:selectBooleanCheckbox value="#{productService.prods.isRenewable}" />
                
                <p:outputLabel for="claimSetting" value="Claim Setting: " />
                <p:selectOneMenu id="claimSetting" value="#{productService.prods.claimSetting}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{productService.claimSettings}" />
                </p:selectOneMenu>
                 
                 <p:outputLabel for="salesGroup" value="Sales Group: " />
                 <p:selectOneMenu id="salesGroup" value="#{productService.prods.salesGroup}" effect="fold"  editable="true">                        
                     <f:selectItems value="#{productService.productSalesGroup}" />
                </p:selectOneMenu>
                 
                 <p:outputLabel for="contractForm" value="Contract Form: " />
                 <p:selectOneMenu id="contractForm" value="#{productService.prods.contractForm}" effect="fold"  editable="true">                        
                     <f:selectItems value="#{productService.contractForms}" />
                </p:selectOneMenu>
                 
                 <p:outputLabel for="disbTbl" value="Disbursement Table " />
                <p:selectOneMenu id="disbTbl" value="#{productService.prods.disbursementType}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{productService.disbursementTypes}" />
                </p:selectOneMenu>
                
                <p:outputLabel for="prodEffectiveDate" value="Date Effective "/>
                <p:calendar  id="prodEffectiveDate" value="#{productService.prods.effectiveDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>
                
                <p:outputLabel for="prodExpireDate" value="Date Expires "/>
                <p:calendar  id="prodExpireDate" value="#{productService.prods.expireDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>

            </h:panelGrid>
            <center>
                <p:commandButton id="saveProduct" value="Save"     actionListener="#{productService.saveProduct}"  />
            </center>
        </h:form>
    </h:body>
</html>

