<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Create new Repair Facility</title>
    </h:head>
    <h:body>
        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:form id="rfEditForm">
            <p:growl id="rfMsgs"/>
            <div class="container">
                <div style="display: inline-block; vertical-align: top;" >
                    <p:panel  header="Repair Facility Info" widgetVar="widgetVarAgentInfoPanel01">
                        <p:panelGrid style="margin-top:20px">

                            <!-- Name -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Name" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="rfName01" value="#{repairFacilityService.rfs.name}" >
                                        <p:ajax event="mouseout" listener="#{repairFacilityService.verifyRFName()}" process="rfName01" />
                                    </p:inputText>
                                </p:column>
                            </p:row>
                      

                            <!-- Tax Id -->
                            
                            <p:row> 
                                <p:column>
                                    <p:outputLabel value="Tax Id" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText  id="rfTaxId" value="#{repairFacilityService.rfs.taxId}"/>
                                </p:column>
                            </p:row>

                            
                            <!-- Effective Date -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Start Date" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:calendar id="rfEdate"  value="#{repairFacilityService.rfs.effectiveDate}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                         

                            <!-- Email Address -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Email Address" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText  value="#{repairFacilityService.rfs.email}"/>
                                </p:column>
                            </p:row>

                            <!-- Email Opt-In -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Email Opt-In" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox value="#{repairFacilityService.rfs.emailOptIn}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- Hold Payables -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Hold Payables" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox  value="#{repairFacilityService.rfs.holdPayables}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- Bill To -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Bill To" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{repairFacilityService.rfs.billTo}">
                                        <f:selectItem itemLabel="None" itemValue="None"/>
                                        <f:selectItem itemLabel="Lien Holder" itemValue="LienHolder"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>


                            <!-- Payment Method -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="dealerPaymentMethod01" value="Payment Method" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="dealerPaymentMethod01" value="#{repairFacilityService.rfs.prefpayMethod}">
                                        <f:selectItem itemLabel="Select Method" itemValue=""/>
                                        <f:selectItem itemLabel="Check" itemValue="Check"/>
                                        <f:selectItem itemLabel="Credit Card" itemValue="CreditCard"/>
                                        <f:selectItem itemLabel="ACH" itemValue="ACH"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            
                             <!-- Labor Tax % -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Labor Tax %" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText  value="#{repairFacilityService.rfs.laborTax}"/>
                                </p:column>
                            </p:row>
                             
                              <!-- Labor Rate -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Labor Rate" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText  value="#{repairFacilityService.rfs.laborRate}"/>
                                </p:column>
                            </p:row>
                              
                               <!-- Parts Tax % -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Parts Tax %" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText  value="#{repairFacilityService.rfs.partTax}"/>
                                </p:column>
                            </p:row>
                               
                                <!-- Parts Warranty Months -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Parts Warranty Months" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText  value="#{repairFacilityService.rfs.partWarrantyMonths}"/>
                                </p:column>
                            </p:row>
                                
                                 <!-- Parts Warranty Miles -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Parts Warranty Miles" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText  value="#{repairFacilityService.rfs.partWarrantyMiles}"/>
                                </p:column>
                            </p:row>


                        </p:panelGrid>
                    </p:panel>
                </div>

                <div id="rfAddressInfo" style="display: inline-block; vertical-align: top;">
                    <p:panel  header="Physical Address" toggleable="false"  >
                        <p:panelGrid style="margin-top:20px">

                            <p:row>
                                <p:column style="font-weight: bold;">Attention to</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{repairFacilityService.rfs.myAddress.paddr.attentionTo}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address1</p:column>
                                <p:column  colspan="5"><p:inputText style="width: 500px;" value="#{repairFacilityService.rfs.myAddress.paddr.address1}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 2</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{repairFacilityService.rfs.myAddress.paddr.address2}"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Zip Code</p:column>
                                <p:column><p:inputText value="#{repairFacilityService.rfs.myAddress.paddr.zipCode}"/></p:column>
                                <p:column style="font-weight: bold;">City</p:column>
                                <p:column><p:inputText value="#{repairFacilityService.rfs.myAddress.paddr.city}"/></p:column>
                                <p:column style="font-weight: bold;">State</p:column>
                                <p:column>
                                    <p:selectOneMenu id="stateMapP" value="#{repairFacilityService.rfs.myAddress.regionP}">
                                        <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems   value="#{repairFacilityService.rfs.myAddress.stateMap}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Phone</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{repairFacilityService.rfs.myAddress.paddr.phoneNumber}" /></p:column>
                                <p:column style="font-weight: bold;">Ext.</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{repairFacilityService.rfs.myAddress.paddr.extension}" /></p:column>
                                <p:column style="font-weight: bold;">Fax</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{repairFacilityService.rfs.myAddress.paddr.fax}" /></p:column>
                            </p:row>


                        </p:panelGrid>
                    </p:panel>
                    <br/>
                    <div>
                        <p:outputLabel value="Same as Physical Address " />
                        <p:selectBooleanCheckbox value="#{repairFacilityService.rfs.myAddress.sameAsPaddr}" />
                    </div>

                    <p:panel id="customerBillingAddressPanel01" header="Billing Address" toggleable="true" widgetVar="widgetVarCustomerBillingAddressPanel01">
                        <p:panelGrid style="margin-top:20px">

                            <p:row>
                                <p:column style="font-weight: bold;">Attention to</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{repairFacilityService.rfs.myAddress.baddr.attentionTo}"/></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 1</p:column>
                                <p:column  colspan="5"><p:inputText style="width: 500px;" value="#{repairFacilityService.rfs.myAddress.baddr.address1}"/></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 2</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;" value="#{repairFacilityService.rfs.myAddress.baddr.address2}"/></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Zip Code</p:column>
                                <p:column><p:inputText value="#{repairFacilityService.rfs.myAddress.baddr.zipCode}"/></p:column>
                                <p:column style="font-weight: bold;">City</p:column>
                                <p:column><p:inputText value="#{repairFacilityService.rfs.myAddress.baddr.city}"/></p:column>
                                <p:column style="font-weight: bold;">State</p:column>
                                <p:column>
                                    <p:selectOneMenu id="stateMapB" value="#{repairFacilityService.rfs.myAddress.regionB}">

                                        <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems   value="#{repairFacilityService.rfs.myAddress.stateMap}" />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Phone</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{repairFacilityService.rfs.myAddress.baddr.phoneNumber}" /></p:column>
                                <p:column style="font-weight: bold;">Ext.</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{repairFacilityService.rfs.myAddress.baddr.extension}" /></p:column>
                                <p:column style="font-weight: bold;">Fax</p:column>
                                <p:column><p:inputMask mask="(999) 999-9999" value="#{repairFacilityService.rfs.myAddress.baddr.fax}" /></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>

                    <br/>

                </div>
                <br/>
                <br/>
                <p:commandButton  id="saveRF"  value="Save" actionListener="#{repairFacilityService.saveRF()}"   />
                <p:commandButton id="resetRF" value="Reset"   >
                    <p:ajax update="rfEditForm" resetValues="true"  listener="#{repairFacilityService.reset()}"/>
                </p:commandButton>
                <p:commandButton   id="cancelRF" value="Cancel" actionListener="#{repairFacilityService.cancel()}"  />

            </div><!-- Close div.container -->
        </h:form>
    </h:body>
</html>
