<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:form id="addRVForm">
            <div class="container">
                <div  style="display: inline-block; vertical-align: top;" >
                    <p:panel  header="Create Products Visibility" >
                        <p:panelGrid style="margin-top:20px">

                            <!-- Name of RV -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Name: " style="font-weight: bold;" />
                                </p:column>
                                <p:column>
                                    <p:inputText id="rvName"  value="#{rvService.rv.name}" >
                                        <p:ajax event="mouseout" listener="#{rvService.verifyRVName}" process="rvName" />
                                    </p:inputText>
                                </p:column>
                            </p:row>

                            <!-- Description -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Description" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText value="#{rvService.rv.description}"/>
                                </p:column>
                            </p:row>
                                                 

                            <!-- Effective Date -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Date Effective" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:calendar  value="#{rvService.rv.effectiveDate}"/>
                                </p:column>
                            </p:row>
                            
                            <!-- Expired Date -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Date Expires" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:calendar  value="#{rvService.rv.expiredDate}"/>
                                </p:column>
                            </p:row>
                            
                            <!-- Deleted -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel  value="Deleting" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox    value="#{rvService.rv.deletedInd}"/>
                                </p:column>
                            </p:row>
                            

                        </p:panelGrid>
                    </p:panel>
                </div>

                <br/>
                <br/>
                <p:commandButton  id="saveRV"  value="Save" actionListener="#{rvService.saveRV()}"   />
                <p:commandButton id="resetRV" value="Reset"   >
                    <p:ajax update="addRVForm" resetValues="true"  listener="#{rvService.reset()}"/>
                </p:commandButton>
                <p:commandButton   id="cancelRV" value="Cancel" actionListener="#{rvService.cancelRV()}"  />

            </div><!-- Close div.container -->
        </h:form>
    </h:body>
</html>

