<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Members</title>
    </h:head>
    <h:body>
        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        
        <h:form id="userEditForm">
            <p:growl id="msgs" />
            <div class="container">
                <div id="userInfo01" style="display: inline-block; vertical-align: top;" >
                    <p:panel id="userPanel01" header="User Info" widgetVar="widgetVarUserInfoPanel01">
                        <p:panelGrid style="margin-top:20px">

                            <!-- Name -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="name01" value="Name" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="name01" value="#{usersService.user.fullName}" />
                                </p:column>
                            </p:row>

                            <!-- Username -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="username01" value="Username" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="username01" value="#{usersService.user.userName}" >
                                        <p:ajax event="mouseout" listener="#{usersService.verifyUserName()}" process="userPanel01" />
                                    </p:inputText>
                                </p:column>
                            </p:row>

                            <!-- Email Address -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userEmailAddress01" value="Email Address" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="userEmailAddress01" value="#{usersService.user.email}"/>
                                </p:column>
                            </p:row>

                            <!-- Email Opt-In -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userEmailOptIn01" value="Email Opt-In" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="userEmailOptIn01" value="#{usersService.user.emailOptIn}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>


                            <!-- User Type -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userUserType01" value="User Type" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="userUserType01" value="#{usersService.user.userType}">
                                        <f:selectItem itemLabel="Select Type" itemValue=""/>
                                        <f:selectItem itemLabel="Administrator" itemValue="Administrator"/>
                                        <f:selectItem itemLabel="Service User" itemValue="Service User"/>
                                        <f:selectItem itemLabel="Dealer Group Admin" itemValue="Dealer Group Admin"/>
                                        <f:selectItem itemLabel="Agent User" itemValue="Agent User"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- GL Account Code -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userGLAccountCode01" value="GL Account Code" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="userGLAccountCode01" value="#{usersService.userGLCode}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- System Code -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userSystemCode01" value="System Code" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="userSystemCode01" value="#{usersService.user.systemCode}"/>
                                    <p:commandButton icon="ui-icon-help" style="background: none; border-width: 0;"/>
                                </p:column>
                            </p:row>

                            <!-- Tax Id -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userTaxId01" value="Tax Id" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:inputText id="userTaxId01" value="#{usersService.user.taxId}"/>
                                </p:column>
                            </p:row>

                            <!-- Department -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userDepartment01" value="Department" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="userDepartment01" value="#{usersService.departmentName}">
                                        <f:selectItem itemLabel="Select Dept" itemValue=""/>
                                        <f:selectItem itemLabel="Accounting" itemValue="Accounting"/>
                                        <f:selectItem itemLabel="Executive" itemValue="Executive"/>
                                        <f:selectItem itemLabel="Finance" itemValue="Finance"/>
                                        <f:selectItem itemLabel="Sales" itemValue="Sales"/>
                                        <f:selectItem itemLabel="Service" itemValue="Service"/>

                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <!-- Payment Method 
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userPaymentMethod01" value="Payment Method" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu id="userPaymentMethod01" value="">
                                        <f:selectItem itemLabel="Select Method" itemValue=""/>
                                        <f:selectItem itemLabel="Check" itemValue="Check"/>
                                        <f:selectItem itemLabel="Credit Card" itemValue="CreditCard"/>
                                        <f:selectItem itemLabel="ACH" itemValue="ACH"/>
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            -->

                            <!-- Is Filtered -->
                            <p:row> 
                                <p:column>
                                    <p:outputLabel for="userIsFiltered01" value="Is Filtered" style="font-weight: bold;"/>
                                </p:column>
                                <p:column>
                                    <p:selectBooleanCheckbox id="userIsFiltered01" value="#{usersService.user.isFiltered}"/>
                                </p:column>
                            </p:row>


                        </p:panelGrid>

                    </p:panel><!-- -->
                </div><!-- End of div.userInfo01 -->

                <div id="userInfo02" style="display: inline-block; vertical-align: top;">
                    <p:outputLabel value="Physical Address:" style="display: inline-block; vertical-align: top;"/>
                    <p:panel id="customerAddressPanel01" header="User Physical Address" toggleable="true" collapsed="true" toggleOrientation="horizontal" widgetVar="widgetVarCustomerAddressPanel01" >
                        <p:panelGrid style="margin-top:20px">

                            <p:row>
                                <p:column style="font-weight: bold;">Attention to</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address</p:column>
                                <p:column  colspan="5"><p:inputText style="width: 500px;"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 2</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Zip Code</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                                <p:column style="font-weight: bold;">City</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                                <p:column style="font-weight: bold;">State</p:column>
                                <p:column>
                                    <p:selectOneMenu id="stateMapP" value="#{usersService.regionCodeP}">
                                    
                                    <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                    <f:selectItems   value="#{usersService.stateMap}" />
                                </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Phone</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                                <p:column style="font-weight: bold;">Ext.</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                                <p:column style="font-weight: bold;">Fax</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                            </p:row>


                        </p:panelGrid>
                    </p:panel>
                    <br/>
                    <div>
                        <p:outputLabel value="Same as Physical Address " />
                        <p:selectBooleanCheckbox value="#{usersService.sameAsPhyAddr}" />
                    </div>

                    <p:panel id="customerBillingAddressPanel01" header="User Billing Address" toggleable="true" collapsed="true" toggleOrientation="horizontal" widgetVar="widgetVarCustomerBillingAddressPanel01">
                        <p:panelGrid style="margin-top:20px">

                            <p:row>
                                <p:column style="font-weight: bold;">Attention to</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address</p:column>
                                <p:column  colspan="5"><p:inputText style="width: 500px;"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Address 2</p:column>
                                <p:column colspan="5"><p:inputText style="width: 500px;"></p:inputText></p:column>

                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Zip Code</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                                <p:column style="font-weight: bold;">City</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                                <p:column style="font-weight: bold;">State</p:column>
                                <p:column>
                                    <p:selectOneMenu id="stateMapB" value="#{usersService.regionCodeP}">
                                    
                                    <f:selectItem itemLabel="Select State" itemValue="" noSelectionOption="true"/>
                                    <f:selectItems   value="#{usersService.stateMap}" />
                                </p:selectOneMenu>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column style="font-weight: bold;">Phone</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                                <p:column style="font-weight: bold;">Ext.</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                                <p:column style="font-weight: bold;">Fax</p:column>
                                <p:column><p:inputText></p:inputText></p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:panel>

                </div>

                <br/>
                <p:commandButton  id="saveUser"  value="Save" actionListener="#{usersService.saveUser()}"   />
                <p:commandButton id="resetUser" value="Reset"   >
                    <p:ajax update="userEditForm" resetValues="true"  listener="#{usersService.reset()}"/>
                </p:commandButton>
                <p:commandButton   value="Cancel" actionListener="#{usersService.cancel()}"  />
            </div> <!-- End of div.container -->


        </h:form>
    </h:body>
</html>



