<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
        <!-- A   simple simpler  Comment -->
        <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }

            .panelGridCenter {
                margin: 0 auto;
            }
            .ui-selectonemenu{
                width: 100% !important;
            }
            .ui-selectonemenu-label{
                width: 100% !important;
            }  
        </style>
    </h:head>
    <h:body>

        <h:form id="ancCRform">

            <h:panelGrid id="ancCRGrid" columns="1"  styleClass="panelGridCenter">

                <p:outputLabel value="#{contractRatingService.cr.productName}" />
                
                <p:separator />
                <p:spacer  height="20" />
                
                <p:selectOneMenu id="ancPlan" value="#{contractRatingService.cr.planName}"  >  <!-- selectedPlan -->
                    <p:ajax listener="#{contractRatingService.ancPlanChange}"  update="ancMonths ancPrice" />
                    <f:selectItem itemLabel="Select Type..." itemValue=""   noSelectionOption="true" />
                    <f:selectItems   value="#{contractRatingService.spMap}" />
                </p:selectOneMenu>
                
                <p:spacer  height="20" />

                <p:selectOneMenu id="ancMonths" value="#{contractRatingService.cr.ancMonths}" >
                    <p:ajax listener="#{contractRatingService.ancTermChange}"   update="ancPrice" />
                    <f:selectItem itemLabel="Select Term..." itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{contractRatingService.ancTermMap}" />
                </p:selectOneMenu>

                <p:spacer  height="20" />

                <h:panelGrid id="ancPriceGrid" columns="2"    styleClass="panelColumns" >

                    <p:outputLabel for="ancPrice" value="Rate: "/>
                    <p:inputText id="ancPrice" value="#{contractRatingService.cr.contractRate}" />
                    
                    <p:spacer  height="20" />
                    <p:separator   />
                    
                    <p:commandButton  id="saveANCPrice"  value="Save" actionListener="#{contractRatingService.saveANC()}" process="@form" update="@form"  style=""  disabled="#{contractRatingService.saveBtn}" />
                    <p:commandButton id="ancCancel" value="Cancel"   actionListener="#{contractRatingService.cancelANCrating}"/>

                </h:panelGrid>
            </h:panelGrid>
        </h:form>

    </h:body>
</html>
