<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Claim #{claimTabView.claimNumber} Details (#{claimGeneralService.claimType}) </title>
    </h:head>
    <h:body>

        <h:form id="claimTabForm">
            
            <p:layout style="min-width: 1800px;min-height: 800px;" >
                
                <p:layoutUnit position="west"   size="450"   >
                    <p:tabView     id="claimWestTab"  cache="false"   orientation="left"  >
                        <p:tab title="Contract" id="contractTab" ariaLabel="#{claimTabView.contractNo}" >
                            <ui:include src="claimContract.xhtml" />       
                        </p:tab>

                        <p:tab title="Vehicle Info" id="vehicleTab" ariaLabel="#{claimTabView.contractNo}">      
                            <ui:include src="claimVehicle.xhtml" />
                        </p:tab>

                        <p:tab title="Dealer" id="dealerTab" ariaLabel="#{claimTabView.contractNo}">
                            <ui:include src="claimDealer.xhtml" />
                        </p:tab>
                    </p:tabView>
                </p:layoutUnit>
                
                <p:layoutUnit position="center" id="claimLayoutUnit">
                    <p:tabView     id="claimTabView"  cache="false" style="width: 1200px; height: 1000px;" >
                        <p:ajax  event="tabChange" listener="#{claimTabView.tabChange}"   process="@form" update="@this" >
                            <f:attribute name="claimNumber" value="#{claimGeneralService.claimNumber}" />
                        </p:ajax>

                        <p:tab title="General" id="generalTab" ariaLabel="#{claimGeneralService.claimNumber}"  rendered="#{claimGeneralService.VSC}">
                            <ui:include src="claimGeneral.xhtml" />       
                        </p:tab>                        
                        <p:tab title="General" id="generalTabANCedit" ariaLabel="#{claimGeneralService.claimNumber}"  rendered="#{claimGeneralService.ANC}">
                            <ui:include src="claimGeneralANCEdit.xhtml" />       
                        </p:tab>
                        <p:tab title="General" id="generalTabPPM" ariaLabel="#{claimGeneralService.claimNumber}"  rendered="#{claimGeneralService.PPM}">
                            <ui:include src="claimGeneralPPM.xhtml" />       
                        </p:tab>

                        <p:tab title="Detail" id="detailTab" ariaLabel="#{claimGeneralService.claimNumber}" rendered="#{claimGeneralService.VSC}">      
                            <ui:include src="claimDetail.xhtml" />
                        </p:tab>
                        
                        <p:tab title="Full List" id="ppmfullTab" ariaLabel="#{claimGeneralService.claimNumber}" rendered="#{claimGeneralService.PPM}">      
                            <ui:include src="claimPPMfull.xhtml" />
                        </p:tab>
                       
                        <p:tab title="Available" id="ppmavailableTab" ariaLabel="#{claimGeneralService.claimNumber}" rendered="#{claimGeneralService.PPM}">      
                            <ui:include src="claimPPMavailable.xhtml" />
                        </p:tab>
                       
                        <p:tab title="Used" id="ppmusedTab" ariaLabel="#{claimGeneralService.claimNumber}" rendered="#{claimGeneralService.PPM}">      
                            <ui:include src="claimPPMused.xhtml" />
                        </p:tab>
                        <p:tab title="Expired" id="ppmexpiredTab" ariaLabel="#{claimGeneralService.claimNumber}" rendered="#{claimGeneralService.PPM}">      
                            <ui:include src="claimPPMexpired.xhtml" />
                        </p:tab>
                        <p:tab title="Upcoming" id="ppmupTab" ariaLabel="#{claimGeneralService.claimNumber}" rendered="#{claimGeneralService.PPM}">      
                            <ui:include src="claimPPMup.xhtml" />
                        </p:tab>
                        
                        

                        <p:tab title="Notes" id="notesTab" ariaLabel="#{claimGeneralService.claimNumber}">
                            <ui:include src="claimNote.xhtml" />
                        </p:tab>
                        
                        <p:tab title="ContractNotes" id="contractNotesTab" ariaLabel="#{claimGeneralService.claimNumber}">
                            <ui:include src="contractNote.xhtml" />
                        </p:tab>
                        
                    </p:tabView>
                </p:layoutUnit>
            
            </p:layout>
            
            <p:toolbar id="tabViewCommandBar"  rendered="#{claimGeneralService.claimEditable}">
                <f:facet name="left">
                    <p:commandButton id="claimPending" value="Pending" icon="ui-icon-disk"  ajax="true"  process="@form"   actionListener="#{claimGeneralService.pendingClaim()}"/>
                    <p:commandButton id="claimDenied" value="Denied" icon="ui-icon-disk"  ajax="true"  process="@form"  actionListener="#{claimGeneralService.deniedClaim()}"/>
                    <p:commandButton id="claimVoided" value="Voided" icon="ui-icon-disk"  ajax="true"  process="@form"  actionListener="#{claimGeneralService.voidedClaim()}"/>
                    <p:commandButton id="claimApproved" value="Approved" icon="ui-icon-disk"   ajax="true"  process="@form"   actionListener="#{claimGeneralService.approvedClaim()}"/>
                    <p:commandButton id="claimSaveANDclose" value="Save &and; Close" icon="ui-icon-disk"  ajax="true"  process="@form"  actionListener="#{claimGeneralService.saveANDclose()}"/>
                    <p:commandButton id="claimSaveANDReload" value="Save &and; Reload"    process="@form "    update=":claimTabForm:claimTabView:odometervsc :claimTabForm:claimTabView:claimGeneralPanel :claimTabForm:claimTabView:claimGeneralPanelancedit :claimTabForm:claimTabView:claimGeneralPanelppm"  actionListener="#{claimGeneralService.saveANDreload()}"  />
                </f:facet>
            </p:toolbar>

        </h:form>

    </h:body>
</html>

