<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <!--
        <title>Facelet Title</title>
        -->
    </h:head>
    <h:body>
        <h:panelGrid columns="2" cellpadding="5" id="claimGeneralPanelanc">
            
                <p:outputLabel value="Paid To: " for="paidToanc"/> 
                <p:outputLabel id="paidToanc" value="#{claimGeneralService.cganc.paidTo}"  />
                <p:outputLabel value="Claim Number: " for="claimNumberanc"/>
                <p:outputLabel id="claimNumberanc" value="#{claimGeneralService.cganc.claimNumber}"   />
                <p:outputLabel value="Inception Date: " for="inceptionDateanc"/>
                <p:outputLabel id="inceptionDateanc" value="#{claimGeneralService.cganc.inceptionDate}"  />
                <p:outputLabel value="Odometer: " for="odometeranc"/>
                <p:outputLabel id="odometeranc" value="#{claimGeneralService.cganc.odometer}"  />
                <p:outputLabel value="Repair Order: " for="repairOrderanc"/>
                <p:outputLabel id="repairOrderanc" value="#{claimGeneralService.cganc.roNumber}"  />            
                <p:outputLabel value="Amount: " for="amountanc"/>
                <p:outputLabel id="amountanc" value="#{claimGeneralService.cganc.amount}"   />
                <p:outputLabel value="Assigned To:  " for="assignedToanc"/>
                <p:outputLabel id="assignedToanc" value="#{claimGeneralService.cganc.assignedTo}"   />
                <p:outputLabel value="Reason: " for="reasonanc"/>
                <p:outputLabel id="reasonanc" value="#{claimGeneralService.cganc.reason}"   />

            </h:panelGrid>
    </h:body>
</html>

