<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" >
    <h:head>
    </h:head>
    <h:body>

            <h:panelGrid columns="2" cellpadding="5" id="claimDealerPanel">
                <p:outputLabel value="Name" />
                <p:outputLabel id="name" value="#{claimCVDService.claimDealer.dealName}"   />
                 <p:outputLabel value="Number" />
                 <p:outputLabel id="number" value="#{claimCVDService.claimDealer.dealerNumber}"   />
                 <p:outputLabel value="Phone" />
                 <p:outputLabel  value="#{claimCVDService.claimDealer.phoneNumber}"   />
                 <p:outputLabel value="Physical Address" />
                 <p:outputLabel id="physicalAddress" value="#{claimCVDService.claimDealer.physicalAddress}"   />
                 <p:outputLabel value="Billing Address" />
                 <p:outputLabel id="billingAddress" value="#{claimCVDService.claimDealer.billingAddress}"   />
            </h:panelGrid>
    </h:body>
</html>

