<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <!--
        <title>Claim #{claimGeneralService.claimNumber} General</title>
        -->
    </h:head>
    <h:body>

        <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:panelGrid columns="2" cellpadding="5" id="claimGeneralPanel"  >

            <p:outputLabel value="Paid To: " for="paidTovsc"/> 
            <h:panelGrid columns="2" cellpadding="5" id="rfbarvsc">
                <p:inputText id="paidTovsc" value="#{claimGeneralService.cg.rfName}"   readonly="${claimGeneralService.VSCreadonly}" />
                <p:toolbar id="vscFacilityCommandBar"  >
                    <f:facet name="left"> 
                        <p:commandButton id="vscSearchRF"   value="Search" process="@form"  update="claimGeneralPanel"  actionListener="#{rfSearchService.searchRF}" icon=" ui-icon-search"  rendered="#{claimGeneralService.claimEditable}">
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.vscDialogClosed}"   update="claimGeneralPanel" />
                        </p:commandButton>
                      
                        <p:commandButton id="vscViewNewEditFacility"   value="View/New/Edit" process="@form"  update="claimGeneralPanel"  actionListener="#{rfSearchService.viewNewEditFacility}"   >
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.vscViewNewEditFacilityClosed}"   update="claimGeneralPanel" />
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
            </h:panelGrid>

            <p:outputLabel value="Claim Number: " for="claimNumbervsc"/>
            <p:outputLabel id="claimNumbervsc" value="#{claimGeneralService.cg.claimNumber}"   />
            <p:outputLabel value="Odometer: " for="odometervsc"/>
            <p:inputText id="odometervsc" value="#{claimGeneralService.cg.odometer}" readonly="${claimGeneralService.VSCreadonly}" >
                <p:ajax event="mouseout" listener="#{claimGeneralService.passVSCodometer}" process="odometervsc" />
            </p:inputText>
            <p:outputLabel value="Repair Order: " for="repairOrdervsc"/>
            <p:inputText id="repairOrdervsc" value="#{claimGeneralService.cg.roNumber}"  readonly="${claimGeneralService.VSCreadonly}"/>     
            <p:outputLabel value="Loss Date: " for="roDatevsc"/>
            <p:inputText id="roDatevsc" value="#{claimGeneralService.cg.roDate}"   readonly="${claimGeneralService.VSCreadonly}"/>

            <p:outputLabel value="Assigned To:  " for="assignedTovsc"/>
            <h:panelGrid columns="2" cellpadding="5" id="assignedTobarvsc">
                <p:inputText id="assignedTovsc" value="#{claimGeneralService.cg.assignedTo}"   readonly="${claimGeneralService.VSCreadonly}" placeholder="#{claimMisc.currentUser}"/>
                <p:toolbar id="vscAssignCommandBar"  rendered="#{claimGeneralService.claimEditable}">
                    <f:facet name="left">   
                        <p:commandButton id="vscAssign"   value="Assign" process="@form"  update="claimGeneralPanel"  actionListener="#{memberSearchService.searchMember}" icon=" ui-icon-search"  rendered="#{claimGeneralService.claimEditable}">
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.vscMSDialogClosed}"   update="claimGeneralPanel" />
                        </p:commandButton>
                        <p:commandButton id="vscUnAssign" value="unassign" icon="ui-icon-disk"  ajax="true"  process="@form" update="claimGeneralPanel"  actionListener="#{claimGeneralService.vscUnAssign()}"/>
                        <!--
                        <p:commandButton id="ppmUnAssign" value="unassign" icon="ui-icon-disk"  ajax="true"  process="@form" actionListener="#{claimGeneralService.ancAssignSelf()}"/>
                        -->

                    </f:facet>
                </p:toolbar>

            </h:panelGrid>

        </h:panelGrid>
        <!--
        <h:panelGrid columns="4" cellpadding="5" id="claimGeneralPanel">
            
            <p:outputLabel value="RF Phone" for="rfphone"/> 

            <p:inputText id="rfphone" value="#{claimGeneralService.cg.rfPhone}"    required="yes"/>
            <p:outputLabel value="RF Name" for="rfname"/>
            <p:inputText id="rfname" value="#{claimGeneralService.cg.rfName}" label="Enter RF Name"  required="yes"/>
            <p:outputLabel value="Contact Name" for="cname"/>
            <p:inputText id="cname" value="#{claimGeneralService.cg.contactName}" label="Enter contact name" />
            <p:outputLabel value="Line 1" for="line1"/>
            <p:inputText id="line1" value="#{claimGeneralService.cg.line1}" label="Enter Line1"  required="yes"/>
            <p:outputLabel value="Contact Phone" for="cphone"/>
            <p:inputText id="cphone" value="#{claimGeneralService.cg.contactPhone}" label="Enter Contact Phone" />            
            <p:outputLabel value="Line2" for="line2"/>
            <p:inputText id="line2" value="#{claimGeneralService.cg.line2}" label="Enter Line2"  />
            <p:outputLabel value="RF Fax" for="rffax"/>
            <p:inputText id="rffax" value="#{claimGeneralService.cg.rfFax}" label="Enter RF Fax" />            
            <p:outputLabel value="Zip" for="zip"/>
            <p:inputText id="zip" value="#{claimGeneralService.cg.zip}" label="Enter Zip Code"  required="yes"/>
            <p:outputLabel value="Labor Rate" for="lrate"/>
            <p:inputText id="lrate" value="#{claimGeneralService.cg.laborRate}" label="Enter Labor Rate" /> 
            <p:outputLabel value="Claim Number" for="claimNumber"/>
            <p:inputText id="claimNumber" value="#{claimGeneralService.cg.claimNumber}" label="Enter claim number" />            
            <p:outputLabel value="City" for="city"/>
            <p:inputText id="city" value="#{claimGeneralService.cg.city}" label="Enter city" required="yes"/>         
            <p:outputLabel value="Labor Tax" for="laborTax"/>
            <p:inputText id="laborTax" value="#{claimGeneralService.cg.laborTax}" label="Enter labor tax" />            
            <p:outputLabel value="Odometer" for="odometer"/>
            <p:inputText id="odometer" value="#{claimGeneralService.cg.odometer}" label="Enter odometer" />
            <p:outputLabel value="State" for="state"/>
            <p:inputText id="state" value="#{claimGeneralService.cg.state}" label="Enter state"  required="yes"/>
            <p:outputLabel value="Part Tax" for="partTax"/>
            <p:inputText id="partTax" value="#{claimGeneralService.cg.partTax}" label="Enter part tax" />

            <p:outputLabel value="RO Number" for="roNumber"/>
            <p:inputText id="roNumber" value="#{claimGeneralService.cg.roNumber}" label="Enter RO number" />

            <p:outputLabel value="Warranty Months" for="wmonth"/>
            <p:inputText id="wmonth" value="#{claimGeneralService.cg.partWarrantyMonths}" label="Enter warranty months" />

            <p:outputLabel value="RO date" for="roDate"/>
            <p:inputText id="roDate" value="#{claimGeneralService.cg.roDate}" label="Enter RO Date" />

            <p:outputLabel value="Warranty Miles" for="wmiles"/>
            <p:inputText id="wmiles" value="#{claimGeneralService.cg.partWarrantyMiles}" label="Enter warranty miles"  />
            


        </h:panelGrid>
        -->
        <p:separator/>
        <!--
        <center>
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel value="OwnedBy" for="ownedby"/>
                <p:inputText id="ownedby" value="#{claimGeneralService.ownedBy}"  />
                <p:outputLabel value="Status" for="status"/>
                <p:inputText id="status"  value="#{claimGeneralService.claimStatus} "   />
                <p:outputLabel value="Substatus" for="substatus"/>
                <p:inputText id="substatus"  value="#{claimGeneralService.claimSubStatus}"  />
            </h:panelGrid>    
        </center>
        
         <p:separator/>
        
        
       
        -->

    </h:body>
</html>

