<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        
    </h:head>
    <h:body>
        
            <p:dataTable   id="claimNote"  var="claimNote"    widgetVar="claimNote"  value="#{claimNoteService.claimNotes.claimNotes}"    rowKey="#{claimNote.noteId}"  emptyMessage=""      scrollable="true" >
                <p:column headerText="Notes" resizable="true" >
                    <h:outputText value="#{claimNote.note}" />
                </p:column>
                <p:column headerText="Entered By"  resizable="true">
                    <h:outputText value="#{claimNote.enteredBy}" />
                </p:column>
                <p:column headerText="Entered Date"  resizable="true">
                    <h:outputText value="#{claimNote.enteredDate}" />
                </p:column>
            </p:dataTable>
            
            <div><p:commandButton id="addClaimNote" value="Add"    process="@form"  update="claimNote"  actionListener="#{claimNoteService.addClaimNote}"  >
                    <p:ajax event="dialogReturn" listener="#{claimNoteService.dialogClosed}" update="claimNote" />
                </p:commandButton>
            </div>
    </h:body>
</html>

