<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <h:form id="ppmavailableForm">


            <p:growl id="msgs" showDetail="true" />


            <p:dataTable   id="ppmavailable"  var="ppmavailable"    value="#{claimPPMTblService.ppmavailableList}"   selection="#{claimPPMTblService.selectedPPMavailableList}"    rowKey="#{ppmavailable.contractPPMDetailId}"  emptyMessage=""  editable="true"  editMode="cell">
                

                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                <p:column headerText="Description"    >
                    <h:outputText       value="#{ppmavailable.description}"  />
                </p:column>
                <p:column headerText="LowerDate"  >
                    <h:outputText       value="#{ppmavailable.lowerDate}"  />
                </p:column>
                <p:column headerText="UpperDate" >
                    <h:outputText       value="#{ppmavailable.upperDate}"  />
                </p:column>
                <p:column headerText="and/or" >
                    <h:outputText       value="#{ppmavailable.andor}"  />
                </p:column>
                <p:column headerText="LowerMiles" >
                    <h:outputText       value="#{ppmavailable.lowerMile}"  />
                </p:column>
                <p:column headerText="UpperMiles" >
                    <h:outputText       value="#{ppmavailable.upperMile}"  />
                </p:column>
                <p:column headerText="Cost" >
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{ppmavailable.cost}" /></f:facet>
                        <f:facet name="input"><p:inputText id="ppmodometer" value="#{ppmavailable.cost}" style="width:100%"/></f:facet>
                    </p:cellEditor>
                </p:column>




                <f:facet name="footer">
                    <p:commandButton id="savePPMavailable" process="ppmavailable" update=":claimTabForm:claimTabView:ppmavailableForm" icon="ui-icon-search" value="Save"   actionListener="#{claimPPMTblService.savePPMavailable()}"  />
                </f:facet>


            </p:dataTable>
            
            <p:dialog header="Selected rows" widgetVar="multiCarDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="220">
        <p:outputPanel id="multiCarDetail" style="text-align:center;">
            <ui:repeat value="#{claimPPMTblService.selectedPPMavailableList}" var="car">
                <h:outputText value="#{car.contractPPMDetailId} " style="display:block"/>
            </ui:repeat>
        </p:outputPanel>
    </p:dialog>

        </h:form>
    </h:body>
</html>

