<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
    </h:head>
    <h:body>

            <h:panelGrid columns="2" cellpadding="5" id="claimVehicleInfoPanel">
                <p:outputLabel value="VIN" />
                <p:outputLabel  value="#{claimCVDService.claimVehicleInfo.vinFull}"   />
                <p:outputLabel value="Make" />
                <p:outputLabel id="make" value="#{claimCVDService.claimVehicleInfo.make}"   />
                <p:outputLabel value="Model" />
                <p:outputLabel id="model" value="#{claimCVDService.claimVehicleInfo.model}"   />
                <p:outputLabel value="Series" />
                <p:outputLabel id="series" value="#{claimCVDService.claimVehicleInfo.series}"   />
                <p:outputLabel value="Year" />
                <p:outputLabel id="vehicleYear" value="#{claimCVDService.claimVehicleInfo.vehicleYear}"   />
                <p:outputLabel value="Drive Type" />
                <p:outputLabel id="driveType" value="#{claimCVDService.claimVehicleInfo.driveType}"   />
                <p:outputLabel value="Cylinders" />
                <p:outputLabel id="cylinders" value="#{claimCVDService.claimVehicleInfo.cylinders}"   />
                <p:outputLabel value="Cubic Inch" />
                <p:outputLabel id="cubicInch" value="#{claimCVDService.claimVehicleInfo.cubicInchDisplacement}"   />
                <p:outputLabel value="Cubic Centimeter" />
                <p:outputLabel id="cubicCentimeter" value="#{claimCVDService.claimVehicleInfo.cubicCentimeterDisplacement}"   />
                <p:outputLabel value="Liter" />
                <p:outputLabel id="liter" value="#{claimCVDService.claimVehicleInfo.literDisplacemant}"   />
                <p:outputLabel value="Weight Rating" />
                <p:outputLabel id="weightRating" value="#{claimCVDService.claimVehicleInfo.vehicleWeightRating}"   />
                <p:outputLabel value="Fuel Type" />
                <p:outputLabel id="fuelType" value="#{claimCVDService.claimVehicleInfo.fuelType}"   />
                <p:outputLabel value="Fuel Delivery" />
                <p:outputLabel id="fuelDelivery" value="#{claimCVDService.claimVehicleInfo.fuelDelivery}"   />
                <p:outputLabel value="Ton Rating" />
                <p:outputLabel id="tonRating" value="#{claimCVDService.claimVehicleInfo.tonRating}"   />
                <p:outputLabel value="Vehicle Type" />
                <p:outputLabel id="vehicleType" value="#{claimCVDService.claimVehicleInfo.vehicleType}"   />
                <p:outputLabel value="Basic Warranty" />
                <p:outputLabel id="basicWarranty" value="#{claimCVDService.claimVehicleInfo.basicWarranty}"   />
                <p:outputLabel value="Powertrain Warranty" />
                <p:outputLabel id="powertrainWarranty" value="#{claimCVDService.claimVehicleInfo.powertrainWarranty}"   />
                <p:outputLabel value="Rust Warranty" />
                <p:outputLabel id="rustWarranty" value="#{claimCVDService.claimVehicleInfo.rustWarranty}"   />
                
            </h:panelGrid>
    </h:body>
</html>

