<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <h:form>
        
            
            <p:growl id="msgs" showDetail="true" />
            
            
            <p:dataTable   id="ppmup"  var="ppmup"    value="#{claimPPMTblService.ppmupList}"   selection="#{claimPPMTblService.selectedPPMtbl}"  selectionMode="single"   rowKey="#{ppmup.contractPPMDetailId}"  emptyMessage=""  scrollable="true" scrollHeight="600" rows="50"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}">
                
                <p:columnGroup type="header">

                    <p:row>
                        <p:column headerText="Description"  sortBy="#{ppmup.description}"  />
                        <p:column headerText="LowerDate"  sortBy="#{ppmup.lowerDate}"  />
                        <p:column headerText="UpperDate" sortBy="#{ppmup.upperDate}" />
                        <p:column headerText="and/or" sortBy="#{ppmup.andor}"  />
                        <p:column headerText="LowerMiles" sortBy="#{ppmup.lowerMile}"/>
                        <p:column headerText="UpperMiles" sortBy="#{ppmup.upperMile}" />
                        <p:column headerText="Cost" sortBy="#{ppmup.cost}" />
                        
                    </p:row>
                    
                </p:columnGroup>
                
                <p:column >
                    <h:outputText       value="#{ppmup.description}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{ppmup.lowerDate}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{ppmup.upperDate}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{ppmup.andor}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{ppmup.lowerMile}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{ppmup.upperMile}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{ppmup.cost}"  />
                </p:column>
                
                
            </p:dataTable>
            
        </h:form>
    </h:body>
</html>

