<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <!--
        <title> Claim #{claimDTSService.claimNumber}  Detail </title>
        -->
    </h:head>
    <h:body>


            <p:growl id="msgs" showDetail="true" />

            <h:panelGrid   columns="3" cellpadding="5" id="claimDetailPanel">
                <p:outputLabel value="Complaint" for="complaint"/>     
                <p:outputLabel value="Cause" for="cause"/>
                <p:outputLabel value="Correction" for="correction"/>
                <p:inputTextarea id="complaint" value="#{claimDTSService.lineIns.complaintReason}"   required="yes"/>
                <p:inputTextarea id="cause" value="#{claimDTSService.lineIns.cause}"  required="yes"/>
                <p:inputTextarea id="correction" value="#{claimDTSService.lineIns.correction}"   required="yes"/>
            </h:panelGrid>
            
            <p:separator />

            <h:panelGrid   columns="2" cellpadding="5" id="claimLaborPanel" >
                <p:outputLabel value="Labor Hours" for="laborHours"/>     
                <p:inputText id="laborHours" value="#{claimDTSService.laborIns.laborTime}"    required="yes"/>
                <p:outputLabel value="SRT Code" for="srtCode"/>
                <p:inputText id="srtCode" value="#{claimDTSService.laborIns.srtCodeLaborOp}"  required="yes"/>
                <p:outputLabel value="Labor Description" for="laborDesc"/>
                <p:inputText id="laborDesc" value="#{claimDTSService.laborIns.laborDesc}"   required="yes"/>
                <p:outputLabel value="Labor Rate" for="laborRate"/>
                <p:inputText id="laborRate" value="#{claimDTSService.laborIns.laborRate}"   required="yes"/>
            </h:panelGrid>
            
            <p:separator />
            
            <h:panelGrid   columns="3" cellpadding="5" id="claimPartPanel">
                <p:outputLabel value="Quantity" for="partQty"/>     
                <p:inputText id="partQty" value="#{claimDTSService.partIns.partQty}"   required="yes"/>
                <p:outputLabel value="" />
                
                <p:outputLabel value="Part Number" for="partNumber"/>
                <p:autoComplete id="partNumber" value="#{claimDTSService.partIns.partNumber}" required="yes" completeMethod="#{autoCompletion.completePartNumber}"  />
                <p:commandButton id="searchPN"   process="@form"  update="@form"  actionListener="#{claimDTSService.searchPN}" icon=" ui-icon-search"   oncomplete="PF('pnDialog').show()">
                    <f:attribute name="partNumber" value="#{claimDTSService.partIns.partNumber}" />
                    <p:ajax event="dialogReturn" listener="#{claimDTSService.pnDialogClosed}" update="claimPartPanel" />
                </p:commandButton>
                
                <p:outputLabel value="Part Description" for="partDesc"/>
                <p:autoComplete  id="partDesc" value="#{claimDTSService.partIns.partDesc}"   required="yes" completeMethod="#{autoCompletion.completePartDesc}"/>
                <p:commandButton id="searchPD"   process="@form"  update="@form"  actionListener="#{claimDTSService.searchPD}" icon=" ui-icon-search"  >
                    <f:attribute name="partNumber" value="#{claimDTSService.partIns.partDesc}" />
                    <p:ajax event="dialogReturn" listener="#{claimDTSService.pdDialogClosed}" update="claimPartPanel" />
                </p:commandButton>
                
                <p:outputLabel value="Part Price" for="partCost"/>
                <p:inputText id="partCost" value="#{claimDTSService.partIns.partCost}"   required="yes"/>
                <p:outputLabel value="" />
            </h:panelGrid>

            <!-- editMode="cell" editable="true"  -->
            <p:dataTable   id="claimLine"  var="claimLine"    value="#{claimDTSService.claimDts.claimDTSLine}"   rowKey="#{claimLine.claimDetailId}"  selectionMode="single"    selection="#{claimDTSService.selectedLine}" emptyMessage=""     tableStyle="cellpadding: 5px;" scrollable="true" >
                <p:ajax event="rowSelect" listener="#{claimDTSService.onLineRowSelect}" update="@form"  />
                <p:ajax event="rowUnselect" listener="#{claimDTSService.onLineRowUnselect}" update= "@form" />


                <p:column style="width:16px">
                    <p:rowToggler />
                </p:column>

                <p:column headerText="ComplaintReason" >
                    
                    <h:outputText value="#{claimLine.complaintReason}" />
                </p:column>

                <p:column headerText="Cause" >
                    
                    <h:outputText value="#{claimLine.cause}" />
                </p:column>

                <p:column headerText="Correction" >
                   
                    <h:outputText value="#{claimLine.correction}" />
                </p:column>

                <p:rowExpansion>
                    <!-- editable="true" editMode="cell" -->
                    <p:dataTable   id="claimLabor"  var="claimLabor"    value="#{claimLine.claimDTSLabor}"  rowKey="#{claimLabor.detailItemId}"  selectionMode="single"    selection="#{claimDTSService.selectedLabor}"  tableStyle="table-layout: auto; width: 100%; height: 100%;" scrollable="true">
                        <p:ajax event="rowSelect" listener="#{claimDTSService.onLaborRowSelect}" update="@form" />
                        <p:ajax event="rowUnselect" listener="#{claimDTSService.onLaborRowUnselect}" update="@form" />

                        <p:column style="width:16px">
                            <p:rowToggler />
                        </p:column>

                        <p:column headerText="Date" >
                            
                            <h:outputText value="#{claimLabor.updateLast}" />
                        </p:column>

                        <p:column headerText="User Name" >
                            
                            <h:outputText value="#{claimLabor.updateUserName}" />
                        </p:column>

                        <p:column headerText="Labor Hours" >
                            
                            <h:outputText value="#{claimLabor.laborTime}" />
                        </p:column>

                        <p:column headerText="SRT COde" >
                            
                            <h:outputText value="#{claimLabor.srtCodeLaborOp}" />
                        </p:column>

                        <p:column headerText="Labor Description" >
                            
                            <h:outputText value="#{claimLabor.laborDesc}" />
                        </p:column>

                        <p:column headerText="Labor Rate" >
                            
                            <h:outputText value="#{claimLabor.laborRate}" />
                        </p:column>

                        <p:column headerText="Labor Sub-Total" >
                            
                            <h:outputText value="#{claimLabor.laborSubTotal}" />
                        </p:column>

                        <p:rowExpansion>
                            <p:dataTable   id="claimPart"  var="claimPart"    value="#{claimLabor.claimDTSPart}"  editable="true" scrollable="true" rowKey="#{claimPart.claimPartId}"  selectionMode="single"    selection="#{claimDTSService.selectedPart}" tableStyle="table-layout: auto; width: 100%; height: 100%;" >
                                <p:ajax event="rowSelect" listener="#{claimDTSService.onPartRowSelect}" update="@form"  />
                                <p:ajax event="rowUnselect" listener="#{claimDTSService.onPartRowUnselect}" update="@form" />

                                <p:column headerText="Date" >
                                   
                                    <h:outputText value="#{claimPart.updateLast}" />
                                </p:column>

                                <p:column headerText="User Name" >
                                    
                                    <h:outputText value="#{claimPart.updateUserName}" />
                                </p:column>

                                <p:column headerText="Part Quantity" >
                                    
                                    <h:outputText value="#{claimPart.partQty}" />
                                </p:column>

                                <p:column headerText="Part Number" >
                                    
                                    <h:outputText value="#{claimPart.partNumber}" />
                                </p:column>

                                <p:column headerText="Part Description" >
                                    
                                    <h:outputText value="#{claimPart.partDesc}" />
                                </p:column>

                                <p:column headerText="Part Price" >
                                    
                                    <h:outputText value="#{claimPart.partCost}" />
                                </p:column>

                                <p:column headerText="Sub Total" >
                                    
                                    <h:outputText value="#{claimPart.partSubTotal}" />
                                </p:column>


                            </p:dataTable>
                        </p:rowExpansion>


                    </p:dataTable>
                </p:rowExpansion>

            </p:dataTable>
            
            <p:dialog header="PartNumber used before" widgetVar="pnDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" >
                <h:outputText value="under constructioin" />
            </p:dialog>
            <p:separator/>
            <h:panelGrid columns="3">
                <p:commandButton id="saveComplaint" value="Save Complaint"    ajax="true"      actionListener="#{claimDTSService.saveLine}"  update="@form" process="@form" />
                <p:commandButton id="updateComplaint" value="Update Complaint"      actionListener="#{claimDTSService.updateLine}"  update="@form" process="@form"/>
                <p:commandButton id="deleteComplaint" value="Delete Complaint"      actionListener="#{claimDTSService.deleteLine}"  update="@form" process="@form"/>
          
                <p:commandButton id="saveLabor" value="Save Labor"      actionListener="#{claimDTSService.saveLabor}"  update="@form"  process="@form"/> 
                <p:commandButton id="updateLabor" value="Update Labor"      actionListener="#{claimDTSService.updateLabor}"  update="@form"  process="@form"/>
                <p:commandButton id="deleteLabor" value="Delete Labor"      actionListener="#{claimDTSService.deleteLabor}"  update="@form"  process="@form"/>
         
                <p:commandButton id="savePart" value="Save Part"      actionListener="#{claimDTSService.savePart}"  update="@form" process="@form"/> 
                <p:commandButton id="updatePart" value="Update Part"      actionListener="#{claimDTSService.updatePart}"  update="@form" process="@form"/>
                <p:commandButton id="deletePart" value="Delete Part"      actionListener="#{claimDTSService.deletePart}"  update="@form" process="@form"/>
            </h:panelGrid>
    </h:body>
</html>

