<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <!--
        <title>Facelet Title</title>
        -->

    </h:head>
    <h:body>

        <p:messages id="ancmessages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:panelGrid columns="2" cellpadding="5" id="claimGeneralPanelancedit">

            <p:outputLabel value="Paid To: " for="paidToanc"/> 
            <h:panelGrid columns="2" cellpadding="5" id="rfbar">
                <p:inputText id="paidToanc" value="#{claimGeneralService.cganc.paidTo}"   readonly="${claimGeneralService.ANCreadonly}" />
                <p:toolbar id="ancFacilityCommandBar"  >
                    <f:facet name="left"> 
                        <p:commandButton id="ancSearchRF"   value="Search" process="@form"  update="claimGeneralPanelancedit"  actionListener="#{rfSearchService.searchRF}" icon=" ui-icon-search"  rendered="#{claimGeneralService.claimEditable}">
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.ancDialogClosed}"   update="claimGeneralPanelancedit" />
                        </p:commandButton>
                        <p:commandButton id="ancViewNewEditFacility"   value="View/New/Edit" process="@form"  update="claimGeneralPanelancedit"  actionListener="#{rfSearchService.viewNewEditFacility}"   >
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.ancViewNewEditFacilityClosed}"   update="claimGeneralPanelancedit" />
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
            </h:panelGrid>

            <p:outputLabel value="Claim Number: " for="claimNumberanc"/>
            <p:outputLabel id="claimNumberanc" value="#{claimGeneralService.cganc.claimNumber}"   />
            <p:outputLabel value="Inception Date: " for="inceptionDateanc"/>
            <p:inputText id="inceptionDateanc" value="#{claimGeneralService.cganc.inceptionDate}"   readonly="${claimGeneralService.ANCreadonly}"/>
            <p:outputLabel value="Odometer: " for="odometeranc"/>
            <p:inputText id="odometeranc" value="#{claimGeneralService.cganc.odometer}" readonly="${claimGeneralService.ANCreadonly}">
                <p:ajax event="mouseout" listener="#{claimGeneralService.passANCodometer}" process="odometeranc" />
            </p:inputText>
            <p:outputLabel value="Repair Order: " for="repairOrderanc"/>
            <p:inputText id="repairOrderanc" value="#{claimGeneralService.cganc.roNumber}"  readonly="${claimGeneralService.ANCreadonly}"/>            
            <p:outputLabel value="Amount: " for="amountanc"/>
            <p:inputText id="amountanc" value="#{claimGeneralService.cganc.amount}"  readonly="${claimGeneralService.ANCreadonly}" />

            <p:outputLabel value="Assigned To:  " for="assignedToanc"/>
            <h:panelGrid columns="2" cellpadding="5" id="assignedTobar">
                <p:inputText id="assignedToanc" value="#{claimGeneralService.cganc.assignedTo}"   readonly="${claimGeneralService.ANCreadonly}"/>
                <p:toolbar id="ancAssignCommandBar"  rendered="#{claimGeneralService.claimEditable}">
                    <f:facet name="left">   
                        <p:commandButton id="ancAssign"   value="Assign" process="@form"  update="claimGeneralPanelancedit"  actionListener="#{memberSearchService.searchMember}" icon=" ui-icon-search"  rendered="#{claimGeneralService.claimEditable}">
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.ancMSDialogClosed}"   update="claimGeneralPanelancedit" />
                        </p:commandButton>
                        <p:commandButton id="ancUnAssign" value="unassign" icon="ui-icon-disk"  ajax="true"  process="@form" update="claimGeneralPanelancedit"  actionListener="#{claimGeneralService.ancUnAssign()}"/>
                        <!--
                        <p:commandButton id="ancUnAssign" value="unassign" icon="ui-icon-disk"  ajax="true"  process="@form" actionListener="#{claimGeneralService.ancAssignSelf()}"/>
                        -->

                    </f:facet>
                </p:toolbar>

            </h:panelGrid>

            <p:outputLabel value="Reason: " for="reasonanc"/>
            <p:inputTextarea id="reasonanc" value="#{claimGeneralService.cganc.reason}"    cols="75" rows="15" readonly="${claimGeneralService.ANCreadonly}"/>

        </h:panelGrid>
    </h:body>
</html>

