<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        
    </h:head>
    <h:body>

            <h:panelGrid columns="2" cellpadding="5" id="claimContractPanel">
                <p:outputLabel value="Contract Number" />
                <p:outputLabel value="#{claimCVDService.claimContract.contractNo}"   />
                <p:outputLabel value="Contract Status" />
                <p:outputLabel id="status" value="#{claimCVDService.claimContract.contractStatus}"   />
                <p:outputLabel value="Customer" />
                <p:outputLabel id="customer" value="#{claimCVDService.claimContract.customer}"   />
                <p:outputLabel value="Phone" />
                <p:outputLabel  value="#{claimCVDService.claimContract.phone}"   />
                <p:outputLabel value="Program" />
                <p:outputLabel id="program" value="#{claimCVDService.claimContract.program}"   />
                <p:outputLabel value="Product" />
                <p:outputLabel id="product" value="#{claimCVDService.claimContract.product}"   />
                <p:outputLabel value="Plan" />
                <p:outputLabel id="plan" value="#{claimCVDService.claimContract.plan}"   />
                <p:outputLabel value="Term" />
                <p:outputLabel id="term" value="#{claimCVDService.claimContract.term}"   />
                <p:outputLabel value="Class" />
                <p:outputLabel id="classCode" value="#{claimCVDService.claimContract.classCode}"   />
                <p:outputLabel value="Deductible" />
                <p:outputLabel id="deductible" value="#{claimCVDService.claimContract.deductible}"   />
                <p:outputLabel value="Effective" />
                <p:outputLabel id="effective" value="#{claimCVDService.claimContract.effectiveDate}"   />
                <p:outputLabel value="Expire" />
                <p:outputLabel id="expire" value="#{claimCVDService.claimContract.contractExpirationDate}"   />
                <p:outputLabel value="Odometer" />
                <p:outputLabel id="odometer" value="#{claimCVDService.claimContract.odometer}"   />
                <p:outputLabel value="Claim Start Usage" />
                <p:outputLabel id="claimStartUsage" value="#{claimCVDService.claimContract.claimStartUsage}"   />
                <p:outputLabel value="Expireation Usage" />
                <p:outputLabel id="expireUsage" value="#{claimCVDService.claimContract.expirationusage}"   />
                <p:outputLabel value="Contract Purchase Price" />
                <p:outputLabel id="cpp" value="#{claimCVDService.claimContract.contractPurchasePrice}"   />
            </h:panelGrid>
    </h:body>
</html>

