<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Claim</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

        <script type="text/javascript">

        </script>
        <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            
            <ui:define name="centerContent">

                <h:form id="form">
                   <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Claims" url="#" />
                    <p:menuitem value="Find Claim" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Find Claim</h1> 
                    <p:growl id="growl" showDetail="true" />

                    <p:separator />
                    <h:panelGrid id="claimSearchGrid" columns="7"    styleClass="panelColumns">
                        <p:fieldset legend="Vehicle"   >

                            <p:outputLabel for="vin" value="VIN: "/>
                            <p:autoComplete id="vin" value="#{claimFirstLineView.cs.vinFull}"   completeMethod="#{autoCompletion.completeVin}" minQueryLength="5"/>

                        </p:fieldset>

                        <p:fieldset legend="Claim"   >
                            <h:panelGrid  id="grid1" columns="2"   cellpadding="5">
                                <p:outputLabel for="claimNo" value="Number: "/>
                                <p:inputText id="claimNo" value="#{claimFirstLineView.cs.claimNumber}" label="Enter claim Number" />

                                <p:outputLabel for="assignedTo" value="Assigned: "/>
                                <p:autoComplete id="assignedTo" value="#{claimFirstLineView.cs.userName}"  completeMethod="#{autoCompletion.completeAssignedTo}" />

                                <p:outputLabel for="claimType" value="Type: " />
                                <p:selectOneMenu id="claimType" value="#{claimFirstLineView.cs.productTypeName}" effect="fold"  editable="true">                        
                                    <f:selectItems value="#{claimFirstLineView.claimTypes}" />
                                </p:selectOneMenu>
                            </h:panelGrid>
                        </p:fieldset>

                        <p:fieldset legend="Contract"  >
                            <h:panelGrid  columns="2" cellpadding="5">
                                <p:outputLabel for="contractNo" value="Contract:No: "/>
                                <p:inputText id="contractNo" value="#{claimFirstLineView.cs.contractNo}" />

                                <p:outputLabel for="startDate" value="Start Date: "/>
                                <p:calendar  id="startDate" value="#{claimFirstLineView.cs.effectiveDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>

                                <p:outputLabel for="endDate" value="End Date: "/>
                                <p:calendar id="endDate"  mask="true"   pattern="MM/dd/yyyy" value="#{claimFirstLineView.cs.contractExpirationDate}"  navigator="true"  />
                            </h:panelGrid>
                        </p:fieldset>

                        <p:fieldset legend="Customer"  >
                            <h:panelGrid  columns="2" cellpadding="5">
                                <p:outputLabel for="customerName" value="Name: "/>
                                <p:inputText id="customerName" value="#{claimFirstLineView.cs.customer}" />
                                <p:outputLabel for="customerPhone" value="Phone: "/>
                                <p:inputText id="customerPhone" value="#{claimFirstLineView.cs.phoneNumber}" />
                            </h:panelGrid>
                        </p:fieldset>

                        <p:fieldset legend="Dealer"  >
                            <h:panelGrid  columns="2" cellpadding="5">
                                <p:outputLabel for="dealerName" value="Name: "/>
                                <p:autoComplete id="dealerName" value="#{claimFirstLineView.cs.dealerName}" completeMethod="#{autoCompletion.completeDealerName}" />
                                <p:outputLabel for="dealerNumber" value="Number "/>
                                <p:autoComplete id="dealerNumber" value="#{claimFirstLineView.cs.dealerNumber}" completeMethod="#{autoCompletion.completeDealerNumber}"/>
                            </h:panelGrid>
                        </p:fieldset>

                        <h:panelGrid columns="1">
                            <p:commandButton id="bu1" value="Find Claim(s)" actionListener="#{claimFirstLineView.findClaims()}" process="@form" update="@form" />
                            <p:commandButton id="resetBut" value="Reset"  >
                                <p:ajax update="claimSearchGrid" resetValues="true"  listener="#{claimFirstLineView.reset()}"/>
                            </p:commandButton>
                        </h:panelGrid>

                    </h:panelGrid>

                    <p:separator/>

                    <p:dataTable   id="claimFirstLine"  var="claimFirstLine"    value="#{claimFirstLineView.claims}"   selection="#{claimFirstLineView.selectedClaim}"  selectionMode="single"   rowKey="#{claimFirstLine.claimNumber}"  emptyMessage=""  rows="15"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" lazy="true" scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{claimFirstLineView.onRowSelect}" update=":form:msgs :form:claimMenu" oncomplete="PF('claimMenu').show()" />

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewClaim" value="Add Claim"    process="@form"   actionListener="#{claimTabView.newClaimTab}"  >
                                    <p:ajax event="dialogReturn" listener="#{claimFirstLineView.dialogClosed}" update="claimFirstLine" />
                                    <f:attribute name="contractNo" value="#{claimFirstLineView.cs.contractNo}" /> 
                                </p:commandButton>
                            </div>
                        </f:facet>

                        <p:columnGroup type="header">

                            <p:row>
                                <p:column headerText="Product"  sortBy="#{claimFirstLine.product}"  />
                                <p:column headerText="Claim Number"  sortBy="#{claimFirstLine.claimNumber}"  />
                                <p:column headerText="Assigned To" sortBy="#{claimFirstLine.assignedTo}" />
                                <p:column headerText="Inception" sortBy="#{claimFirstLine.inceptionDate}"  />
                                <p:column headerText="Status" sortBy="#{claimFirstLine.claimStatus}"/>
                                <p:column headerText="Substatus" sortBy="#{claimFirstLine.claimSubStatus}" />
                                <p:column headerText="Contract Number" sortBy="#{claimFirstLine.contractNo}" />
                                <p:column headerText="Contract Stutus" sortBy="#{claimFirstLine.contractStatus}" />
                                <p:column headerText="Customer" sortBy="#{claimFirstLine.customer}" />
                                <p:column headerText="Paid To" sortBy="#{claimFirstLine.paidTo}"/>
                                <p:column headerText="Amount" sortBy="#{claimFirstLine.amount}" />
                            </p:row>

                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{claimFirstLine.product}"  />
                        </p:column>

                        <p:column    >
                            <h:outputText value="#{claimFirstLine.claimNumber}"></h:outputText>
                        </p:column>

                        <p:column >
                            <h:outputText value="#{claimFirstLine.assignedTo}"  />
                        </p:column>

                        <p:column      >
                            <h:outputText value="#{claimFirstLine.inceptionDate}"  />
                        </p:column>

                        <p:column  >
                            <h:outputText value="#{claimFirstLine.claimStatus}" />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{claimFirstLine.claimSubStatus}"  />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{claimFirstLine.contractNo}"  />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{claimFirstLine.contractStatus}"  />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{claimFirstLine.customer}"  />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{claimFirstLine.paidTo}"  />
                        </p:column>

                        <p:column >
                            <h:outputText value="#{claimFirstLine.amount}"  />
                        </p:column>
                    </p:dataTable>


                    <p:growl id="msgs" showDetail="true" />

                    <p:growl id="messages" showDetail="false"/>

                    <p:menu id="claimMenu" widgetVar="claimMenu" triggerEvent="rowSelect" trigger="claimFirstLine" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Details" update="messages"    actionListener="#{claimTabView.viewClaimTab}"   icon="ui-icon-star">
                            <f:attribute name="claimNumber" value="#{claimFirstLineView.selectedClaim.claimNumber}" />
                        </p:menuitem>
                        <p:menuitem value="Edit" update="messages"    actionListener="#{claimTabView.editClaimTab}"   icon="ui-icon-star">
                            <f:attribute name="claimNumber" value="#{claimFirstLineView.selectedClaim.claimNumber}" />
                        </p:menuitem>

                    </p:menu>



                </h:form>
                <p:separator/>

                <p>Copyright &copy; 2018 &middot; Dealer Owned Warranty Company &middot; All Rights Reserved.</p>       

            </ui:define>
        </ui:composition>
    </h:body>
</html>

