<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <!--
        <title>Facelet Title</title>
        -->

    </h:head>
    <h:body>

        <p:messages id="ppcmessages" showDetail="true"  autoUpdate="true"  closable="true"/>
        <h:panelGrid columns="2" cellpadding="5" id="claimGeneralPanelppm">

            <p:outputLabel value="Paid To: " for="paidToppm"/> 
            <h:panelGrid columns="2" cellpadding="5" id="rfbarppm">
                <p:inputText id="paidToppm" value="#{claimGeneralService.cganc.paidTo}"   readonly="${claimGeneralService.PPMreadonly}" />
                <p:toolbar id="ppmFacilityCommandBar"  >
                    <f:facet name="left"> 
                        <p:commandButton id="ppmSearchRF"   value="Search" process="@form"  update="claimGeneralPanelppm"  actionListener="#{rfSearchService.searchRF}" icon=" ui-icon-search"  rendered="#{claimGeneralService.claimEditable}">
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.ancDialogClosed}"   update="claimGeneralPanelppm" />
                        </p:commandButton>
                        <p:commandButton id="ppmViewNewEditFacility"   value="View/New/Edit" process="@form"  update="claimGeneralPanelppm"  actionListener="#{rfSearchService.viewNewEditFacility}"  >
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.ancViewNewEditFacilityClosed}"   update="claimGeneralPanelppm" />
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
            </h:panelGrid>

            <p:outputLabel value="Claim Number: " for="claimNumberppm"/>
            <p:outputLabel id="claimNumberppm" value="#{claimGeneralService.cganc.claimNumber}"   />
            <p:outputLabel value="Inception Date: " for="inceptionDateppm"/>
            <p:inputText id="inceptionDateppm" value="#{claimGeneralService.cganc.inceptionDate}"   readonly="${claimGeneralService.PPMreadonly}"/>
            <p:outputLabel value="Odometer: " for="odometerppm"/>
            <p:inputText id="odometerppm" value="#{claimGeneralService.cganc.odometer}" readonly="${claimGeneralService.PPMreadonly}"    >
                <p:ajax event="mouseout" listener="#{claimGeneralService.passPPMOdometer()}" process="odometerppm" />
            </p:inputText>
            <p:outputLabel value="Repair Order: " for="repairOrderppm"/>
            <p:inputText id="repairOrderppm" value="#{claimGeneralService.cganc.roNumber}"  readonly="${claimGeneralService.PPMreadonly}"/>            
            <p:outputLabel value="Amount: " for="amountppm"/>
            <p:inputText id="amountppm" value="#{claimGeneralService.cganc.amount}"  readonly="${claimGeneralService.PPMreadonly}" />

            <p:outputLabel value="Assigned To:  " for="assignedToppm"/>
            <h:panelGrid columns="2" cellpadding="5" id="assignedTobarppm">
                <p:inputText id="assignedToppm" value="#{claimGeneralService.cganc.assignedTo}"   readonly="${claimGeneralService.PPMreadonly}"/>
                <p:toolbar id="ppmAssignCommandBar"  rendered="#{claimGeneralService.claimEditable}">
                    <f:facet name="left">   
                        <p:commandButton id="ppmAssign"   value="Assign" process="@form"  update="claimGeneralPanelppm"  actionListener="#{memberSearchService.searchMember}" icon=" ui-icon-search"  rendered="#{claimGeneralService.claimEditable}">
                            <p:ajax event="dialogReturn" listener="#{claimGeneralService.ancMSDialogClosed}"   update="claimGeneralPanelppm" />
                        </p:commandButton>
                        <p:commandButton id="ppmUnAssign" value="unassign" icon="ui-icon-disk"  ajax="true"  process="@form" update="claimGeneralPanelppm"  actionListener="#{claimGeneralService.ancUnAssign()}"/>
                        <!--
                        <p:commandButton id="ppmUnAssign" value="unassign" icon="ui-icon-disk"  ajax="true"  process="@form" actionListener="#{claimGeneralService.ancAssignSelf()}"/>
                        -->

                    </f:facet>
                </p:toolbar>

            </h:panelGrid>

        </h:panelGrid>
    </h:body>
</html>

