<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Contract</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

        <script type="text/javascript">

        </script>
        <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            
            <ui:define name="centerContent">

        <h:form id="csform">
            <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Contracts" url="#" />
                    <p:menuitem value="Find Contracts" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Find Contracts</h1>
                    <p:growl id="growl" showDetail="true" />

            <p:separator />
            <h:panelGrid id="contractSearchGrid" columns="6"    styleClass="panelColumns">
                <p:fieldset legend="Vehicle"   >

                    <p:outputLabel for="vinContract" value="VIN: "/>
                    <p:autoComplete id="vinContract" value="#{contractFirstLineView.cs.vinFull}"   completeMethod="#{autoCompletion.completeVin}" minQueryLength="5"/>

                </p:fieldset>

                

                <p:fieldset legend="Contract"  >
                    <h:panelGrid  columns="2" cellpadding="5">
                        
                        <p:outputLabel for="contractNoc" value="Contract:No: "/>
                        <p:inputText id="contractNoc" value="#{contractFirstLineView.cs.contractNo}" />
                        

                        <p:outputLabel for="startDatec" value="Start Date: "/>
                        <p:calendar  id="startDatec" value="#{contractFirstLineView.cs.effectiveDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>

                        <p:outputLabel for="endDatec" value="End Date: "/>
                        <p:calendar id="endDatec"  mask="true"   pattern="MM/dd/yyyy" value="#{contractFirstLineView.cs.contractExpirationDate}"  navigator="true"  />
                        
                        <p:outputLabel for="contractType" value="Type: " />
                        <p:selectOneMenu id="contractType" value="#{contractFirstLineView.cs.productTypeName}" effect="fold"  editable="true">                        
                            <f:selectItems value="#{contractFirstLineView.contractTypes}" />
                        </p:selectOneMenu>
                        
                    </h:panelGrid>
                </p:fieldset>

                <p:fieldset legend="Customer"  >
                    <h:panelGrid  columns="2" cellpadding="5">
                        <p:outputLabel for="customerNamec" value="Name: "/>
                        <p:inputText id="customerNamec" value="#{contractFirstLineView.cs.customer}" />
                        <p:outputLabel for="customerPhonec" value="Phone: "/>
                        <p:inputText id="customerPhonec" value="#{contractFirstLineView.cs.phoneNumber}" />
                    </h:panelGrid>
                </p:fieldset>

                <p:fieldset legend="Dealer"  >
                    <h:panelGrid  columns="2" cellpadding="5">
                        <p:outputLabel for="dealerNamec" value="Name: "/>
                        <p:autoComplete id="dealerNamec" value="#{contractFirstLineView.cs.dealerName}" completeMethod="#{autoCompletion.completeDealerName}" />
                        <p:outputLabel for="dealerNumberc" value="Number "/>
                        <p:autoComplete id="dealerNumberc" value="#{contractFirstLineView.cs.dealerNumber}" completeMethod="#{autoCompletion.completeDealerNumber}"/>
                    </h:panelGrid>
                </p:fieldset>
                
                <p:fieldset legend="Agent"  >
                    <h:panelGrid  columns="2" cellpadding="5">
                        <p:outputLabel for="agentc" value="Agent: "/>
                        <p:autoComplete id="agentc" value="#{contractFirstLineView.cs.agent}" completeMethod="#{autoCompletion.completeAgentName}"/>
                    </h:panelGrid>
                </p:fieldset>

                <h:panelGrid columns="1">
                    <p:commandButton  id="findContract"  value="Find Contract(s)" actionListener="#{contractFirstLineView.findContracts()}" process="@form" update="@form" />
                    <p:commandButton id="resetButc" value="Reset"  >
                        <p:ajax update="contractSearchGrid" resetValues="true"  listener="#{contractFirstLineView.reset()}"/>
                    </p:commandButton>
                </h:panelGrid>

            </h:panelGrid>

            <p:separator/>
            
            <p:dataTable   id="contractFirstLine"  var="contractFirstLine"    value="#{contractFirstLineView.contracts}"   selection="#{contractFirstLineView.selectedContract}"  selectionMode="single"   rowKey="#{contractFirstLine.contractNo}"  emptyMessage=""  rows="15"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  lazy="true" scrollable="true" scrollHeight="600">
                <p:ajax event="rowSelect" listener="#{contractFirstLineView.onRowSelect}" update=":csform:contractMenu" oncomplete="PF('contractMenu').show()" />

                <p:columnGroup type="header">

                    <p:row>
                        <p:column headerText="Product"  sortBy="#{contractFirstLine.product}"    width="15%"/>
                        <p:column headerText="Type"  sortBy="#{contractFirstLine.productType}"   width="5%"/>
                        <p:column headerText="Effective Date" sortBy="#{contractFirstLine.effectDate}"  width="5%"/>
                        <p:column headerText="Expired Date" sortBy="#{contractFirstLine.expireDate}" width="5%"/>
                        <p:column headerText="Number" sortBy="#{contractFirstLine.contractNo}" width="10%"/>
                        <p:column headerText="Status" sortBy="#{contractFirstLine.contractStatus}" width="5%"/>
                        <p:column headerText="Customer" sortBy="#{contractFirstLine.customer}" width="15%"/>
                        <p:column headerText="Vin" sortBy="#{contractFirstLine.vin}" width="15%"/>
                        <p:column headerText="Account Holder" sortBy="#{contractFirstLine.accountHolder}"  width="10%"/>
                        <p:column headerText="Agent" sortBy="#{contractFirstLine.agent}"  width="10%"/>
                        <p:column headerText="Purchase Price" sortBy="#{contractFirstLine.purchasePrice}" width="5%"/>

                    </p:row>

                </p:columnGroup>

                <p:column >
                    <h:outputText       value="#{contractFirstLine.product}"  />
                </p:column>

                <p:column    >
                    <h:outputText value="#{contractFirstLine.productType}" />
                </p:column>

                <p:column >
                    <h:outputText value="#{contractFirstLine.effectDate}"  />
                </p:column>

                <p:column  >
                    <h:outputText value="#{contractFirstLine.expireDate}"  />
                </p:column>

                <p:column  >
                    <h:outputText value="#{contractFirstLine.contractNo}" />
                </p:column>

                <p:column  >
                    <h:outputText value="#{contractFirstLine.contractStatus}"  />
                </p:column>

                <p:column >
                    <h:outputText value="#{contractFirstLine.customer}"  />
                </p:column>

                <p:column >
                    <h:outputText value="#{contractFirstLine.vin}"  />
                </p:column>

                <p:column >
                    <h:outputText value="#{contractFirstLine.accountHolder}"  />
                </p:column>

                <p:column  >
                    <h:outputText value="#{contractFirstLine.agent}"  />
                </p:column>

                <p:column >
                    <h:outputText value="#{contractFirstLine.purchasePrice}"  />
                </p:column>
            </p:dataTable>


            <p:growl id="msgs" showDetail="true" />

            <p:growl id="messages" showDetail="false"/>

            <p:menu id="contractMenu" widgetVar="contractMenu" triggerEvent="rowSelect" trigger="contractFirstLine" overlay="true"  my="left top"    at="left top"   >
                <p:menuitem value="Details" update="messages"      action="#{contractGeneralService.viewContractTab()}"   actionListener="#{contractGeneralService.attrListener}" icon="ui-icon-star" >
                    <f:attribute name="contractNo" value="#{contractFirstLineView.selectedContract.contractNo}" />
                </p:menuitem>
                <p:menuitem value="Claims" update="messages"    action="#{contractGeneralService.viewContractTab}"    actionListener="#{contractGeneralService.attrListener}" icon="ui-icon-star">
                    <f:attribute name="contractNo" value="#{contractFirstLineView.selectedContract.contractNo}" />
                </p:menuitem>
                
            </p:menu>

            <p:separator/>
            <div />
            <p:commandButton id="addNewContract" value="Add Contract"    process="@form"   actionListener="#{contractTabView.newContractTab}"  >
                <f:attribute name="contractNo" value="#{contractFirstLineView.cs.contractNo}" /> 
            </p:commandButton>


        </h:form>
        <p:separator/>

        <p>Copyright &copy; 2018 &middot; Dealer Owned Warranty Company &middot; All Rights Reserved.</p>       
        </ui:define>
        </ui:composition>
    </h:body>
</html>
