<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Cancel contract for #{contractCancelService.contractNo}</title>
    </h:head>
    <h:body>

        <h:form id="ccbdForm">
            <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>

            <p:panelGrid columns="1" layout="grid">
                <p:panelGrid columns="1" layout="grid">
                    <p:outputLabel value="Contract Information " style="font: bold;" />
                </p:panelGrid>
                <p:panelGrid columns="6" layout="grid">
                    <p:outputLabel value="Contract Number "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.contractNo}"  />
                    <p:outputLabel value="Product "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.product}"  />
                    <p:outputLabel value="Effective "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.effectiveDate}"  />
                    <p:outputLabel value="Contract Purchase Price "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.contractPurchasePrice}"  />
                    <p:outputLabel value="Plan "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.plan}"  />
                    <p:outputLabel value="Expires "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.expiredDate}"  />
                </p:panelGrid>
                <p:panelGrid columns="1" layout="grid">
                    <p:outputLabel value="Cancel Request Information " style="font: bold;" />
                </p:panelGrid>
                <p:panelGrid columns="4" layout="grid">
                    <p:outputLabel value="Cancel Date "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.cancelDate}"  />
                    <p:outputLabel value="Received Date "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.cancelReceivedDate}"  />
                    <p:outputLabel value="Cancel Reason "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.cancelReason}"  />
                    <p:outputLabel value="Cancel Method "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.cancelMethod}"  />
                    <p:outputLabel value="Cnacel Method Group "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.cancelMethodGroup}"  />
                    <p:outputLabel value="Cancel Rule Method  "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.cancelGroupRuleMethod}"  />
                    <p:outputLabel value="Cancel Rule Type  "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.cancelGroupRuleType}"  />
                    <p:outputLabel value="Valid To  "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.validTo}"  />
                    <p:outputLabel value="Odometer  "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.currentOdometer}"  />
                </p:panelGrid>
                <p:panelGrid columns="1" layout="grid">
                    <p:outputLabel value="Refund Breakdown " style="font: bold;" />
                </p:panelGrid>
                <p:panelGrid columns="4" layout="grid">
                     <p:outputLabel value=""  /> <p:outputLabel value="Cost"  /> <p:outputLabel value="Rate"  /> <p:outputLabel value="Refund"  />
                     <p:outputLabel value="Refund Coverage Cost"  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.coverageCost}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                     <p:outputLabel value="#{contractCancelService.contractCancelBreakdown.refundRatio}%"  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.adminRefund}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                     <p:outputLabel value="Admin Collected Fee "  /><p:outputLabel value=""  /><p:outputLabel value=""  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.adminFee}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                     <p:outputLabel value=""  /> <p:outputLabel value=""  /> <p:outputLabel value=""  /> <p:outputLabel value="________"  />
                     <p:outputLabel value="Admin Portion "  /><p:outputLabel value=""  /> <p:outputLabel value=""  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.adminPortion}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                     <p:separator /><p:separator /><p:separator /><p:separator />
                     <p:outputLabel value="Dealer Profit "  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.dealerProfit}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                     <p:outputLabel value="#{contractCancelService.contractCancelBreakdown.refundRatio}%"  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.dpRefund}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                     <p:outputLabel value="Dealer Retained Fee "  /><p:outputLabel value=""  /> <p:outputLabel value=""  /> <p:outputLabel value="#{contractCancelService.contractCancelBreakdown.dealerRetainedFee}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                     <p:outputLabel value="Dealer Portion "  /><p:outputLabel value=""  /> <p:outputLabel value=""  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.dealerPortion}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                     <p:separator /><p:separator /><p:separator /><p:separator />
                     <p:outputLabel value="Customer Refund "  /><p:outputLabel value=""  /> <p:outputLabel value=""  /><p:outputLabel value="#{contractCancelService.contractCancelBreakdown.customerRefund}"  ><f:convertNumber type="currency" currencySymbol="$" /></p:outputLabel>
                </p:panelGrid>
                       
                <p:panelGrid columns="3">
                    <p:commandButton value="Cancel Contract" action="#{contractCancelService.cancelContract()}"  /><p:commandButton value="Print Customer Cancel Quote" action="#{contractCancelService.printCustomerCancelContract()}"  /><p:commandButton value="Print Dealer Cancel Quote" action="#{contractCancelService.printDealerCancelQuote()}"  />
                </p:panelGrid>
            </p:panelGrid>
        </h:form>

    </h:body>
</html>
