<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        
    </h:head>
    <h:body>
        
            <p:dataTable   id="contractNote"  var="contractNote"    widgetVar="contractNote"  value="#{contractNoteService.contractNotes}"    rowKey="#{contractNote.claimNumber}"  emptyMessage=""     tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="600" rows="15"  paginatorPosition="bottom" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"    rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}">
                
                <p:column headerText="ClaimNumber" resizable="true"  filterBy="#{contractNote.claimNumber}">
                    <h:outputText value="#{contractNote.claimNumber}" />
                </p:column>
                <p:column headerText="Notes" resizable="true"  filterBy="#{contractNote.note}">
                    <h:outputText value="#{contractNote.note}" />
                </p:column>
                <p:column headerText="Entered By"  resizable="true" filterBy="#{contractNote.enteredBy}">
                    <h:outputText value="#{contractNote.enteredBy}" />
                </p:column>
                <p:column headerText="Entered Date"  resizable="true" filterBy="#{contractNote.enteredDate}">
                    <h:outputText value="#{contractNote.enteredDate}" />
                </p:column>
           
            </p:dataTable>
            
          
    </h:body>
</html>

