<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>

    </h:head>
    <h:body>

        <p:dataTable   id="contractField"  var="contractField"    widgetVar="contractField"  value="#{contractFieldService.cfList}"    rowKey="#{contractField.contractFieldId}"  emptyMessage=""     tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="600" rows="15"  >
            <f:facet name="header">
                Contract Fields
            </f:facet>
            <p:column headerText="Name" resizable="true"  filterBy="#{contractField.name}">
                <h:outputText value="#{contractField.name}" />
            </p:column>
            <p:column headerText="Value" resizable="true"  filterBy="#{contractField.value}">
                <h:outputText value="#{contractField.value}" />
            </p:column>


        </p:dataTable>


    </h:body>
</html>

