<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Customer Info</title>
    </h:head>
    <h:body>
        
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                 <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Users and Groups" url="#" />
                    <p:menuitem value="Customers" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Customers</h1>
        
                <h:form id="customersForm">
                     
                     <p:dataTable   id="customerTbl"  var="customerTbl"    value="#{customerInfoService.customerList}"   selection="#{customerInfoService.selectedCustomer}"  selectionMode="single"   rowKey="#{customerTbl.accountKeeperId}" lazy="true"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="25, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect"   oncomplete="PF('customersMenu').show()" update=":customersForm:customersMenu" />

                        <f:facet name="header">
                            Customers
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewCustomer" value="Add"      actionListener="#{customerInfoService.addCustomer}"  >
                                    <p:ajax event="dialogReturn" listener="#{customerInfoService.saveDialogClosed}" update="customerTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Name"  sortBy="#{customerTbl.accountKeeperName}"   filterBy="#{customerTbl.accountKeeperName} "/>
                                <p:column headerText="email"  sortBy="#{customerTbl.emailAddress}"   filterBy="#{customerTbl.emailAddress} "/>
                                <p:column headerText="address"  sortBy="#{customerTbl.physicalAddressIdFk}"   filterBy="#{customerTbl.physicalAddressIdFk} "/>
                            </p:row>
                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{customerTbl.accountKeeperName}"  />
                        </p:column>
                        <p:column >
                            <h:outputText       value="#{customerTbl.emailAddress}"  />
                        </p:column>
                        <p:column >
                            <h:outputText       value="#{customerTbl.physicalAddressIdFk}"  />
                        </p:column>
                       

                    </p:dataTable>

                    <p:menu id="customersMenu" widgetVar="customersMenu" triggerEvent="rowSelect" trigger="customerTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Edit"     action="#{customerInfoService.editCustomer()}"  icon="ui-icon-star" update="customerTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{customerInfoService.deleteCustomer()}" icon="ui-icon-star"  update="customerTbl">
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

