<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Customers</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                 <h:form id="custForm">
                     <p:dataTable   id="custTbl"  var="custTbl"    value="#{customerInfoService.usersList}"   selection="#{customerInfoService.selectedCust}"  selectionMode="single"   rowKey="#{custTbl.custId}"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="25, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{customerInfoService.onRowSelect}"  oncomplete="PF('custMenu').show()" update=":custForm:custMenu" />

                        <f:facet name="header">
                            Customers
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewCust" value="Add"      actionListener="#{customerInfoService.addCust}"  >
                                    <p:ajax event="dialogReturn" listener="#{customerInfoService.dialogClosed}" update="custTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Name"  sortBy=""   filterBy="#{usersTbl.fullName} "/>
                               
                            </p:row>
                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{usersTbl.fullName}"  />
                        </p:column>
                        <p:column    >
                            <h:outputText value="#{usersTbl.userName}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{usersTbl.userType}"  />
                        </p:column>
                        <p:column  >
                            <h:outputText value="#{usersTbl.company}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{usersTbl.group}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{usersTbl.email}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{usersTbl.active}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="usersMenu" widgetVar="usersMenu" triggerEvent="rowSelect" trigger="usersTbl" overlay="true"   my="right bottom"  at="left top" >
                        <p:menuitem value="Details / Setup"     action="#{usersService.getUserMisc}"   icon="ui-icon-star">
                        </p:menuitem>
                        <p:menuitem value="Edit"     action="#{usersService.editUser}"  icon="ui-icon-star" update="usersTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{usersService.deleteUser()}"   update="usersTbl">
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

