<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="index.xhtml">
    <ui:define name="centerContent">
        (Last Login: #{dashboard.lastLogin})

        <h3>Hi, #{dashboard.helloName}:</h3>

        <h:form>
            <p:growl id="msgs" showDetail="true" />

            <p:dashboard id="board" model="#{dashboard.model}">

                <p:panel id="claims" header="Claims" rendered="#{dashboard.numberOfClaims > 0}">
                    <p:commandLink id="toClaim"  action="#{claimFirstLineView.getClaimSearch}"  process="@form" >
                        <blink>
                            <h:outputText value="You have #{dashboard.numberOfClaims} new claims since your last login"  style="background-color: yellow; font-size: 150%; text-decoration: blink;" />
                        </blink>
                    </p:commandLink>
                </p:panel>

                <p:panel id="contracts" header="Contracts"   rendered="#{dashboard.numberOfContracts > 0}">
                    <p:commandLink id="toContract"  action="#{contractFirstLineView.getContractSearch}"  process="@form" >
                        <h:outputText value="You have #{dashboard.numberOfContracts} new contracts since your last login" style="background-color: yellow; font-size: 150%; text-decoration: blink;" />
                    </p:commandLink>
                </p:panel>

            </p:dashboard>

            <div style="clear:both" />

            <h:panelGrid columns="2" columnClasses="left,right" style="width:100%" rendered="#{dashboard.numberOfClaims > 0}">
                <p:chart type="bar" model="#{dashboard.claimBarChart}" style="width:400px;" rendered="#{dashboard.numberOfClaims > 0}"/>
                <p:chart type="pie" model="#{dashboard.claimPieChart}" style="width:400px;" rendered="#{dashboard.numberOfClaims > 0}" />
            </h:panelGrid>

            <p:chart type="bubble" model="#{dashboard.contractChart}"  rendered="#{dashboard.numberOfContracts > 0}"/>
            <p:chart type="bar" model="#{dashboard.contractBarChart}" style="width:400px;" rendered="#{dashboard.numberOfContracts > 0}"/>

            <h:panelGrid id="ppdfc" columns="5" >
                <p:outputLabel for="pbdStartDate" value="Start Date: "/>
                <p:calendar  id="pbdStartDate" value="#{pbdfcService.pbdfc.startDate}" mask="true"  pattern="MM/dd/yyyy" navigator="true"/>

                <p:outputLabel for="pbdEndDate" value="End Date: "/>
                <p:calendar id="pbdEndDate"  mask="true"   pattern="MM/dd/yyyy" value="#{pbdfcService.pbdfc.endDate}"  navigator="true"  />

                <h:panelGrid columns="1">
                    <p:commandButton  value="Find Products" actionListener="#{pbdfcService.generatePBD()}" process="@form" update="pbdTable" />
                    <p:commandButton  value="Reset"  >
                        <p:ajax update="pbdTable" resetValues="true"  listener="#{pbdfcService.reset()}"/>
                    </p:commandButton>
                </h:panelGrid>
            </h:panelGrid>

            <p:separator/>

            <p:dataTable   id="pbdTable"  var="pbdfc"    value="#{pbdfcService.lpbds}"   selection="#{pbdfcService.selectedPBD}"  selectionMode="single"   rowKey="#{pbdfc.dealerId}"  emptyMessage=""  rows="50"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="300">

                <f:facet name="header" >
                    Product Breakdown

                </f:facet>

                <f:facet name="{Customization}">
                    <div style="float: left">
                        <p:commandButton id="pbdtoggler" type="button" value="Columns" style="float:left;" icon="ui-icon-calculator" />
                        <p:columnToggler datasource="pbdTable" trigger="pbdtoggler" />
                    </div>
                </f:facet>

                <p:column headerText="Dealer"    sortBy="#{pbdfc.dealer}"  filterBy="#{pbdfc.dealer}"  style="width: fit-content;" >
                    <h:outputText       value="#{pbdfc.dealer}"  />
                </p:column>
                <p:column  headerText="ANC"    sortBy="#{pbdfc.anc}"  filterBy="#{pbdfc.anc}"    style="width: fit-content;">
                    <h:outputText value="#{pbdfc.anc}" />
                </p:column>
                <p:column headerText="BUN"  sortBy="#{pbdfc.bun}"   filterBy="#{pbdfc.bun}"  style="width: fit-content;" >
                    <h:outputText value="#{pbdfc.bun}"  />
                </p:column >
                <p:column headerText="T&amp;W"  sortBy="#{pbdfc.rht}"   filterBy="#{pbdfc.rht}"   style="width: fit-content;">
                    <h:outputText value="#{pbdfc.rht}"  />
                </p:column >
                <p:column headerText="3F1"  sortBy="#{pbdfc.threeFORone}"   filterBy="#{pbdfc.threeFORone}"   style="width: fit-content;">
                    <h:outputText value="#{pbdfc.threeFORone}"  />
                </p:column >
                <p:column headerText="PDR"  sortBy="#{pbdfc.pdr}"   filterBy="#{pbdfc.pdr}"  style="width: fit-content;" >
                    <h:outputText value="#{pbdfc.pdr}"  />
                </p:column >
                <p:column headerText="LUX"  sortBy="#{pbdfc.lux}"   filterBy="#{pbdfc.lux}"   style="width: fit-content;">
                    <h:outputText value="#{pbdfc.lux}"  />
                </p:column >
                <p:column headerText="ETCH"  sortBy="#{pbdfc.etch}"   filterBy="#{pbdfc.etch}"   style="width: fit-content;">
                    <h:outputText value="#{pbdfc.etch}"  />
                </p:column >
                <p:column headerText="EWT"  sortBy="#{pbdfc.ewt}"   filterBy="#{pbdfc.ewt}"  style="width: fit-content;" >
                    <h:outputText value="#{pbdfc.ewt}"  />
                </p:column >
                <p:column headerText="KEY"  sortBy="#{pbdfc.key}"   filterBy="#{pbdfc.key}"   style="width: fit-content;">
                    <h:outputText value="#{pbdfc.key}"  />
                </p:column >
                <p:column headerText="PPM"  sortBy="#{pbdfc.ppm}"   filterBy="#{pbdfc.ppm}"  style="width: fit-content;" >
                    <h:outputText value="#{pbdfc.ppm}"  />
                </p:column >
                <p:column headerText="VSC"  sortBy="#{pbdfc.vsc}"   filterBy="#{pbdfc.vsc}"  style="width: fit-content;" >
                    <h:outputText value="#{pbdfc.vsc}"  />
                </p:column >
                <p:column headerText="GAP"  sortBy="#{pbdfc.gap}"   filterBy="#{pbdfc.gap}"  style="width: fit-content;" >
                    <h:outputText value="#{pbdfc.gap}"  />
                </p:column >
                <p:column headerText="Total"  sortBy="#{pbdfc.total}"   filterBy="#{pbdfc.total}"   style="width: fit-content;">
                    <h:outputText value="#{pbdfc.total}"  />
                </p:column >
                <p:column headerText="AVG Dollars"  sortBy="#{pbdfc.avgAmount}"   filterBy="#{pbdfc.avgAmount}"   style="width: fit-content;">
                    <h:outputText value="$#{pbdfc.avgAmount}"  />
                </p:column >
                <p:column headerText="Total Sums"  sortBy="#{pbdfc.totalAmount}"   filterBy="#{pbdfc.totalAmount}"   style="width: fit-content;">
                    <h:outputText value="$#{pbdfc.totalAmount}"  />
                </p:column >




            </p:dataTable>


        </h:form>
    </ui:define>
</ui:composition>

