<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Dealers</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Users and Groups" url="#" />
                    <p:menuitem value="Dealers" url="#" />
                </p:breadCrumb>
                    <h1>Dealers</h1>
                 <h:form id="dealersForm">
                     <p:dataTable   id="dealersTbl"  var="dealersTbl"  widgetVar="dealersTbl" value="#{dealerService.dealersList}"     selection="#{dealerService.selectedDealer}"  selectionMode="single"   rowKey="#{dealersTbl.dealerId}"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="25, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{dealerService.onRowSelect}"  oncomplete="PF('dealersMenu').show()" update=":dealersForm:dealersMenu" />

                        <f:facet name="header">
                            Dealers
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="dealerMenu" value="Add"   actionListener="#{dealerService.addDealer}"  >
                                    <p:ajax event="dialogReturn" listener="#{dealerService.dialogClosed}" update="dealersTbl"/>
                                </p:commandButton>
                               
                            </div>
                        </f:facet>


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Name"  sortBy="#{dealersTbl.dealerName}"   filterBy="#{dealersTbl.dealerName}"/>
                                <p:column headerText="Number"  sortBy="#{dealersTbl.dealerNumber}"   filterBy="#{dealersTbl.dealerNumber}" />
                                <p:column headerText="Agent"  sortBy="#{dealersTbl.directAgent}"   filterBy="#{dealersTbl.directAgent}" />
                                <p:column headerText="Dealer Group"  sortBy="#{dealersTbl.dealerGroup}"   filterBy="#{dealersTbl.dealerGroup}" />
                                <p:column headerText="Remit Role"  sortBy="#{dealersTbl.remitRule}"   filterBy="#{dealersTbl.remitRule}" />
                                <p:column headerText="Rate Visibility"  sortBy="#{dealersTbl.rateVisibility}"   filterBy="#{dealersTbl.rateVisibility}" />
                                <p:column headerText="Phone"  sortBy="#{dealersTbl.phoneNumber}"   filterBy="#{dealersTbl.phoneNumber}" />
                                <p:column headerText="Active"  sortBy="#{dealersTbl.isActive}"   filterBy="#{dealersTbl.isActive}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{dealersTbl.dealerName}"  />
                        </p:column>
                        <p:column    >
                            <h:outputText value="#{dealersTbl.dealerNumber}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dealersTbl.directAgent}"  />
                        </p:column>
                        <p:column  >
                            <h:outputText value="#{dealersTbl.dealerGroup}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dealersTbl.remitRule}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dealersTbl.rateVisibility}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dealersTbl.phoneNumber}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dealersTbl.isActive}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="dealersMenu" widgetVar="dealersMenu" triggerEvent="rowSelect" trigger="dealersTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Detail and Setup"     action="#{dealerService.getDealerGeneral}"  icon="ui-icon-star" update="dealersTbl">
                        </p:menuitem>
                        <p:menuitem value="Edit"     action="#{dealerService.editDealer}"  icon="ui-icon-star" update="dealersTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{dealerService.deleteDealer()}" icon="ui-icon-star"  update="dealersTbl">
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

