<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dataTable   id="dealerNote"  var="dealerNote"    widgetVar="dealerNote"  value="#{noteService.notesList}"    rowKey="#{dealerNote.noteId}"  emptyMessage=""     tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="600" rows="15"  paginatorPosition="bottom" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"    rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}">

        
        <p:column headerText="Notes" resizable="true"  filterBy="#{dealerNote.note}">
            <h:outputText value="#{dealerNote.note}" />
        </p:column>
        <p:column headerText="Entered By"  resizable="true" filterBy="#{dealerNote.enteredBy}">
            <h:outputText value="#{dealerNote.enteredBy}" />
        </p:column>
        <p:column headerText="Entered Date"  resizable="true" filterBy="#{dealerNote.enteredDate}">
            <h:outputText value="#{dealerNote.enteredDate}" />
        </p:column>

    </p:dataTable>
</ui:composition>

