<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
       
        <title>Dealer  (#{dealerService.selectedDealer.dealerName})</title>
    </h:head>
    <h:body>

        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">

                <p:layout>
                    <p:layoutUnit position="north" size="20%" resizable="true">
                        <h:form id="dlForm">
                            <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>

                            <p:panelGrid columns="4" layout="grid" styleClass="ui-noborder">
                                <p:panelGrid columns="2" layout="grid"   >
                                    <h:outputText value="Dealer Name:" style="font-weight: bold;" /><h:outputText value="#{dealerService.selectedDealer.dealerName}" style=" float: left;" />
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputText value="Dealer Number:" style=" font-weight: bold;"/><h:outputText value="#{dealerService.selectedDealer.dealerNumber}"  />
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputText value="Email:" style=" font-weight: bold;"/><h:outputText value="#{dealerService.selectedDealer.email}"  style=" float: left;"/>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputText value="GL Account Code:"  style="font-weight: bold;"/><h:outputText value="#{dealerService.selectedDealer.GLcode}"  style=" float: left;"/>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputText value="Tax Id:"  style="font-weight: bold;"/><h:outputText value="#{dealerService.selectedDealer.taxId}" style=" float: left;"/>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputText value="Agent"  style="font-weight: bold;"/><h:outputText value="#{dealerService.selectedDealer.directAgent}" style=" float: left;"/>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputText value="Dealer Type"  style="font-weight: bold;"/><h:outputText value="#{dealerService.selectedDealer.dealerType}" style=" float: left;"/>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputText value="Remit Rule"  style="font-weight: bold;"/><h:outputText value="#{dealerService.selectedDealer.remitRule}" style=" float: left;"/>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputText value="Prefered Payment Method"  style="font-weight: bold;"/><h:outputText value="#{dealerService.selectedDealer.prefpayMethod}" style=" float: left;"/>
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" >
                                    <h:outputLink id="dlpaddr" value="#">
                                        <h:outputText value="Physical Address"  style="font-weight: bold;"/>
                                    </h:outputLink>
                                    <p:tooltip for="dlpaddr" value="#{dealerService.paddr}" position="top"/>
                                    <h:outputLink id="dlbaddr" value="#">
                                        <h:outputText value="Billing Address"  style="font-weight: bold;"/>
                                    </h:outputLink>
                                    <p:tooltip for="dlbaddr" value="#{dealerService.baddr}" position="top"/>
                                </p:panelGrid>
                            </p:panelGrid>
                            <h:panelGrid columns="2"  cellpadding="6">
                                <p:toolbar  id="dlBar">
                                    <f:facet name="left"> 
                                        <p:commandButton value="Edit"   actionListener="#{dealerService.editDealer()}" />
                                        <p:commandButton value="#{dealerService.dlStatus}" actionListener="#{dealerService.changeDLstatus()}" process="@form" update="@this">
                                            <p:confirm header="Confirmation" message="Are you sure you want to #{dealerService.dlStatus} the dealer?" icon="ui-icon-alert" />
                                        </p:commandButton>
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>
                                    </f:facet>
                                </p:toolbar>
                            </h:panelGrid>
                        </h:form>
                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        <h:form id="dltForm">

                            <p:tabView cache="false" dynamic="true" id="dlTabView" activeIndex="#{dealerService.activeIndex}">

                                <p:ajax  event="tabChange" listener="#{dealerService.tabChange}"   process="@form" update="@this" />

                                

                                <!--
                                <p:tab title="Disbrsements" id="dgDisbursementTab">
                                    <p:dataTable   id="ddTbl"  var="ddTbl"    value="#{contractRatingService.ddList}"     rowKey="#{ddTbl.disbursementDetailId}"  emptyMessage=""  rows="10"  >

                                        <f:facet name="header">
                                            Detailed Disbursements
                                        </f:facet>

                                        <p:columnGroup type="header">
                                            <p:row>
                                                <p:column headerText="Type"  sortBy="#{ddTbl.disbursementType}"   filterBy="#{ddTbl.disbursementType}" />
                                                <p:column headerText="Account Holder"  sortBy="#{ddTbl.accountHolder}"   filterBy="#{ddTbl.accountHolder}" />
                                                <p:column headerText="Description"  sortBy="#{ddTbl.description}"   filterBy="#{ddTbl.description}" />
                                                <p:column headerText="Group"  sortBy="#{ddTbl.disbursementGroup}"   filterBy="#{ddTbl.disbursementGroup}" />
                                                <p:column headerText="Amount"  sortBy="#{ddTbl.disbursementAmount}"   filterBy="#{ddTbl.disbursementAmount}" />
                                            </p:row>
                                        </p:columnGroup>

                                        <p:column >
                                            <h:outputText       value="#{ddTbl.disbursementType}"  />
                                        </p:column>
                                        <p:column    >
                                            <h:outputText value="#{ddTbl.accountHolder}" />
                                        </p:column>
                                        <p:column >
                                            <h:outputText value="#{ddTbl.description}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText value="#{ddTbl.disbursementGroup}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText value="#{ddTbl.disbursementAmount}"  />
                                        </p:column>

                                    </p:dataTable>
                                </p:tab>
                                -->



                                <p:tab title="Notes" id="dlNotesTab" >
                                    <ui:include src="DealerNotes.xhtml" />
                                </p:tab>

                                <p:tab title="HistoryLogs" id="dlHistoryLogsTab" >
                                    <ui:include src="DealerHistory.xhtml" />
                                </p:tab>

                                <p:tab title="Rating" id="dlRatingTab" >
                                    <ui:include src="DealerRatingTabs.xhtml" />
                                </p:tab>
                                
                                <p:tab title="Repair Facilities" id="dlrfTab" >
                                    <ui:include src="RepairFacilities.xhtml" />
                                </p:tab>


                            </p:tabView>                           
                        </h:form>

                    </p:layoutUnit>


                </p:layout>

            </ui:define>
        </ui:composition>

    </h:body>
</html>

