<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Dealer Groups</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Users and Groups" url="#" />
                    <p:menuitem value="Dealer Groups" url="#" />
                </p:breadCrumb>
                    <h1>Dealer Groups</h1>
                 <h:form id="dgForm">
                     <p:dataTable   id="dgTbl"  var="dgTbl"    value="#{dealerGroupService.dgList}"   selection="#{dealerGroupService.selectedDG}"  selectionMode="single"   rowKey="#{dgTbl.dealerGroupId}"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="25, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{dealerGroupService.onRowSelect}"  oncomplete="PF('dgMenu').show()" update=":dgForm:dgMenu" />

                        <f:facet name="header">
                            Dealer Groups
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewDealerGroup" value="Add"      actionListener="#{dealerGroupService.addDealerGroup}"  >
                                    <p:ajax event="dialogReturn" listener="#{dealerGroupService.dialogClosed}" update="dgTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Name"  sortBy="#{dgTbl.dealerGroupName}"   filterBy="#{dgTbl.dealerGroupName} "/>
                                <p:column headerText="Remit Role"  sortBy="#{dgTbl.remitRule}"   filterBy="#{dgTbl.remitRule}" />
                                <p:column headerText="Phone"  sortBy="#{dgTbl.phoneNumber}"   filterBy="#{dgTbl.phoneNumber}" />
                                <p:column headerText="Phone"  sortBy="#{dgTbl.isActive}"   filterBy="#{dgTbl.isActive}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{dgTbl.dealerGroupName}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dgTbl.remitRule}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dgTbl.phoneNumber}"  />
                        </p:column>
                         <p:column >
                             <h:outputText value="#{dgTbl.isActive}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="dgMenu" widgetVar="dgMenu" triggerEvent="rowSelect" trigger="dgTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Detail and Setup"     action="#{dealerGroupService.getDealerGroupGeneral}"  icon="ui-icon-star" update="dgTbl">
                        </p:menuitem>
                        <p:menuitem value="Edit"     action="#{dealerGroupService.editDealerGroup}"  icon="ui-icon-star" update="dgTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{dealerGroupService.deleteDealerGroup}" icon="ui-icon-star"  update="dgTbl">
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
