<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Dealer Group (#{dealerGroupService.selectedDG.dealerGroupName})</title>
    </h:head>
    <h:body>

        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">

                <p:layout>
                    <p:layoutUnit position="north" size="20%" resizable="true">
                        <h:form id="dggForm">
                            <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>

                            <p:panelGrid columns="4" layout="grid">
                                <p:panelGrid columns="2" layout="grid" styleClass="ui-noborder">
                                <h:outputText value="Name:" style="font-weight: bold;" /><h:outputText value="#{dealerGroupService.selectedDG.dealerGroupName}" />
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" styleClass="ui-noborder">
                                <h:outputText value="Tax Id:" style="font-weight: bold;" /><h:outputText value="#{dealerGroupService.selectedDG.taxId}" />
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" styleClass="ui-noborder">
                                <h:outputText value="Email:" style="font-weight: bold;" /><h:outputText value="#{dealerGroupService.selectedDG.email}" />
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" styleClass="ui-noborder" >
                                <h:outputText value="GL Account Code:" style="font-weight: bold;" /><h:outputText value="#{dealerGroupService.selectedDG.GLcode}" />
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" styleClass="ui-noborder">
                                <h:outputText value="Prefered Payment Method:" style="font-weight: bold;" /><h:outputText value="#{dealerGroupService.selectedDG.prefpayMethod}" />
                                </p:panelGrid>
                                <p:panelGrid columns="2" layout="grid" styleClass="ui-noborder">
                                <h:outputLink id="dgpaddr" value="#">
                                    <h:outputText value="Physical Address" style="font-weight: bold;" />
                                </h:outputLink>
                                <p:tooltip for="dgpaddr" value="#{dealerGroupService.paddr}" position="top"/>
                                <h:outputLink id="dgbaddr" value="#">
                                    <h:outputText value="Billing Address" style="font-weight: bold;" />
                                </h:outputLink>
                                <p:tooltip for="dgbaddr" value="#{dealerGroupService.baddr}" position="top"/>
                                </p:panelGrid>
                            </p:panelGrid>
                            <h:panelGrid columns="1" cellpadding="5">
                                <p:toolbar  >
                                    <f:facet name="left"> 
                                        <p:commandButton id="ccBut"   value="Edit"   actionListener="#{dealerGroupService.editDealerGroup()}" />
                                        <p:commandButton value="#{dealerGroupService.dgStatus}" actionListener="#{dealerGroupService.changeDGstatus()}" process="@form" update="@this">
                                            <p:confirm header="Confirmation" message="Are you sure you want to #{dealerGroupService.dgStatus} the group?" icon="ui-icon-alert" />
                                        </p:commandButton>
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>
                                    </f:facet>
                                </p:toolbar>
                            </h:panelGrid>
                        </h:form>
                    </p:layoutUnit>

                        <p:layoutUnit position="center">
                    <h:form id="dgtForm">

                            <p:tabView cache="false" dynamic="true" id="dgTabView" activeIndex="#{dealerGroupService.activeIndex}">
                                
                                <p:ajax  event="tabChange" listener="#{dealerGroupService.tabChange}"   process="@form" update="@this" />



                                <p:tab title="Dealers" id="dgdealersTab">
                                    <ui:include src="DGdealers.xhtml" />
                                </p:tab>
                                
                                <p:tab title="Repair Facilities" id="dgrfTab" >
                                    <ui:include src="RepairFacilities.xhtml" />
                                </p:tab>
<!--
                                <p:tab title="Disbrsements" id="dgDisbursementTab">
                                    <p:dataTable   id="ddTbl"  var="ddTbl"    value="#{contractRatingService.ddList}"     rowKey="#{ddTbl.disbursementDetailId}"  emptyMessage=""  rows="10"  >

                                        <f:facet name="header">
                                            Detailed Disbursements
                                        </f:facet>

                                        <p:columnGroup type="header">
                                            <p:row>
                                                <p:column headerText="Type"  sortBy="#{ddTbl.disbursementType}"   filterBy="#{ddTbl.disbursementType}" />
                                                <p:column headerText="Account Holder"  sortBy="#{ddTbl.accountHolder}"   filterBy="#{ddTbl.accountHolder}" />
                                                <p:column headerText="Description"  sortBy="#{ddTbl.description}"   filterBy="#{ddTbl.description}" />
                                                <p:column headerText="Group"  sortBy="#{ddTbl.disbursementGroup}"   filterBy="#{ddTbl.disbursementGroup}" />
                                                <p:column headerText="Amount"  sortBy="#{ddTbl.disbursementAmount}"   filterBy="#{ddTbl.disbursementAmount}" />
                                            </p:row>
                                        </p:columnGroup>

                                        <p:column >
                                            <h:outputText       value="#{ddTbl.disbursementType}"  />
                                        </p:column>
                                        <p:column    >
                                            <h:outputText value="#{ddTbl.accountHolder}" />
                                        </p:column>
                                        <p:column >
                                            <h:outputText value="#{ddTbl.description}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText value="#{ddTbl.disbursementGroup}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText value="#{ddTbl.disbursementAmount}"  />
                                        </p:column>

                                    </p:dataTable>
                                </p:tab>

             -->                   
                                
                                <p:tab title="Notes" id="dgNotesTab" >
                                    <ui:include src="DGNotes.xhtml" />
                                </p:tab>
                                
                                <p:tab title="History" id="dgHistoryTab" >
                                    <ui:include src="DGHistory.xhtml" />
                                </p:tab>
                                

                            </p:tabView>                           
                    </h:form>

                        </p:layoutUnit>


                </p:layout>

            </ui:define>
        </ui:composition>

    </h:body>
</html>

