<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <h:head>
        <title>Contract Rating</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
        
            <ui:define name="centerContent">
                
                <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>

                <h:form id="drForm">
                    <p:breadCrumb style="background-color:transparent;background-image:none;">
                        <p:menuitem value="Categories" url="#" />
                        <p:menuitem value="Classing" url="#" />
                        <p:menuitem value="Dealer Rating" url="#" class="active"/>
                    </p:breadCrumb><h1>Dealer Rating</h1>
                    
                    <h:panelGrid id="dealerRatingGrid" columns="8"    styleClass="panelColumns">
                        
                        <p:fieldset legend="Vehicle"  style="height:80px;"  >
                        <h:panelGrid columns="4" >
                            <p:outputLabel for="vinDR" value="VIN: " />
                            <p:inputText id="vinDR" value="#{contractRatingService.dr.vinNo}" />
                            <p:outputLabel for="drMileage" value="Mileage: "/>
                            <p:inputText id="drMileage" value="#{contractRatingService.dr.mileage}" />
                        </h:panelGrid>
                        </p:fieldset>
                        <p:fieldset legend="Dealer" style="height:80px;"   >
                        <p:outputLabel for="drDealerName" value="Name: "/>
                        <p:autoComplete id="drDealerName" value="#{contractRatingService.dr.dealerName}" completeMethod="#{autoCompletion.completeDealerName}" />
                        </p:fieldset>
                        <h:panelGrid columns="1" style="text-align:center;padding: 0 4em;" >
                        <p:commandButton styleClass="ui-buttonPrimary" id="findProdList"  value="Get Product(s)" actionListener="#{contractRatingService.createProductList()}" process="@form" update="@form" />
                        <p:commandButton styleClass="ui-buttonSecondary" id="drResetBut" value="Reset" >
                            <p:ajax update="dealerRatingGrid" resetValues="true"  listener="#{contractRatingService.reset()}"/>
                        </p:commandButton>
                        </h:panelGrid>
                    </h:panelGrid>

                    <p:separator />

                    <p:dataTable styleClass="custom"  id="rateTbl" var="rateTbl" value="#{contractRatingService.dr.dprodList}"     rowKey="#{rateTbl.prodId}" selection="#{contractRatingService.selectedDPs}"   emptyMessage=""  >
                        <p:ajax event="rowSelect" listener="#{contractRatingService.ancRowSelect}"   />
                        <p:ajax event="rowSelectCheckbox" listener="#{contractRatingService.onSelectCheckbox}" update="@form"/>
                        <p:ajax event="rowUnselectCheckbox" listener="#{contractRatingService.onUnselectCheckbox}" update="@form"/>
                        <p:ajax event="rowUnselect" listener="#{contractRatingService.ancRowUnselect}"/>

                        <f:facet name="header">
                            Products
                        </f:facet>

                        <p:column selectionMode="multiple" style="width:32px;text-align:center"   />
                        <p:column   headerText="Name"  >
                            <h:outputText value="#{rateTbl.prodName}" />
                        </p:column>
                        <p:column headerText="Rate it">
                            <p:commandButton  id="rateIt"  value="Rate It"   process="@form"  icon="fa fa-dowc-btn-icon"  actionListener="#{contractRatingService.rateIt(rateTbl)}" >
                                <p:ajax event="dialogReturn" listener="#{contractRatingService.rateItClosed}"   update="@form" />
                            </p:commandButton>
                            <!--
                            <p:overlayPanel  for="rateIt"   my="left" at="right" hideEffect="fade" dynamic="true" style="width:400px; height: 600px;"  onShow="" > 
                                <h:outputText value="#{rateTbl.prodName}" />
                            </p:overlayPanel>
                            -->
                        </p:column>
                        <p:column headerText="Price">
                            <h:outputText value="#{rateTbl.rateAmount}"  >
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Document">
                            <p:commandButton   value="GC"  actionListener="#{contractRatingService.generateContract(rateTbl)}"   disabled="#{!(contractRatingService.selectedDP.prodId.intValue() == rateTbl.prodId.intValue()) }"    update="@form">
                                <p:confirm header="Confirmation" message="Are you sure you want to generate the contract?" icon="ui-icon-alert" />
                            </p:commandButton>
                            
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                            
                            
                            
                            <p:commandLink target="_blank"  ajax="false"  value="PDF"   immediate="true">
                                <p:fileDownload value="#{contractRatingService.openPDF(rateTbl)}"  />
                            </p:commandLink>

                        </p:column>
                        
                        <p:column headerText="Contract Number">
                            <h:outputText value="#{rateTbl.contractNo}" />
                        </p:column>

                        <p:columnGroup type="footer">
                            <p:row>
                                <p:column colspan="5" style="text-align:right;color:#000;" footerText="Totals:" />
                                <p:column colspan="1" footerText="$#{contractRatingService.dr.totalAmount}"  style="text-align: left;color:#000;background:#ffffff"/>
                            </p:row>
                        </p:columnGroup>

                        <f:facet name="footer">
                            <p:commandButton process="rateTbl" update=":drForm:multiCarDetail" icon="ui-icon-search" value="View" oncomplete="PF('dps').show()" />
                        </f:facet>


                    </p:dataTable>

                    <p:dialog header="SelectedDPs" widgetVar="dps" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="220">
                        <p:outputPanel id="multiCarDetail" style="text-align:center;">
                            <ui:repeat value="#{contractRatingService.selectedDPs}" var="dp">
                                <h:outputText value="#{dp.prodName} - #{dp.rateAmount}" style="display:block"/>
                            </ui:repeat>
                        </p:outputPanel>
                    </p:dialog>


                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

