<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dataTable   id="dealerHistoryLog"  var="dealerHistoryLog"    widgetVar="dealerHistoryLog"  value="#{hlService.hlList}"    rowKey="#{dealerHistoryLog.historyLogId}"  emptyMessage=""     tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="600" rows="15"  paginatorPosition="bottom" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"    rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}">

        
        <p:column headerText="HistoryLogs" resizable="true"  filterBy="#{dealerHistoryLog.historyLog}">
            <h:outputText value="#{dealerHistoryLog.historyLog}" />
        </p:column>
        <p:column headerText="Entered By"  resizable="true" filterBy="#{dealerHistoryLog.enteredBy}">
            <h:outputText value="#{dealerHistoryLog.enteredBy}" />
        </p:column>
        <p:column headerText="Entered Date"  resizable="true" filterBy="#{dealerHistoryLog.enteredDate}">
            <h:outputText value="#{dealerHistoryLog.enteredDate}" />
        </p:column>

    </p:dataTable>
</ui:composition>

