<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="dlrForm">
        <p:tabView cache="false" dynamic="true" id="dlrView" activeIndex="#{dealerService.activeIndex}">

            <p:ajax  event="tabChange" listener="#{dealerService.ratingTabChange}"   process="@form" update="@this" />
            <p:tab title="Disbursements" id="drdTab" >
                <ui:include src="DRD.xhtml" />
            </p:tab>
            <p:tab title="Active Products" id="drrTab" >
                <ui:include src="DRR.xhtml" />
            </p:tab>
            <p:tab title="SRPs" id="drgTab" >
                <ui:include src="DRG.xhtml" />
            </p:tab>
        </p:tabView>
    </h:form>
</ui:composition>

