<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
   
                     <p:dataTable   id="dgdealersTbl"  var="dgdealersTbl"    value="#{dealerService.dealersList}"   selection="#{dealerService.selectedDealer}"  selectionMode="single"   rowKey="#{dgdealersTbl.dealerId}"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="25, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{dealerService.onRowSelect}"  oncomplete="PF('dgdealersMenu').show()"  />

                        <f:facet name="header">
                            Dealers
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewDealer" value="Add"      actionListener="#{dealerService.addDealer}"  >
                                    <p:ajax event="dialogReturn" listener="#{dealerService.dialogClosed}" update="dgdealersTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Name"  sortBy="#{dgdealersTbl.dealerName}"   filterBy="#{dgdealersTbl.dealerName} "/>
                                <p:column headerText="Number"  sortBy="#{dgdealersTbl.dealerNumber}"   filterBy="#{dgdealersTbl.dealerNumber}" />
                                <p:column headerText="Direct Agent"  sortBy="#{dgdealersTbl.directAgent}"   filterBy="#{dgdealersTbl.directAgent}" />
                                <p:column headerText="Dealer Group"  sortBy="#{dgdealersTbl.dealerGroup}"   filterBy="#{dgdealersTbl.dealerGroup}" />
                                <p:column headerText="Remit Role"  sortBy="#{dgdealersTbl.remitRule}"   filterBy="#{dgdealersTbl.remitRule}" />
                                <p:column headerText="Rate Visibility"  sortBy="#{dgdealersTbl.rateVisibility}"   filterBy="#{dgdealersTbl.rateVisibility}" />
                                <p:column headerText="Phone"  sortBy="#{dgdealersTbl.phoneNumber}"   filterBy="#{dgdealersTbl.phoneNumber}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{dgdealersTbl.dealerName}"  />
                        </p:column>
                        <p:column    >
                            <h:outputText value="#{dgdealersTbl.dealerNumber}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dgdealersTbl.directAgent}"  />
                        </p:column>
                        <p:column  >
                            <h:outputText value="#{dgdealersTbl.dealerGroup}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dgdealersTbl.remitRule}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dgdealersTbl.rateVisibility}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{dgdealersTbl.phoneNumber}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="dgdealersMenu" widgetVar="dgdealersMenu" triggerEvent="rowSelect" trigger="dgdealersTbl" overlay="true"   my="left top"  at="left top" >
                     
                        <p:menuitem value="Edit"     action="#{dealerService.editDealer}"  icon="ui-icon-star" update="dgdealersTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{dealerService.deleteDealer()}" icon="ui-icon-star"  update="dgdealersTbl">
                        </p:menuitem>
                    </p:menu>
        
        </ui:composition>
