<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dataTable   id="dgNote"  var="dgNote"    widgetVar="dgNote"  value="#{noteService.notesList}"    rowKey="#{dgNote.noteId}"  emptyMessage=""     tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="600" rows="15"  paginatorPosition="bottom" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"    rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}">

        
        <p:column headerText="Notes" resizable="true"  filterBy="#{dgNote.note}">
            <h:outputText value="#{dgNote.note}" />
        </p:column>
        <p:column headerText="Entered By"  resizable="true" filterBy="#{dgNote.enteredBy}">
            <h:outputText value="#{dgNote.enteredBy}" />
        </p:column>
        <p:column headerText="Entered Date"  resizable="true" filterBy="#{dgNote.enteredDate}">
            <h:outputText value="#{dgNote.enteredDate}" />
        </p:column>

    </p:dataTable>
</ui:composition>
