<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <p:dataTable   id="drdTbl"  var="drdTbl"    widgetVar="drdTbl"  value="#{disbursementService.ddList}"    rowKey="#{drdTbl.disbursementDetailId}"  emptyMessage="" paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  rowsPerPageTemplate="25, 50,100, 200, 250, 500"    currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"    tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="600" rows="15"  >
        <f:facet name="header">
            Disbursements
        </f:facet>
        <f:facet name="{Customization}">
            <div style="float: left">
                <p:commandButton id="addDisbursement" value="Add"      actionListener="#{disbursementService.addDisbursement(event)}"  process="@form">
                    <p:ajax event="dialogReturn" listener="#{disbursementService.addDisbursementDialogClosed}" update="drdTbl" />
                </p:commandButton>
            </div>
        </f:facet>
        <p:column headerText="Pay To" resizable="true"  filterBy="#{drdTbl.accountHolder}">
            <h:outputText value="#{drdTbl.accountHolder}" />
        </p:column>
        <p:column headerText="Agent Cond." resizable="true"  filterBy="#{drdTbl.agent}">
            <h:outputText value="#{drdTbl.agent}" />
        </p:column>
        <p:column headerText="Dealer Cond." resizable="true"  filterBy="#{drdTbl.dealer}">
            <h:outputText value="#{drdTbl.dealer}" />
        </p:column>
        <p:column headerText="Dealer Group Cond." resizable="true"  filterBy="#{drdTbl.dealerGroup}">
            <h:outputText value="#{drdTbl.dealerGroup}" />
        </p:column>
        <p:column headerText="Amount" resizable="true"  filterBy="#{drdTbl.amount}">
            <h:outputText value="#{drdTbl.amount}" />
        </p:column>
        <p:column headerText="Type" resizable="true"  filterBy="#{drdTbl.disbursementType}">
            <h:outputText value="#{drdTbl.disbursementType}" />
        </p:column>
        <p:column headerText="Criteria" resizable="true"  filterBy="#{drdTbl.criterionGroupIdFk}">
            <p:commandButton value="view criteria"    actionListener="#{viewCriteria}" ><!-- ariaLabel="#{drdTbl.criterionGroupIdFk}" -->
                
            </p:commandButton>
        </p:column>
        <p:column headerText="Memo" resizable="true"  filterBy="#{drdTbl.memo}">
            <h:outputText value="#{drdTbl.memo}" />
        </p:column>
        <p:column headerText="Date Effective" resizable="true"  filterBy="#{claimMisc.getJavaDate(drdTbl.effectiveDate)}">
            <h:outputText value="#{drdTbl.effectiveDate}" />
        </p:column>
        <p:column headerText="Date Expires" resizable="true"  filterBy="#{claimMisc.getJavaDate(drdTbl.expiresDate)}">
            <h:outputText value="#{drdTbl.expiresDate}" />
        </p:column>

    </p:dataTable>




</ui:composition>

