<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <p:dataTable   id="drrTbl"  var="drrTbl"    widgetVar="drrTbl"  value="#{rvService.rvList}"    rowKey="#{drrTbl.rateVisibilityId}"  emptyMessage="" paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  rowsPerPageTemplate="25, 50,100, 200, 250, 500"    currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"    tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="600" rows="15"  >
        <f:facet name="header">
            Active Product(s)
        </f:facet>
        <f:facet name="{Customization}">
            <div style="float: left">
                <p:commandButton  id="connDRV" value="Add"      actionListener="#{rvService.searchRV}"   process="@form">
                    <p:ajax event="dialogReturn" listener="#{rvService.rvSearchClosed(event)}" update="drrTbl" />
                </p:commandButton>
            </div>
        </f:facet>
        <p:column headerText="Name" resizable="true"  filterBy="#{drrTbl.description}">
            <h:outputText value="#{drrTbl.description}" />
        </p:column>
        <p:column headerText="Allowed Products" resizable="true"  filterBy="#{drrTbl.allowedProducts}">
            <h:outputText value="#{drrTbl.allowedProducts}" />
        </p:column>
        <p:column headerText="Date Effective" resizable="true"  filterBy="#{drrTbl.effectiveDate}">
            <h:outputText value="#{drrTbl.effectiveDate}" />
        </p:column>
        <p:column headerText="Date Expires" resizable="true"  filterBy="#{drrTbl.expiredDate}">
            <h:outputText value="#{drrTbl.expiredDate}" />
        </p:column>
        <p:column headerText="Is Deleted" resizable="true"  filterBy="#{drrTbl.deletedInd}">
            <h:outputText value="#{drrTbl.deletedInd}" />
        </p:column>
        

    </p:dataTable>

    
</ui:composition>

