<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Edit Customer</title>
    </h:head>
    <h:body>
        <h:form id="editCustomerForm">
            <center>

                <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
                
                <h:panelGrid columns="2" cellpadding="5" id="editCustomerPanel">                 

                    <h:panelGrid columns="2" cellpadding="5" id="customerPanel">
                        
                    </h:panelGrid>
                    
                     <h:panelGrid columns="2" cellpadding="5" id="addressPanel">
                         <p:outputLabel value="Line 1" for="vline1"/>
                            <p:inputText id="vline1" value="#{rfSearchService.rfcg.line1}" label="Enter Line1"  required="yes"/>

                            <p:outputLabel value="Line2" for="vline2"/>
                            <p:inputText id="vline2" value="#{rfSearchService.rfcg.line2}" label="Enter Line2"  />               

                            <p:outputLabel value="City" for="vcity"/>
                            <p:inputText id="vcity" value="#{rfSearchService.rfcg.city}" label="Enter city" required="yes"/> 

                            <p:outputLabel value="State" for="vstate"/>
                            <p:selectOneMenu id="vstate" value="#{rfSearchService.rfcg.state}" effect="fold"  editable="true" required="yes">                        
                                <f:selectItems value="#{rfSearchService.regionCodes}" />
                            </p:selectOneMenu>

                            <p:outputLabel value="Zip" for="vzip"/>
                            <p:inputText id="vzip" value="#{rfSearchService.rfcg.zip}" label="Enter Zip Code"  required="yes"/>
                     </h:panelGrid>

                    
                            
                       
                    

                </h:panelGrid>
                <p:separator />

                <p:toolbar id="vscFacilityCommandBar"  rendered="#{claimGeneralService.claimEditable}">
                    <f:facet name="left"> 
                        <p:commandButton id="vfacilityclose"   value="Close"    action="#{rfSearchService.closeViewNewEditFacility}"  />
                        <p:commandButton id="vfacilitysaveclose"   value="Save &and; Close"    action="#{rfSearchService.saveCloseViewNewEditFacility}"  />
                        <p:commandButton id="vfacilityreset"   value="Reset"      >
                            <p:ajax update="viewFacitilyForm" resetValues="true"  listener="#{rfSearchService.facilityreset}"/>
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
            </center>
        </h:form>
    </h:body>
</html>