<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Repair Facility View/Edit</title>
    </h:head>
    <h:body>
        <h:form id="viewFacitilyForm">
            <center>

                <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>
                <h:panelGrid columns="1" cellpadding="5" id="facilityPanel">

                    <p:fieldset style="background-color: lightblue; border: 0;">
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel value="RF Name" for="vrfname"/>
                            <p:inputText id="vrfname" value="#{rfSearchService.rfcg.rfName}"   required="yes">
                                <p:ajax event="mouseout" listener="#{rfSearchService.checkRFname}" process="vrfname" />
                            </p:inputText>

                            <p:outputLabel value="RF Phone" for="vrfphone"/> 
                            <p:inputMask id="vrfphone" value="#{rfSearchService.rfcg.rfPhone}"     mask="(999)999-9999" />

                            <p:outputLabel value="Tax ID" for="vtaxid"/> 
                            <p:inputMask id="vtaxid" value="#{rfSearchService.rfcg.taxId}"  mask="99-9999999"  />

                            <p:outputLabel value="Email" for="vemailAddress"/> 
                            <p:inputText id="vemailAddress" value="#{rfSearchService.rfcg.emailAddress}"   />

                            <p:outputLabel value="RF Fax" for="vrffax"/>
                            <p:inputMask id="vrffax" value="#{rfSearchService.rfcg.rfFax}"  mask="(999)999-9999"/> 
                        </h:panelGrid>
                    </p:fieldset>

                    <p:fieldset style="background-color: lightgray; border: 0;">
                        <h:panelGrid columns="2" cellpadding="5" >
                            <p:outputLabel value="Contact Name" for="vcname"/>
                            <p:inputText id="vcname" value="#{rfSearchService.rfcg.contactName}"  />

                            <p:outputLabel value="Contact Phone" for="vcphone"/>
                            <p:inputMask id="vcphone" value="#{rfSearchService.rfcg.contactPhone}" mask="(999)999-9999" /> 
                        </h:panelGrid>
                    </p:fieldset>

                    <p:fieldset style="background-color: lightblue; border: 0;">
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel value="Line 1" for="vline1"/>
                            <p:inputText id="vline1" value="#{rfSearchService.rfcg.line1}" label="Enter Line1"  required="yes"/>

                            <p:outputLabel value="Line2" for="vline2"/>
                            <p:inputText id="vline2" value="#{rfSearchService.rfcg.line2}" label="Enter Line2"  />               

                            <p:outputLabel value="City" for="vcity"/>
                            <p:inputText id="vcity" value="#{rfSearchService.rfcg.city}" label="Enter city" required="yes"/> 

                            <p:outputLabel value="State" for="vstate"/>
                            <p:selectOneMenu id="vstate" value="#{rfSearchService.rfcg.state}" effect="fold"  editable="true" required="yes">                        
                                <f:selectItems value="#{rfSearchService.regionCodes}" />
                            </p:selectOneMenu>

                            <p:outputLabel value="Zip" for="vzip"/>
                            <p:inputText id="vzip" value="#{rfSearchService.rfcg.zip}" label="Enter Zip Code"  required="yes"/>
                        </h:panelGrid>
                    </p:fieldset>

                    <p:fieldset style="background-color: lightgray; border: 0;">
                        <h:panelGrid columns="2" cellpadding="5" >
                            <p:outputLabel value="Labor Rate" for="vlrate"/>
                            <p:inputText id="vlrate" value="#{rfSearchService.rfcg.laborRate}" label="Enter Labor Rate" /> 

                            <p:outputLabel value="Labor Tax" for="vlaborTax"/>
                            <p:inputText id="vlaborTax" value="#{rfSearchService.rfcg.laborTax}" label="Enter labor tax" />            

                            <p:outputLabel value="Part Tax" for="vpartTax"/>
                            <p:inputText id="vpartTax" value="#{rfSearchService.rfcg.partTax}" label="Enter part tax" />

                            <p:outputLabel value="Warranty Months" for="vwmonth"/>
                            <p:inputText id="vwmonth" value="#{rfSearchService.rfcg.partWarrantyMonths}" label="Enter warranty months" />

                            <p:outputLabel value="Warranty Miles" for="vwmiles"/>
                            <p:inputText id="vwmiles" value="#{rfSearchService.rfcg.partWarrantyMiles}" label="Enter warranty miles"  />
                        </h:panelGrid>
                    </p:fieldset>


                </h:panelGrid>
                <p:separator />

                <p:toolbar id="vscFacilityCommandBar"  rendered="#{claimGeneralService.claimEditable}">
                    <f:facet name="left"> 
                        <p:commandButton id="vfacilityclose"   value="Close"    action="#{rfSearchService.closeViewNewEditFacility}"  />
                        <p:commandButton id="vfacilitysaveclose"   value="Save &and; Close"    action="#{rfSearchService.saveCloseViewNewEditFacility}"  />
                        <p:commandButton id="vfacilityreset"   value="Reset"      >
                            <p:ajax update="viewFacitilyForm" resetValues="true"  listener="#{rfSearchService.facilityreset}"/>
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
            </center>
        </h:form>
    </h:body>
</html>

