<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login Page</title>
    </h:head>
    <h:body>
        <h:outputStylesheet name="css/styles.css" /> <!-- -->
        <div class="container">
            <h:form id="loginForm">
                <div class="align-center">
                <h:graphicImage library="images" name="aardwolf-logo.png" id="logo" />
                
                <h:outputLabel for="model"><p>DOWC ADMIN VERSION .5.1</p></h:outputLabel>
                
           
                
                    <p:outputLabel value="User ID" for="username01"  /><br />
                    <p:inputText id="username01" value="#{dowclogin.loginUser}" required="true" placeholder="User ID"/><br/><br/>
                    <p:outputLabel value="Password" for="password01" style="text-align:left;"/><br/>
                    <p:password id="password01" value="#{dowclogin.loginPassword}" required="true" placeholder="Password"/><br /><br/>
                    <p:commandButton value="Login" actionListener="#{dowclogin.authen1()}" action="#{dowclogin.goHome()}" process="@form" update="@form"/>
                
                </div>
            </h:form>
            
            
        </div>     
    </h:body>
</html>

