<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>DOWC administration management system</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

    </h:head>
    <h:body>
        <h:outputStylesheet name="css/styles.css" />
        <p:layout fullPage="true">
            
            <!--<p:layoutUnit position="north" size="50" > Disregard North pane
                <h:outputText value="DOWC"/>
                
            </p:layoutUnit>-->

            <p:layoutUnit position="west" size="300" header="AARDWOLF" collapsible="true" resizable="true"  id="headerWest">

      
                
                <h:form style="background:#748797">
                    <p:commandButton value="Dashboard"  style="width:100%;text-align:left;background:#748797;color:#ffffff;border:none;"    action="#{dashboard.getDashBoard}"  id="dashboardid"  /> 

                    <p:accordionPanel  style="margin-top:20px;background:#748797;color:#ffffff;border:none;" activeIndex="-2">
                        <p:tab title="Users and Groups" >
                            <p:menu style="margin-top:20px;background:#748797;color:#ffffff;border:none;">
                                <p:menuitem  id="userItem"  value="Users"     action="#{usersService.getUsersSearch}" style="border:none !important;"/>
                                <p:menuitem id="dealerSearchMenuItem" value="Dealers"   action="#{dealerService.getDealerSearch}"/>
                                <p:menuitem id="dealerGroupSearchMenuItem" value="Dealer Groups" action="#{dealerGroupService.getDealerGroupSearch}"/>
                                <p:menuitem  id="customerItem"  value="Customers"     action="#{customerInfoService.getCustomerSearch}"/>
                            </p:menu>
                        </p:tab>
                        <p:tab title="Configuration">
                            <!--
                            <p:menu>
                                <p:menuitem  id="dealerItem"  value="Dealer setting"     action="#{dealerConfigurationService.getDealers}"/>
                            </p:menu>
                            -->
                        </p:tab>
                    <p:tab title="Classing">
                            <p:menu>                                
                                <p:menuitem  id="dealerRaterMenuItem"  value="Dealer Rating"     action="#{contractRatingService.getDealerRating}"/>
                            </p:menu>
                        </p:tab>
                    <p:tab title="Rate Setup">
                            <p:menu>
                                <p:menuitem  id="programSearchMenuItem"  value="Programs"     action="#{programService.getProgramSearch}"/>
                                <p:menuitem id="productSearchMenuItem" value="Products"   action="#{productService.getProductSearch}"/>
                                <p:menuitem id="planSearchMenuItem" value="Plans" action="#{planService.getPlanSearch}"/>
                                <p:menuitem id="rateVisibilityMenuItem" value="Products Visibility" action="#{rvService.getRV}"/>
                            </p:menu>
                        </p:tab>
                    <p:tab title="Contracts">
                            <p:panelGrid columns="1" >
                                <p:menu>
                                    <p:menuitem value="Find Contracts"  action="#{contractFirstLineView.getContractSearch}" />
                                </p:menu>
                            </p:panelGrid>
                        </p:tab>
                    <p:tab title="Claims">
                            <p:menu>
                                <p:menuitem id="claimSearchMenuItem" value="Find Claim"  action="#{claimFirstLineView.getClaimSearch}" />
                            </p:menu>
                        </p:tab>
                    <!--<p:tab title="Accounting">
                            <p:menu>
                                <p:menuitem id="findTranc" value="Find Transaction"  action="#{acctTransService.getAcctTrans}" />
                                <p:menuitem id="acctReceivable" value="Account Remittable"  action="#{acctRecService.getAcctReceivable}" />
                                <p:menuitem id="receivable" value="Remittable"  action="#{acctRecService.getReceivablesPage}" />
                            </p:menu>
                        </p:tab>-->
                    <p:tab title="Accounting">
                            <p:menu>
                                <p:menuitem id="findTranc" value="Find Transaction"  action="#{acctTransService.getAcctTrans}" />
                                <p:menuitem id="acctReceivable" value="Account Remittable"  action="#{acctRecService.getAcctReceivable}" />
                                <p:menuitem id="receivable" value="Remittable"  action="#{acctRecService.getReceivablesPage}" />
                            </p:menu>
                        </p:tab>    
                    </p:accordionPanel>
                 </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="center"  id="contractCenterLayout">
                <ui:insert name="centerContent"  />
                <footer>
                    <cite style="position:absolute;bottom: 0; font-size:0.8em;color:#BBBBBB;margin:0 auto;text-align:center;">Copyright © 2019 · Dealer Owned Warranty Company · All Rights Reserved.</cite>
                </footer>
            </p:layoutUnit>

        </p:layout>
    </h:body>
</html>


