<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Payables</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                <h:form id="payableForm">
                    <p:dataTable   id="payTbl"  var="payTbl"    value="#{acctRecService.pays}"   selection="#{acctRecService.selectedPay}"  selectionMode="single"   rowKey="#{payTbl.transactionId}"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="25, 50,100, 200, 250, 500, 1000" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  lazy="true" scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{acctRecService.onRowSelect}"  oncomplete="PF('payMenu').show()" update=":payableForm:payMenu" />

                        <f:facet name="header">
                            Payables
                        </f:facet>

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Number"  sortBy="#{payTbl.transactionNumber}"    />
                                <p:column headerText="Type"  sortBy="#{payTbl.transactionType}"    />
                                <p:column headerText="Status"  sortBy="#{payTbl.trasactionStatus}"    />
                                <p:column headerText="Total Amt"  sortBy="#{payTbl.transactionAmount}"   />
                                <p:column headerText="Applied Amt"  sortBy="#{payTbl.amountApplied}"    />
                                <p:column headerText="Over/Under"  sortBy="#{payTbl.overUnder}"    />
                                <p:column headerText="Admin Company"  sortBy="#{payTbl.adminCompany}"    />
                                <p:column headerText="PayeeName"  sortBy="#{payTbl.accountName}"    />
                                <p:column headerText="LegalName"  sortBy="#{payTbl.accountLegal}"    />
                                <p:column headerText="PostedDate"  sortBy="#{payTbl.postedDate}"    />
                                <p:column headerText="SentDate"  sortBy="#{payTbl.transactionSent}"    />
                                <p:column headerText="ReceivedDate"  sortBy="#{payTbl.transactionReceived}"   />
                                <p:column headerText="EnteredDate"  sortBy="#{payTbl.transactionEntered}"    />     
                            </p:row>
                            <p:row>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="payNumber" value="#{acctRecService.paytrans.transactionNumber}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="transType" value="#{acctRecService.paytrans.transactionType}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false; }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="recStatus" value="#{acctRecService.paytrans.trasactionStatus}" onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false; }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="transAmt" value="#{acctRecService.paytrans.transactionAmount}" onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="appliedAmt" value="#{acctRecService.paytrans.amountApplied}"  onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false; }">  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="overunder" value="#{acctRecService.paytrans.overUnder}" onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false; }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="adminCo" value="#{acctRecService.paytrans.adminCompany}" onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="payee" value="#{acctRecService.paytrans.accountName}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="legalName" value="#{acctRecService.paytrans.accountLegal}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="postedDate" value="#{acctRecService.paytrans.postedDate}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="sentDate" value="#{acctRecService.paytrans.transactionSent}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="receivedDate" value="#{acctRecService.paytrans.transactionReceived}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="enteredDate" value="#{acctRecService.paytrans.transactionEntered}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="payTbl"  listener="${acctRecService.getPayables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>


                            </p:row>
                        </p:columnGroup>

                        <p:column   > <h:outputText       value="#{payTbl.transactionNumber}"  />
                        </p:column>
                        <p:column    ><h:outputText value="#{payTbl.transactionType}" />
                        </p:column>
                        <p:column > <h:outputText value="#{payTbl.trasactionStatus}"  />
                        </p:column>
                        <p:column  > <h:outputText value="#{payTbl.transactionAmount}" />
                        </p:column>
                        <p:column > <h:outputText value="#{payTbl.amountApplied}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{payTbl.overUnder}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{payTbl.adminCompany}"  />
                        </p:column>
                        <p:column ><h:outputText value="#{payTbl.accountName}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{payTbl.accountLegal}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{payTbl.postedDate}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{payTbl.transactionSent}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{payTbl.transactionReceived}"  />
                        </p:column>
                        <p:column ><h:outputText value="#{payTbl.transactionEntered}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="payMenu" widgetVar="payMenu" triggerEvent="rowSelect" trigger="payTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Details"   actionListener="#{acctRecService.getTransDetail}"   icon="ui-icon-star">
                        </p:menuitem>
                        <p:menuitem value="Print"   actionListener="#{acctRecService.printTransaction}"   icon="ui-icon-star">
                        </p:menuitem>
                        <p:menuitem value="Edit"     action="#{acctRecService.editRec}"  icon="ui-icon-star" update="payTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{acctRecService.getDetail()}" icon="ui-icon-star"  update="payTbl">
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

