<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Plan Search</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                <h:form id="planSearchForm">
                    <p:dataTable   id="planSearchTbl"  var="planSearchTbl"    value="#{planService.lplans}"   selection="#{planService.selectedPlan}"  selectionMode="single"   rowKey="#{planSearchTbl.planId}"  emptyMessage=""  rows="50"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{planService.onRowSelect}"  oncomplete="PF('planMenu').show()" update=":planSearchForm:planMenu" />

                        <f:facet name="header">
                            Plan
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewPlan" value="Add"      actionListener="#{planService.addPlan}"  >
                                    <p:ajax event="dialogReturn" listener="#{planService.dialogClosed}" update="planSearchTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>


                       

                        <p:column headerText="Name"    sortBy="#{planSearchTbl.planName}"  filterBy="#{planSearchTbl.planName}"  filterMatchMode="contains"  >
                            <h:outputText       value="#{planSearchTbl.planName}"  />
                        </p:column>
                        <p:column  headerText="Code"    sortBy="#{planSearchTbl.planCode}"  filterBy="#{planSearchTbl.planCode}"  filterMatchMode="contains"  >
                            <h:outputText value="#{planSearchTbl.planCode}" />
                        </p:column>
                        <p:column headerText="Date Effective"  sortBy="#{planSearchTbl.effectiveDate}"   filterBy="#{planSearchTbl.effectiveDate}"   filterMatchMode="contains">
                            <h:outputText value="#{planSearchTbl.effectiveDate}"  />
                        </p:column >
                        <p:column headerText="Type"   sortBy="#{planSearchTbl.planType}"   filterBy="#{planSearchTbl.planType}"   filterMatchMode="contains">
                            <h:outputText value="#{planSearchTbl.planType}"  />
                        </p:column>
                        <p:column headerText="VIN Classing Table"  sortBy="#{planSearchTbl.vinClassingTable}"   filterBy="#{planSearchTbl.vinClassingTable}"  filterMatchMode="contains">
                            <h:outputText value="#{planSearchTbl.vinClassingTable}"  />
                        </p:column>
                        <p:column headerText="Default Deductible"  sortBy="#{planSearchTbl.deductibleDescription}"   filterBy="#{planSearchTbl.deductibleDescription}" filterMatchMode="contains">
                            <h:outputText value="#{planSearchTbl.deductibleDescription}"  />
                        </p:column>
                        <p:column headerText="Date Expires"  sortBy="#{planSearchTbl.expireDate}"   filterBy="#{planSearchTbl.expireDate}"  filterMatchMode="contains" >
                            <h:outputText value="#{planSearchTbl.expireDate}" />
                        </p:column>


                    </p:dataTable>

                    <p:menu id="planMenu" widgetVar="planMenu" triggerEvent="rowSelect" trigger="planSearchTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Details &and; setup"     action="#{planService.getPlanRate}"   actionListener="planService.getPlanIdAttr" icon="ui-icon-star">
                            <f:attribute name="productId" value="#{planService.selectedPlan.planId}" />
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{planService.deletePlan}"   icon="ui-icon-star" update="planSearchTbl">
                            <f:attribute name="planId" value="#{planService.selectedPlan.planId}" />
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

