<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
        <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }

            .panelGridCenter {
                margin: 0 auto;
            }
            .ui-selectonemenu{
                width: 100% !important;
            }
            .ui-selectonemenu-label{
                width: 100% !important;
            }  
        </style>
    </h:head>
    <h:body>

        <h:form id="ppmCRform">

            <h:panelGrid id="ppmCRGrid" columns="1"  styleClass="panelGridCenter">

                <p:outputLabel value="#{contractRatingService.cr.productName}" />
                
                <p:separator />
                <p:spacer  height="20" />

                <p:selectOneMenu id="ppmPlan" value="#{contractRatingService.cr.planName}"  >  <!-- selectedPlan -->
                    <p:ajax listener="#{contractRatingService.ppmPlanChange}"  update="ppmTime ppmUsage ppmPrice" />
                    <f:selectItem itemLabel="Select Type..." itemValue=""   noSelectionOption="true" />
                    <f:selectItems   value="#{contractRatingService.spMap}" />
                </p:selectOneMenu>
                
                <p:spacer  height="20" />

                <p:selectOneMenu id="ppmTime" value="#{contractRatingService.cr.ppmTime}" >
                    <p:ajax listener="#{contractRatingService.ppmTermChange}"   update="ppmUsage ppmPrice" />
                    <f:selectItem itemLabel="Select Term..." itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{contractRatingService.ppmTermMap}" />
                </p:selectOneMenu>
                
                <p:spacer  height="20" />

                <p:selectOneMenu id="ppmUsage" value="#{contractRatingService.cr.ppmUsage}" >
                    <p:ajax listener="#{contractRatingService.ppmUsageChange}"   update="ppmPrice" />
                    <f:selectItem itemLabel="Select Mileage..." itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{contractRatingService.ppmUsageMap}" />
                </p:selectOneMenu>
                
                <p:spacer  height="20" />


            <h:panelGrid id="ppmPriceGrid" columns="2"    styleClass="panelColumns" >

                <p:outputLabel for="ppmPrice" value="Rate: "/>
                <p:inputText id="ppmPrice" value="#{contractRatingService.cr.contractRate}" />
                
                <p:spacer  height="20" />
                <p:separator />

                <p:commandButton  id="savePPMPrice"  value="Save" actionListener="#{contractRatingService.savePPM()}" process="@form" update="@form"  style=""  disabled="#{contractRatingService.saveBtn}" />
                <p:commandButton id="ppmCancel" value="Cancel"   actionListener="#{contractRatingService.cancelPPMrating}"/>

            </h:panelGrid>
</h:panelGrid>
        </h:form>

    </h:body>
</html>

