<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Product Search</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Rate Setup" url="#" />
                    <p:menuitem value="Products" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Products</h1>
            <ui:define name="centerContent">
                <h:form id="productSearchForm">
                    <p:dataTable   id="productSearchTbl"  var="productSearchTbl"    value="#{productService.lprods}"   selection="#{productService.selectedProduct}"  selectionMode="single"   rowKey="#{productSearchTbl.productId}"  emptyMessage=""  rows="50"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{productService.onRowSelect}"  oncomplete="PF('productMenu').show()" update=":productSearchForm:productMenu" />

                        <f:facet name="header">
                            Product
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewProduct" value="Add"      action="#{productService.addProduct}"  >
                                    <p:ajax event="dialogReturn" listener="#{productService.dialogClosed}" update="productSearchTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Name"  sortBy="#{productSearchTbl.productName}"   filterBy="#{productSearchTbl.productName}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Code"  sortBy="#{productSearchTbl.productCode}"   filterBy="#{productSearchTbl.productCode}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Type"  sortBy="#{productSearchTbl.productType}"   filterBy="#{productSearchTbl.productType}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Sub Type"  sortBy="#{productSearchTbl.productSubType}"   filterBy="#{productSearchTbl.productSubType}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Program"  sortBy="#{productSearchTbl.programName}"   filterBy="#{productSearchTbl.programName}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Insurer"  sortBy="#{productSearchTbl.insurer}"   filterBy="#{productSearchTbl.insurer}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Date Effective"  sortBy="#{productSearchTbl.effectiveDate}"   filterBy="#{productSearchTbl.effectiveDate}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Disbursement Table"  sortBy="#{productSearchTbl.disbursementType}"   filterBy="#{productSearchTbl.disbursementType}" footerText="contains" filterMatchMode="contains"/>
                            </p:row>
                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{productSearchTbl.productName}"  />
                        </p:column>
                        <p:column    >
                            <h:outputText value="#{productSearchTbl.productCode}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{productSearchTbl.productType}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{productSearchTbl.productSubType}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{productSearchTbl.programName}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{productSearchTbl.insurer}"  />
                        </p:column>
                        <p:column  >
                            <h:outputText value="#{productSearchTbl.effectiveDate}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{productSearchTbl.disbursementType}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="productMenu" widgetVar="productMenu" triggerEvent="rowSelect" trigger="productSearchTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Details &and; Plans"     action="#{productService.getProductPlan}"   actionListener="productService.getProductIdAttr" icon="ui-icon-star">
                            <f:attribute name="productId" value="#{productService.selectedProduct.productId}" />
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{productService.deleteProduct}"   icon="ui-icon-star" update="productSearchTbl">
                            <f:attribute name="productId" value="#{productService.selectedProduct.productId}" />
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>


