<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Rate Setup" url="#" />
                    <p:menuitem value="Products" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Products</h1>
            <ui:define name="centerContent">
                <p:layout>
                    <p:layoutUnit position="north" size="40%" resizable="true" id="productLayoutNorth">
                        <p:panelGrid  columns="4" >
                            <p:panelGrid columns="2"  id="productGeneralPanel">
                                <h:outputText value="Admin Company" />
                                <h:outputText value="#{productService.selectedProduct.adminCompany}" />
                                <h:outputText value="Program" />
                                <h:outputText value="#{productService.selectedProduct.programName}" />
                                <h:outputText value="Insurer" />
                                <h:outputText value="#{productService.selectedProduct.insurer}" />
                                <h:outputText value="Name" />
                                <h:outputText value="#{productService.selectedProduct.productName}" />
                                <h:outputText value="Code" />
                                <h:outputText value="#{productService.selectedProduct.productCode}" />
                                <h:outputText value="Description" />
                                <h:outputText value="#{productService.selectedProduct.description}" />
                                <h:outputText value="Sales Group" />
                                <h:outputText value="#{productService.selectedProduct.salesGroup}" />
                                <h:outputText value="Disbursement Table" />
                                <h:outputText value="#{productService.selectedProduct.disbursementType}" />
                                <h:outputText value="Date Effective" />
                                <h:outputText value="#{productService.selectedProduct.effectiveDate}" />
                                <h:outputText value="Date Expires" />
                                <h:outputText value="#{productService.selectedProduct.expireDate}" />
                            </p:panelGrid>
                        </p:panelGrid>
                        <p:toolbar id="productGeneralCommandBar" >
                            <f:facet name="left">   
                                <p:commandButton id="productEdit"   value="Edit"  actionListener="#{productService.editProduct}"  >
                                    <p:ajax event="dialogReturn" listener="#{productService.productEditClosed()}"    update="productGeneralPanel" />
                                </p:commandButton>
                                <p:commandButton id="productDelete" value="Delete"  ajax="true"   action="#{productService.deleteProduct}"/>
                            </f:facet>
                        </p:toolbar>

                    </p:layoutUnit>
                    <h:form id="ppplanform">

                        <p:layoutUnit position="center">
                            <p:tabView cache="false" dynamic="true" id="productplanTabView" activeIndex="#{productService.prodActiveIndex}">
                                <p:ajax  event="tabChange" listener="#{productService.tabChange}"   process="@form" update="@this" >
                                </p:ajax>

                                <p:tab title="Plans" id="productPlanTab">

                                    <p:dataTable   id="prodplans"  var="prodplans"    value="#{productService.lplans}"   selection="#{productService.selectedPlan}"  selectionMode="single"   rowKey="#{prodplans.planId}"  emptyMessage=""  rows="15"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}" scrollable="true" scrollHeight="300">
                                        <p:ajax event="rowSelect" listener="#{productService.onPlanRowSelect}"  oncomplete="PF('rateMenu').show()" />

                                        <f:facet name="{Customization}">
                                            <div style="float: left">
                                                <p:commandButton id="addNewPlanFromProd" value="Add Plan"    process="@form"   action="#{planService.addPlan}"  actionListener="#{planService.getProductIdAttr}" >
                                                    <p:ajax event="dialogReturn" listener="#{planService.dialogClosed}" update="prodplans" />
                                                    <f:attribute name="productId" value="#{productService.productId}" />
                                                </p:commandButton>
                                            </div>
                                        </f:facet>

                                        <p:columnGroup type="header">
                                            <p:row>
                                                <p:column headerText="Name"  sortBy="#{prodplans.planName}"   filterBy="#{prodplans.planName}"/>
                                                <p:column headerText="Code"  sortBy="#{prodplans.planCode}"   filterBy="#{prodplans.planCode}"/>
                                                <p:column headerText="Type"  sortBy="#{prodplans.planType}"   filterBy="#{prodplans.planType}"/>
                                                <p:column headerText="VIN Classing Table"  sortBy="#{prodplans.vinClassingTable}"   filterBy="#{prodplans.vinClassingTable}"/>
                                                <p:column headerText="Default Deductible"  sortBy="#{prodplans.deductibleDescription}"   filterBy="#{prodplans.deductibleDescription}"/>
                                                <p:column headerText="Date Effective"  sortBy="#{prodplans.effectiveDate}"   filterBy="#{prodplans.effectiveDate}"/>
                                            </p:row>
                                        </p:columnGroup>

                                        <p:column >
                                            <h:outputText       value="#{prodplans.planName}"  />
                                        </p:column>                                        
                                        <p:column >
                                            <h:outputText       value="#{prodplans.planCode}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText       value="#{prodplans.planType}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText       value="#{prodplans.vinClassingTable}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText       value="#{prodplans.deductibleDescription}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText       value="#{prodplans.effectiveDate}"  />
                                        </p:column>

                                    </p:dataTable>

                                    <p:menu id="rateMenu" widgetVar="rateMenu" triggerEvent="rowSelect" trigger="prodplans" overlay="true"   my="left top"  at="left top" >
                                        <p:menuitem value="Details &and; Plans"     action="#{productService.getPlanRate}"   actionListener="#{productService.getPlanIdAttr}" >
                                            <f:attribute name="planId" value="#{productService.selectedPlan.planId}" />
                                        </p:menuitem>
                                        <p:menuitem value="Delete"   actionListener="#{productService.deletePlan}" >
                                            <f:attribute name="planId" value="#{productService.selectedPlan.planId}" />
                                        </p:menuitem>
                                    </p:menu>


                                </p:tab>

                            </p:tabView>        
                        </p:layoutUnit>
                    </h:form>

                </p:layout>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

