<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Rate Setup" url="#" />
                    <p:menuitem value="Products" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Products</h1>
            <ui:define name="centerContent">
                <p:layout>
                    <p:layoutUnit position="north" size="30%" resizable="true" id="programLayoutNorth">
                        <p:panelGrid  columns="4" ><!-- layout="grid" -->
                            <p:panelGrid columns="2" id="programGeneralPanel"><!-- layout="grid" -->
                                <h:outputText value="Admin Company" />
                                <h:outputText value="#{programService.selectedProgram.adminCompany}" />
                                <h:outputText value="Name" />
                                <h:outputText value="#{programService.selectedProgram.name}" />
                                <h:outputText value="Code" />
                                <h:outputText value="#{programService.selectedProgram.code}" />
                                <h:outputText value="Description" />
                                <h:outputText value="#{programService.selectedProgram.description}" />
                                <h:outputText value="Disbursement Table" />
                                <h:outputText value="#{programService.selectedProgram.disbursementType}" />
                                <h:outputText value="Date Effective" />
                                <h:outputText value="#{programService.selectedProgram.effectiveDate}" />   
                            </p:panelGrid>
                        </p:panelGrid>
                        <p:toolbar id="programGeneralCommandBar" >
                            <f:facet name="left">   
                                <p:commandButton id="programEdit"   value="Edit"  actionListener="#{programService.editProgram}"  >
                                    <p:ajax event="dialogReturn" listener="#{programService.programEditClosed()}"    update="programGeneralPanel" />
                                </p:commandButton>
                                <p:commandButton id="programDelete" value="Delete"  ajax="true"   action="#{programService.deleteProgram}"/>
                            </f:facet>
                        </p:toolbar>

                    </p:layoutUnit>
                    <h:form id="ppproductform">

                        <p:layoutUnit position="center">
                            <p:tabView cache="false" dynamic="true" id="programproductTabView" activeIndex="#{programService.progActiveIndex}">
                                <p:ajax  event="tabChange" listener="#{programService.tabChange}"   process="@form" update="@this" >
                                </p:ajax>

                                <p:tab title="Products" id="programProductTab">

                                    <p:dataTable   id="progprods"  var="progprods"    value="#{programService.lprods}"   selection="#{productService.selectedProduct}"  selectionMode="single"   rowKey="#{progprods.productId}"  emptyMessage=""  rows="15"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="300">
                                        <p:ajax event="rowSelect"   oncomplete="PF('planMenu').show()" />

                                        <f:facet name="{Customization}">
                                            <div style="float: left">
                                                <p:commandButton id="addNewProductFromProg" value="Add Product"    process="@form"   action="#{productService.addProduct}" actionListener="#{productService.getProgramIdAttr}" >
                                                    <p:ajax event="dialogReturn" listener="#{productService.dialogClosed}" update="progprods" />
                                                    <f:attribute name="programId" value="#{programService.programId}" />
                                                </p:commandButton>
                                            </div>
                                        </f:facet>

                                        <p:columnGroup type="header">
                                            <p:row>
                                                <p:column headerText="Name"  sortBy="#{progprods.productName}"   filterBy="#{progprods.productName}"/>
                                                <p:column headerText="Code"  sortBy="#{progprods.productCode}"   filterBy="#{progprods.productCode}"/>
                                                <p:column headerText="Type"  sortBy="#{progprods.productType}"   filterBy="#{progprods.productType}"/>
                                                <p:column headerText="Sub Type"  sortBy="#{progprods.productSubType}"   filterBy="#{progprods.productSubType}"/>
                                                <p:column headerText="Insurer"  sortBy="#{progprods.insurer}"   filterBy="#{progprods.insurer}"/>
                                                <p:column headerText="Date Effective"  sortBy="#{progprods.effectiveDate}"   filterBy="#{progprods.effectiveDate}"/>
                                            </p:row>
                                        </p:columnGroup>

                                        <p:column >
                                            <h:outputText       value="#{progprods.productName}"  />
                                        </p:column>                                        
                                        <p:column >
                                            <h:outputText       value="#{progprods.productCode}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText       value="#{progprods.productType}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText       value="#{progprods.productSubType}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText       value="#{progprods.insurer}"  />
                                        </p:column>
                                        <p:column >
                                            <h:outputText       value="#{progprods.effectiveDate}"  />
                                        </p:column>

                                    </p:dataTable>

                                    <p:menu id="planMenu" widgetVar="planMenu" triggerEvent="rowSelect" trigger="progprods" overlay="true"   my="left top"  at="left top" >
                                        <p:menuitem value="Details &and; Products"     action="#{productService.getProductPlan}"   actionListener="#{productService.getProductIdAttr}" >
                                            <f:attribute name="productId" value="#{programService.selectedProduct.productId}" />
                                        </p:menuitem>
                                        <p:menuitem value="Delete"   actionListener="#{programService.deleteProduct}" >
                                            <f:attribute name="productId" value="#{programService.selectedProduct.productId}" />
                                        </p:menuitem>
                                    </p:menu>


                                </p:tab>

                                <p:tab title="Disbursements" id="ppDisbursementTab" >

                                </p:tab>

                            </p:tabView>        
                        </p:layoutUnit>
                    </h:form>

                </p:layout>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

