<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Program Search</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Rate Setup" url="#" />
                    <p:menuitem value="Programs" url="#" class="active"/>
                </p:breadCrumb>
                    <h1>Programs</h1>
                <h:form id="programSearchForm">
                    <p:dataTable   id="programSearchTbl"  var="programSearchTbl"    value="#{programService.lps}"   selection="#{programService.selectedProgram}"  selectionMode="single"   rowKey="#{programSearchTbl.programId}"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{programService.onRowSelect}"  oncomplete="PF('programMenu').show()" update=":programSearchForm:programMenu" />

                        <f:facet name="header">
                            Program
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewProgram" value="Add"      actionListener="#{programService.addProgram}"  >
                                    <p:ajax event="dialogReturn" listener="#{programService.dialogClosed}" update="programSearchTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Name"  sortBy="#{programSearchTbl.name}"   filterBy="#{programSearchTbl.name}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Code"  sortBy="#{programSearchTbl.code}"   filterBy="#{programSearchTbl.code}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Date Effective"  sortBy="#{programSearchTbl.effectiveDate}"   filterBy="#{programSearchTbl.effectiveDate}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Admin Company"  sortBy="#{programSearchTbl.adminCompany}"   filterBy="#{programSearchTbl.adminCompany}" footerText="contains" filterMatchMode="contains"/>
                                <p:column headerText="Disbursement Table"  sortBy="#{programSearchTbl.disbursementType}"   filterBy="#{programSearchTbl.disbursementType}" footerText="contains" filterMatchMode="contains"/>
                            </p:row>
                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{programSearchTbl.name}"  />
                        </p:column>
                        <p:column    >
                            <h:outputText value="#{programSearchTbl.code}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{programSearchTbl.effectiveDate}"  />
                        </p:column>
                        <p:column  >
                            <h:outputText value="#{programSearchTbl.adminCompany}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{programSearchTbl.disbursementType}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="programMenu" widgetVar="programMenu" triggerEvent="rowSelect" trigger="programSearchTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Details &and; Products"     action="#{programService.getProgramProduct}"   actionListener="#{programService.getProgramIdAttr}" icon="ui-icon-star">
                            <f:attribute name="programId" value="#{programService.selectedProgram.programId}" />
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{programService.deleteProgram}"   update="programSearchTbl">
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

