<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <h:head>
        <title>Contract Rating</title>
        <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }
            .fa-dowc-btn-icon {
                border-radius: 0px;
                background-image: url("#{resource['images/DOWC_Icon.png']}") no-repeat !important;
                width: 26px;
                height: 26px;
                background-position: 0px 0px;
            }
            .colleft 
            {
                padding-left: 100px;
            }

            .colright
            {
                padding-right: 100px;
            }
        </style>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">

            <ui:define name="centerContent">

                <p:messages id="messages" showDetail="true"  autoUpdate="true"  closable="true"/>

                <h:form id="qrForm">

                    <h:panelGrid id="qrGrid" columns="5"    styleClass="panelColumns">
                        <h:panelGrid columns="2" >
                            <p:outputLabel for="qrDealerName" value="Dealer Name: "/>
                            <p:autoComplete id="qrDealerName" value="#{quickRaterService.qr.dealerName}" completeMethod="#{autoCompletion.completeDealerName}" />
                        </h:panelGrid>

                        <h:panelGrid columns="2">
                            <p:outputLabel for="vinQR" value="VIN: "/>
                            <p:inputText id="vinQR" value="#{quickRaterService.qr.vinNo}"     >
                                <p:ajax  event="blur" listener="#{quickRaterService.checkVin}" process="vinQR"  update="qrVI"/>
                            </p:inputText>
                            <p:outputLabel for="qrMileage" value="Vehicle Mileage: "/>
                            <p:inputText id="qrMileage" value="#{quickRaterService.qr.mileage}" />
                            <p:outputLabel for="qrPT" value="Purchase Type: "/>
                            <p:selectOneMenu id="qrPT" value="#{quickRaterService.qr.purchaseType}" effect="fold"  editable="true">                        
                                <f:selectItems value="#{quickRaterService}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>

                        <h:panelGrid columns="1">                    
                            <p:commandButton  id="rateDebugger"  value="Rate Debugeger" actionListener="#{quickRaterService.getRateDebugger()}" process="@form" update="@form" />
                            <p:commandButton  id="overrideRateDate"  value="Override Rate Date" actionListener="#{quickRaterService.overRateDate()}" process="@form" update="@form" />
                            <p:commandButton  id="getRates"  value="Get Rates" actionListener="#{quickRaterService.getRates()}" process="@form" update="@form" />
                            <p:commandButton id="qrResetBut" value="Reset"  >
                                <p:ajax update="qrGrid" resetValues="true"  listener="#{quickRaterService.reset()}"/>
                            </p:commandButton>
                        </h:panelGrid>
                    </h:panelGrid>

                    <p:panelGrid id="qrVI" columns="4" layout="grid" >
                        <p:panelGrid columns="2" layout="grid">
                            <h:outputText value="Make:" />
                            <h:outputText value="#{quickRaterService.cvi.make}" />
                            <h:outputText value="Model" />
                            <h:outputText value="#{quickRaterService.cvi.model}" />
                            <h:outputText value="Series:" />
                            <h:outputText value="#{quickRaterService.cvi.series}" />
                            <h:outputText value="Year:" />
                            <h:outputText value="#{quickRaterService.cvi.vehicleYear}" />
                            <h:outputText value="Vehicle Type:" />
                            <h:outputText value="#{quickRaterService.cvi.vehicleType}" />
                        </p:panelGrid>

                        <p:panelGrid columns="2" layout="grid">
                            <h:outputText value="Liters Displacement:" />
                            <h:outputText value="#{quickRaterService.cvi.literDisplacemant}" />
                            <h:outputText value="Drive Type:" />
                            <h:outputText value="#{quickRaterService.cvi.driveType}" />

                            <h:outputText value="Cylinders:" />
                            <h:outputText value="#{quickRaterService.cvi.cylinders}" />
                            <h:outputText value="Fuel Type:" />
                            <h:outputText value="#{quickRaterService.cvi.fuelType}" />


                        </p:panelGrid>

                        <p:panelGrid columns="2" layout="grid">

                            <h:outputText value="CC Displacement:" />
                            <h:outputText value="#{quickRaterService.cvi.cubicCentimeterDisplacement}" />
                            <h:outputText value="Fuel Delivery:" />
                            <h:outputText value="#{quickRaterService.cvi.fuelDelivery}" />

                            <h:outputText value="Cubic Inch Displacement:" />
                            <h:outputText value="#{quickRaterService.cvi.cubicInchDisplacement}" />

                            <h:outputText value="Ton Rating:" />
                            <h:outputText value="#{quickRaterService.cvi.tonRating}" />
                            <h:outputText value="Country Of Origin:" />
                            <h:outputText value="#{quickRaterService.countryOfOrigin}" />

                        </p:panelGrid>

                        <p:panelGrid columns="2" layout="grid">
                            <h:outputText value="Basic Warranty:" />
                            <h:outputText value="#{quickRaterService.cvi.basicWarranty}" />
                            <h:outputText value="PowerTrain Warranty:" />
                            <h:outputText value="#{quickRaterService.cvi.powertrainWarranty}" />
                            <h:outputText value="Rust Warranty:" />
                            <h:outputText value="#{quickRaterService.cvi.rustWarranty}" />
                        </p:panelGrid>
                    </p:panelGrid>

                    <p:separator />
                    
                    <p:dataTable   id="pppTbl"  var="pppTbl"    value="#{quickRaterService.dr.dprodList}"     rowKey="#{pppTbl.prodId}" selection="#{quickRaterService.selectedDPs}"   emptyMessage=""  >
                        <p:ajax event="rowSelect" listener="#{quickRaterService.ancRowSelect}"   />
                        <p:ajax event="rowSelectCheckbox" listener="#{quickRaterService.onSelectCheckbox}" update="@form"/>
                        <p:ajax event="rowUnselectCheckbox" listener="#{quickRaterService.onUnselectCheckbox}" update="@form"/>
                        <p:ajax event="rowUnselect" listener="#{quickRaterService.ancRowUnselect}"/>

                        <f:facet name="header">
                            Products
                        </f:facet>

                        <p:column selectionMode="multiple" style="width:16px;text-align:center"      />
                        <p:column   headerText="Name"  >
                            <h:outputText value="#{pppTbl.prodName}" />
                        </p:column>
                        <p:column headerText="Rate it">
                            <p:commandButton  id="rateIt"  value="Rate It"   process="@form"  icon="fa fa-dowc-btn-icon"  actionListener="#{quickRaterService.rateIt(pppTbl)}" >
                                <p:ajax event="dialogReturn" listener="#{quickRaterService.rateItClosed}"   update="@form" />
                            </p:commandButton>
                        </p:column>
                        <p:column headerText="Price">
                            <h:outputText value="#{pppTbl.rateAmount}"  >
                                <f:convertNumber type="currency" currencySymbol="$" />
                            </h:outputText>
                        </p:column>
                        <p:column headerText="Document">
                            <p:commandButton   value="GC"  actionListener="#{quickRaterService.generateContract(pppTbl)}"   disabled="#{!(quickRaterService.selectedDP.prodId.intValue() == pppTbl.prodId.intValue()) }"    update="@form">
                                <p:confirm header="Confirmation" message="Are you sure you want to generate the contract?" icon="ui-icon-alert" />
                            </p:commandButton>

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>



                            <p:commandLink target="_blank"  ajax="false"  value="PDF"   immediate="true">
                                <p:fileDownload value="#{quickRaterService.openPDF(pppTbl)}"  />
                            </p:commandLink>

                        </p:column>

                        <p:column headerText="contractNo">
                            <h:outputText value="#{pppTbl.contractNo}" />
                        </p:column>

                        <p:columnGroup type="footer">
                            <p:row>
                                <p:column colspan="3" style="text-align:right" footerText="Totals:" />
                                <p:column colspan="2" footerText="$#{quickRaterService.dr.totalAmount}"  style="text-align: left"/>
                            </p:row>
                        </p:columnGroup>

                        <f:facet name="footer">
                            <p:commandButton process="pppTbl" update=":qrForm:multiCarDetail" icon="ui-icon-search" value="View" oncomplete="PF('dps').show()" />
                        </f:facet>


                    </p:dataTable>

                    <p:dialog header="SelectedDPs" widgetVar="dps" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="220">
                        <p:outputPanel id="multiCarDetail" style="text-align:center;">
                            <ui:repeat value="#{quickRaterService.selectedDPs}" var="dp">
                                <h:outputText value="#{dp.prodName} - #{dp.rateAmount}" style="display:block"/>
                            </ui:repeat>
                        </p:outputPanel>
                    </p:dialog>




                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

