<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Receivables</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                <h:form id="receivablesForm">
                    <p:dataTable   id="recvsTbl"  var="recvsTbl"    value="#{acctRecService.recvs}"   selection="#{acctRecService.selectedRec}"  selectionMode="single"   rowKey="#{recvsTbl.transactionId}"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="25, 50,100, 200, 250, 500, 1000" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  lazy="true" scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{acctRecService.onRowSelect}"  oncomplete="PF('recMenu').show()" update=":receivablesForm:recMenu" />

                        <f:facet name="header">
                            Receivables
                        </f:facet>

                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Number"  sortBy="#{recvsTbl.transactionNumber}"    />
                                <p:column headerText="Type"  sortBy="#{recvsTbl.transactionType}"    />
                                <p:column headerText="Status"  sortBy="#{recvsTbl.trasactionStatus}"    />
                                <p:column headerText="Total Amt"  sortBy="#{recvsTbl.transactionAmount}"   />
                                <p:column headerText="Applied Amt"  sortBy="#{recvsTbl.amountApplied}"    />
                                <p:column headerText="Over/Under"  sortBy="#{recvsTbl.overUnder}"    />
                                <p:column headerText="Admin Company"  sortBy="#{recvsTbl.adminCompany}"    />
                                <p:column headerText="PayeeName"  sortBy="#{recvsTbl.accountName}"    />
                                <p:column headerText="LegalName"  sortBy="#{recvsTbl.accountLegal}"    />
                                <p:column headerText="PostedDate"  sortBy="#{recvsTbl.postedDate}"    />
                                <p:column headerText="SentDate"  sortBy="#{recvsTbl.transactionSent}"    />
                                <p:column headerText="ReceivedDate"  sortBy="#{recvsTbl.transactionReceived}"   />
                                <p:column headerText="EnteredDate"  sortBy="#{recvsTbl.transactionEntered}"    />     
                            </p:row>
                            <p:row>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="recNumber" value="#{acctRecService.rectrans.transactionNumber}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="transType" value="#{acctRecService.rectrans.transactionType}"  onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false; }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="recStatus" value="#{acctRecService.rectrans.trasactionStatus}" onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false; }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="transAmt" value="#{acctRecService.rectrans.transactionAmount}" onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="appliedAmt" value="#{acctRecService.rectrans.amountApplied}"  onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false; }">  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="overunder" value="#{acctRecService.rectrans.overUnder}" onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false; }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="adminCo" value="#{acctRecService.rectrans.adminCompany}" onkeypress="if (event.keyCode == 13) {
                                            onchange();
                                            return false;
                                        }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="payee" value="#{acctRecService.rectrans.accountName}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="legalName" value="#{acctRecService.rectrans.accountLegal}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="postedDate" value="#{acctRecService.rectrans.postedDate}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="sentDate" value="#{acctRecService.rectrans.transactionSent}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="receivedDate" value="#{acctRecService.rectrans.transactionReceived}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>
                                <p:column>
                                    <f:facet name="header">
                                        <p:inputText id="enteredDate" value="#{acctRecService.rectrans.transactionEntered}" onkeypress="if (event.keyCode == 13) {
                                            onchange(); return false;
                                        }" >  
                                            <p:ajax      event="change" update="recvsTbl"  listener="${acctRecService.getReceivables()}"/>
                                        </p:inputText>
                                    </f:facet>
                                </p:column>


                            </p:row>
                        </p:columnGroup>

                        <p:column   > <h:outputText       value="#{recvsTbl.transactionNumber}"  />
                        </p:column>
                        <p:column    ><h:outputText value="#{recvsTbl.transactionType}" />
                        </p:column>
                        <p:column > <h:outputText value="#{recvsTbl.trasactionStatus}"  />
                        </p:column>
                        <p:column  > <h:outputText value="#{recvsTbl.transactionAmount}" />
                        </p:column>
                        <p:column > <h:outputText value="#{recvsTbl.amountApplied}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{recvsTbl.overUnder}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{recvsTbl.adminCompany}"  />
                        </p:column>
                        <p:column ><h:outputText value="#{recvsTbl.accountName}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{recvsTbl.accountLegal}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{recvsTbl.postedDate}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{recvsTbl.transactionSent}"  />
                        </p:column>
                        <p:column > <h:outputText value="#{recvsTbl.transactionReceived}"  />
                        </p:column>
                        <p:column ><h:outputText value="#{recvsTbl.transactionEntered}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="recMenu" widgetVar="recMenu" triggerEvent="rowSelect" trigger="recvsTbl" overlay="true"   my="left top"  at="left top" >
                         <p:menuitem value="Details"   actionListener="#{acctRecService.getTransDetail}"   icon="ui-icon-star">
                        </p:menuitem>
                        <p:menuitem value="Print"   actionListener="#{acctRecService.printTransaction}"   icon="ui-icon-star">
                        </p:menuitem>
                        <p:menuitem value="Edit"     action="#{acctRecService.editRec}"  icon="ui-icon-star" update="recvsTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{acctRecService.getDetail()}" icon="ui-icon-star"  update="recvsTbl">
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

