<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <p:dataTable   id="dgrf"  var="dgrf"    widgetVar="dgrf"  value="#{repairFacilityService.rfList}"    rowKey="#{dgrf.repairFacilityId}"  emptyMessage="" paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "    tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="600" rows="15"  >
        <f:facet name="header">
            Dealers
        </f:facet>
        <f:facet name="{Customization}">
            <div style="float: left">
                <p:commandButton id="addNewRF" value="Add"      actionListener="#{repairFacilityService.addRF}"  >
                    <p:ajax event="dialogReturn" listener="#{repairFacilityService.dialogClosed}" update="dgrf" />
                </p:commandButton>
            </div>
        </f:facet>
        <p:column headerText="Name" resizable="true"  filterBy="#{dgrf.name}">
            <h:outputText value="#{dgrf.name}" />
        </p:column>
        <p:column headerText="Phone" resizable="true"  filterBy="#{dgrf.phone}">
            <h:outputText value="#{dgrf.phone}" />
        </p:column>
        <p:column headerText="Physical Address" resizable="true"  filterBy="#{dgrf.paddr}">
            <h:outputText value="#{dgrf.paddr}" />
        </p:column>
        <p:column headerText="Active" resizable="true"  filterBy="#{dgrf.activeStatus}">
            <h:outputText value="#{dgrf.activeStatus}" />
        </p:column>

    </p:dataTable>




</ui:composition>

