<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Active Products</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">

                <!--
                <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

                <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                    <p:graphicImage   name="/images/Bar-Circle_status.gif"  />
                </p:dialog>
                -->

                <h:outputStylesheet library="css" name="default.css" />  
                <h:outputScript name="js/progress.js" target="head"/>  
                <p:ajaxStatus onstart="on_start()" oncomplete="on_complete()"/>  

                <h:form id="rvForm">
                    <p:dataTable   id="rvTbl"  var="rvTbl"    widgetVar="rvTbl"  value="#{rvService.rvList}"   selection="#{rvService.selectedRV}" selectionMode="single"  rowKey="#{rvTbl.rateVisibilityId}"  emptyMessage="" paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  rowsPerPageTemplate="50, 75,100, 200, 250, 500"    currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"    tableStyle="cellpadding: 5px;" scrollable="true"  scrollHeight="1200"   >
                        <p:ajax event="rowSelect"   oncomplete="PF('rvMenu').show()"  update=":rvForm:rvMenu" listener="#{rvService.onRowSelect}"/>
                        <f:facet name="header">
                            Products Availability
                        </f:facet>
                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton  id="addRV" value="Add"      actionListener="#{rvService.addRV(event)}"   process="@form">
                                    <p:ajax event="dialogReturn" listener="#{rvService.editRVClosed(event)}" update="rvTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>
                        <p:column headerText="Name" resizable="true"  filterBy="#{rvTbl.description}">
                            <h:outputText value="#{rvTbl.description}" />
                        </p:column>
                        <p:column headerText="Allowed Products" resizable="true"  filterBy="#{rvTbl.allowedProducts}">
                            <h:outputText value="#{rvTbl.allowedProducts}" />
                        </p:column>
                        <p:column headerText="Date Effective" resizable="true"  filterBy="#{rvTbl.effectiveDate}">
                            <h:outputText value="#{rvTbl.effectiveDate}" />
                        </p:column>
                        <p:column headerText="Date Expires" resizable="true"  filterBy="#{rvTbl.expiredDate}">
                            <h:outputText value="#{rvTbl.expiredDate}" />
                        </p:column>
                        <p:column headerText="Is Deleted" resizable="true"  filterBy="#{rvTbl.deletedInd}">
                            <h:outputText value="#{rvTbl.deletedInd}" />
                        </p:column>


                    </p:dataTable>
                    <p:menu id="rvMenu" widgetVar="rvMenu" triggerEvent="rowSelect" trigger="rvTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Products Visibility"     action="#{rvTreeService.getRVTree}" actionListener="#{rvTreeService.getRVIdAttr}" process="@form">
                            <f:attribute name="rvId" value="#{rvService.selectedRV.rateVisibilityId}" />
                        </p:menuitem>
                        <p:menuitem value="Edit"     action="#{rvService.editRV}"   update="rvTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{rvService.deleteRV}" >
                        </p:menuitem>
                    </p:menu>


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
