<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Create Products Availability</title>
        <style>
            .ui-button {
                margin-top: 10px
            }
            .ui-tree {
                width: 100%;
                height: 100%;
                position: relative;
            }
        </style>
    </h:head>
    <h:body>

        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage value="/images/Bar-Circle_status.gif"   />
        </p:dialog>


        <h:form id="RVtreeForm">
            <p:growl id="msgs" showDetail="true" escape="false"/>

            <h3>Please select the Checkbox(s) to create products available to dealer(s) </h3>
            <p:outputPanel style="width: 100%; height: 1200px; overflow: auto;display: block">
                <p:tree value="#{rvTreeService.root}" var="rvlist" selectionMode="checkbox" selection="#{rvTreeService.selectedNodes}" filterBy="#{rvlist.name}"  dynamic="true" >
                    <p:ajax event="expand"  listener="#{rvTreeService.onNodeExpand}" />
                    <p:ajax event="collapse"  listener="#{rvTreeService.onNodeCollapse}" />
                    <p:ajax event="select"  listener="#{rvTreeService.onNodeSelect}" />
                    <p:ajax event="unselect"  listener="#{rvTreeService.onNodeUnselect}" />
                    <p:treeNode icon="pi pi-paperclip">
                        <h:outputText value="#{rvlist.name}"/>
                    </p:treeNode>              
                </p:tree>
            </p:outputPanel>

            <p:commandButton  value="Save" actionListener="#{rvTreeService.save()}"  />
            <p:commandButton id="resetRVtree" value="Reset"   >
                <p:ajax update="RVtreeForm" resetValues="true"  listener="#{rvTreeService.resetRVTree()}"/>
            </p:commandButton>
            <p:commandButton    value="Cancel" actionListener="#{rvTreeService.cancelRVtree()}"  />
        </h:form>
    </h:body>
</html>