<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Add Dealer to Products Visibility </title>
    </h:head>
    <h:body>
        

        <h:form id="srvForm">
            
            
            <p:dataTable   id="srv"  var="srv"    value="#{rvService.rvList}"   selection="#{rvService.selectedRV}"  selectionMode="single"   rowKey="#{srv.rateVisibilityId}"  filteredValue="#{rvService.filtersList}" emptyMessage=""  scrollable="true" scrollHeight="600" rows="15"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}">
                
                <p:ajax event="rowSelect" listener="#{rvService.onSearchRowSelect}"  />
                <p:ajax event="filter" listener="#{rvService.filterListener}" process="@this"/>
                <p:columnGroup type="header">

                    <p:row>
                        <p:column headerText="Dealer"  sortBy="#{srv.dealer}"  filterBy="#{srv.dealer}" />
                        <p:column headerText="Name"  sortBy="#{srv.description}"   filterBy="#{srv.description}"/>
                        <p:column headerText="Active" sortBy="#{srv.deletedInd}"  filterBy="#{srv.deletedInd}"/>
                    </p:row>
                    
                </p:columnGroup>
                
                <p:column >
                    <h:outputText       value="#{srv.dealer}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{srv.description}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{!srv.deletedInd}"  />
                </p:column>
                
            </p:dataTable>
            
        </h:form>

    </h:body>
</html>

