<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Search for members</title>
    </h:head>
    <h:body>
        

        <h:form id="searchMember">
            
            <p:growl id="growl" showDetail="true" />
            
            <center>
            <p:commandButton id="searchMemberBut" value="Search ..."   ajax="true"  process="@form"  update="smTable"  actionListener="#{memberSearchService.createMemberSearchView()}" icon=" ui-icon-search" />
            </center>
            <p:separator />
            
            
            <p:dataTable   id="smTable"  var="smTable"    value="#{memberSearchService.msList}"   selection="#{memberSearchService.selectedMS}"  selectionMode="single"   rowKey="#{smTable.userMemberId}"  emptyMessage=""  scrollable="true" scrollHeight="600" rows="15"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}">
                
                <p:ajax event="rowSelect" listener="#{memberSearchService.onRowSelect}" />
                <p:columnGroup type="header">

                    <p:row>
                        <p:column headerText="userName"  sortBy="#{smTable.shortName}"  />
                        <p:column headerText="fullName"  sortBy="#{smTable.longName}"  />
                    </p:row>
                    
                    <p:row>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="shortName" value="#{memberSearchService.shortName}"  onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >
                                    <p:ajax      event="change" update="smTable"  listener="${memberSearchService.createMemberSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="longName" value="#{memberSearchService.longName}"  onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >  
                                <p:ajax      event="change" update="smTable"  listener="${memberSearchService.createMemberSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                    </p:row>
                </p:columnGroup>
                
                <p:column >
                    <h:outputText       value="#{smTable.shortName}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{smTable.longName}"  />
                </p:column>
                
            </p:dataTable>
            
        </h:form>

    </h:body>
</html>

