<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Repair Facility Search (#{rfSearchService.claimNumber})</title>
    </h:head>
    <h:body>
        

        <h:form id="form">
            
            <p:growl id="growl" showDetail="true" />
            
            <p:growl id="msgs" showDetail="true" />
            
            
            <center>
            <p:commandButton id="searchRFBut" value="Search ..."   ajax="true"  process="@form"  update="srf"  actionListener="#{rfSearchService.createRFSearchView()}" icon=" ui-icon-search" />
            </center>
            <p:separator />
            
            
            <p:dataTable   id="srf"  var="srf"    value="#{rfSearchService.rfs}"   selection="#{rfSearchService.selectedRF}"  selectionMode="single"   rowKey="#{srf.accountKeeperId}"  emptyMessage=""  scrollable="true" scrollHeight="600" rows="15"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="15,30, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}">
                
                <p:ajax event="rowSelect" listener="#{rfSearchService.onRowSelect}" update=":form:msgs"  />
                <p:columnGroup type="header">

                    <p:row>
                        <p:column headerText="Name"  sortBy="#{srf.rfName}"  />
                        <p:column headerText="Phone"  sortBy="#{srf.rfPhone}"  />
                        <p:column headerText="City" sortBy="#{srf.city}" />
                        <p:column headerText="Region" sortBy="#{srf.state}"  />
                        <p:column headerText="Zip Code" sortBy="#{srf.zip}"/>
                        <p:column headerText="Labor Tax %" sortBy="#{srf.laborTax}" />
                        <p:column headerText="Parts Tax %" sortBy="#{srf.partTax}" />
                        <p:column headerText="Labor Rate" sortBy="#{srf.laborRate}" />
                        
                    </p:row>
                    <p:row>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="srfname" value="#{rfSearchService.srfname}"  onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >
                                    <p:ajax      event="change" update="srf"  listener="${rfSearchService.createRFSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="srfphone" value="#{rfSearchService.srfphone}"  onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >  
                                <p:ajax      event="change" update="srf"  listener="${rfSearchService.createRFSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="scity" value="#{rfSearchService.scity}" onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >  
                                <p:ajax      event="change" update="srf"  listener="${rfSearchService.createRFSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="sregion" value="#{rfSearchService.sregion}" onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >  
                                <p:ajax      event="change" update="srf"  listener="${rfSearchService.createRFSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="szip" value="#{rfSearchService.szip}"  onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }">  
                                <p:ajax      event="change" update="srf"  listener="${rfSearchService.createRFSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="slabortax" value="#{rfSearchService.slabortax}" onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >  
                                <p:ajax      event="change" update="srf"  listener="${rfSearchService.createRFSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="spartstax" value="#{rfSearchService.spartstax}" onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >  
                                <p:ajax      event="change" update="srf"  listener="${rfSearchService.createRFSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <p:inputText id="slaborrate" value="#{rfSearchService.slaborrate}" onkeypress="if  (event.keyCode == 13) { onchange() ; return false; }" >  
                                <p:ajax      event="change" update="srf"  listener="${rfSearchService.createRFSearchView()}"/>
                                </p:inputText>
                            </f:facet>
                        </p:column>
                        

                    </p:row>
                </p:columnGroup>
                
                <p:column >
                    <h:outputText       value="#{srf.rfName}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{srf.rfPhone}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{srf.city}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{srf.state}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{srf.zip}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{srf.laborTax}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{srf.partTax}"  />
                </p:column>
                <p:column >
                    <h:outputText       value="#{srf.laborRate}"  />
                </p:column>
                
            </p:dataTable>
            
        </h:form>

    </h:body>
</html>

