<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>DOWC administration management system</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

        <script type="text/javascript">

        </script>
        <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }
        </style>
    </h:head>
    <h:body>

        <p:layout fullPage="true">

            <p:layoutUnit position="north" size="50" >
                <h:outputText value="DOWC"/>
                
            </p:layoutUnit>

            <p:layoutUnit position="south" size="50" >
                <h:outputText value="DOWC" />
            </p:layoutUnit>

            <p:layoutUnit position="west"   minSize="200" header="DOWC Admin" collapsible="true" resizable="true"  >

                <h:form>
                    <p:commandButton value="Dashboard"  style="width:100%;text-align:left;"    action="#{dashboard.getDashBoard}"  id="dashboardid"  /> 
                    
                    <p:accordionPanel style="margin-top:20px">
                        <p:tab title="Users and Groups">
                            <p:menu>
                                <p:menuitem  id="userItem"  value="Users"     action="#{usersService.getUsersSearch}"/>
                                <p:menuitem id="dealerSearchMenuItem" value="Dealers"   action="#{dealerService.getDealerSearch}"/>
                                <p:menuitem id="dealerGroupSearchMenuItem" value="Dealer Groups" action="#{dealerGroupService.getDealerGroupSearch}"/>
                                <p:menuitem  id="customerItem"  value="Customers"     action="#{customerInfoService.getCustomerSearch}"/>
                            </p:menu>
                        </p:tab>
                        
                        <p:tab title="Configuration">
                            <!--
                            <p:menu>
                                <p:menuitem  id="dealerItem"  value="Dealer setting"     action="#{dealerConfigurationService.getDealers}"/>
                            </p:menu>
                            -->
                        </p:tab>
                    
                        <p:tab title="Classing">
                            <p:menu>
                                <!--
                                <p:menuitem  id="contractRatingMenuItem"  value="Contract Rating"     action="#{contractRatingService.getContractRating}"/>
                                -->
                                <p:menuitem  id="dealerRaterMenuItem"  value="Dealer Rating"     action="#{contractRatingService.getDealerRating}"/>
                                <!--
                                <p:menuitem id="decodeVinMenuItem" value="Decode VIN"   action="#{decodeVINService.getVehicleClass}"/>
                                -->
                            </p:menu>
                        </p:tab>
                    
                    
                        <p:tab title="Rate Setup">
                            <p:menu>
                                <p:menuitem  id="programSearchMenuItem"  value="Programs"     action="#{programService.getProgramSearch}"/>
                                <p:menuitem id="productSearchMenuItem" value="Products"   action="#{productService.getProductSearch}"/>
                                <p:menuitem id="planSearchMenuItem" value="Plans" action="#{planService.getPlanSearch}"/>
                                <p:menuitem id="rateVisibilityMenuItem" value="Products Visibility" action="#{rvService.getRV}"/>
                            </p:menu>
                        </p:tab>
                        
                        <p:tab title="Contracts">
                            <p:panelGrid columns="1" >
                                <p:menu>
                                    <p:menuitem value="Find Contracts"  action="#{contractFirstLineView.getContractSearch}" />
                                    <p:menuitem value="Quick Rater"  action="#{quickRaterService.getQR}" />
                                    <p:menuitem value="Facility"  actionListener="#{claimMisc.setPage('searchRF')}"  id="bbb" />
                                    <p:menuitem value="Member"  actionListener="#{claimMisc.setPage('searchMember')}"   id="ccc"/>
                                </p:menu>
                            </p:panelGrid>
                        </p:tab>
                        
                        <p:tab title="Claims">
                            <p:menu>
                                <p:menuitem id="claimSearchMenuItem" value="Find Claim"  action="#{claimFirstLineView.getClaimSearch}" />
                            </p:menu>
                        </p:tab>
                        
                        <p:tab title="Accounting">
                            <p:menu>
                                <p:menuitem id="findTranc" value="Find Transaction"  action="#{acctTransService.getAcctTrans}" />
                                
                               
                                <p:menuitem id="acctReceivable" value="Account Remittable"  action="#{acctRecService.getAcctReceivable}" />
                                <p:menuitem id="receivable" value="Remittable"  action="#{acctRecService.getReceivablesPage}" />
                            </p:menu>
                        </p:tab>
                    </p:accordionPanel>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="center"  id="contractCenterLayout">
                <ui:insert name="centerContent"  />
            </p:layoutUnit>

        </p:layout>

    </h:body>
</html>

