<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Users</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="centerContent">
                <p:breadCrumb style="background-color:transparent;background-image:none;">
                    <p:menuitem value="Categories" url="#" />
                    <p:menuitem value="Users and Groups" url="#" />
                    <p:menuitem value="Users" url="#" />
                </p:breadCrumb>
                    <h1>Users</h1>
                 <h:form id="usersForm">
                     <p:dataTable   id="usersTbl"  var="usersTbl"    value="#{usersService.usersList}"   selection="#{usersService.selectedUser}"  selectionMode="single"   rowKey="#{usersTbl.userMemberId}"  emptyMessage=""  rows="25"  paginatorPosition="bottom" paginator="true"  paginatorTemplate="{Customization} {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} " rowsPerPageTemplate="25, 50,100, 200, 250, 500" currentPageReportTemplate="{startRecord} - {endRecord} of {totalRecords}"  scrollable="true" scrollHeight="600">
                        <p:ajax event="rowSelect" listener="#{usersService.onRowSelect}"  oncomplete="PF('usersMenu').show()" update=":usersForm:usersMenu" />

                        <f:facet name="header">
                            Users
                        </f:facet>

                        <f:facet name="{Customization}">
                            <div style="float: left">
                                <p:commandButton id="addNewUser" value="Add"      actionListener="#{usersService.addUser}"  >
                                    <p:ajax event="dialogReturn" listener="#{usersService.dialogClosed}" update="usersTbl" />
                                </p:commandButton>
                            </div>
                        </f:facet>


                        <p:columnGroup type="header">
                            <p:row>
                                <p:column headerText="Name"  sortBy="#{usersTbl.fullName}"   filterBy="#{usersTbl.fullName} "/>
                                <p:column headerText="Username"  sortBy="#{usersTbl.userName}"   filterBy="#{usersTbl.userName}" />
                                <p:column headerText="User Type"  sortBy="#{usersTbl.userType}"   filterBy="#{usersTbl.userType}" />
                                <p:column headerText="Company"  sortBy="#{usersTbl.company}"   filterBy="#{usersTbl.company}" />
                                <p:column headerText="Group"  sortBy="#{usersTbl.group}"   filterBy="#{usersTbl.group}" />
                                <p:column headerText="Email Address"  sortBy="#{usersTbl.email}"   filterBy="#{usersTbl.email}" />
                                <p:column headerText="Active"  sortBy="#{usersTbl.active}"   filterBy="#{usersTbl.active}" />
                            </p:row>
                        </p:columnGroup>

                        <p:column >
                            <h:outputText       value="#{usersTbl.fullName}"  />
                        </p:column>
                        <p:column    >
                            <h:outputText value="#{usersTbl.userName}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{usersTbl.userType}"  />
                        </p:column>
                        <p:column  >
                            <h:outputText value="#{usersTbl.company}" />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{usersTbl.group}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{usersTbl.email}"  />
                        </p:column>
                        <p:column >
                            <h:outputText value="#{usersTbl.active}"  />
                        </p:column>

                    </p:dataTable>

                    <p:menu id="usersMenu" widgetVar="usersMenu" triggerEvent="rowSelect" trigger="usersTbl" overlay="true"   my="left top"  at="left top" >
                        <p:menuitem value="Edit"     action="#{usersService.editUser}"  icon="ui-icon-star" update="usersTbl">
                        </p:menuitem>
                        <p:menuitem value="Delete"   actionListener="#{usersService.deleteUser()}" icon="ui-icon-star"  update="usersTbl">
                        </p:menuitem>
                    </p:menu>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

