<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
        <style>
            .ui-fieldset   .ui-state-default  {
                background: none;
                border: none;
            }

            .panelColumns td {
                vertical-align: top;
            }
        </style>
    </h:head>
    <h:body>


        <h:form id="vscCRform">

            <h:panelGrid id="contractRatingGrid" columns="1"  >
                <p:selectOneMenu id="crProd" value="#{contractRatingService.cr.planName}" effect="fold"  editable="true">                        
                    <f:selectItems  var="selectedPlan" id="selectedPlan" value="#{contractRatingService.selectedDP.dplanList}"  actionListener=""/>
                </p:selectOneMenu>

                <p:selectOneMenu id="crExpTime" value="#{contractRatingService.cr.expTime}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{selectedPlan.termList}" />
                </p:selectOneMenu>

                <p:selectOneMenu id="crExpUsage" value="#{contractRatingService.cr.expUsage}" effect="fold"  editable="true">                        
                    <f:selectItems value="#{claimFirstLineView.claimTypes}" />
                </p:selectOneMenu>
            </h:panelGrid>



            <h:panelGrid id="contractRatingGrid" columns="8"    styleClass="panelColumns">
                <h:panelGrid columns="2">
                    <p:outputLabel for="vinRating" value="VIN: "/>
                    <p:inputText id="vinRating" value="#{contractRatingService.cr.vinNo}" />
                    <p:outputLabel for="vrPlan" value="Plan: "/>
                    <p:autoComplete id="vrPlan" value="#{contractRatingService.cr.planName}" completeMethod="#{autoCompletion.completePlanName}"/>
                    <p:outputLabel for="vrProduct" value="Product: "/>
                    <p:autoComplete id="vrProduct" value="#{contractRatingService.cr.productName}" completeMethod="#{autoCompletion.completeProductName}"/>
                    <p:outputLabel for="ancMonths" value="ancMonths: "/>
                    <p:inputText id="ancMonths" value="#{contractRatingService.cr.ancMonths}" />
                    <p:outputLabel for="expTime" value="VSC expTime: "/>
                    <p:inputText id="expTime" value="#{contractRatingService.cr.expTime}" />
                    <p:outputLabel for="expUsage" value="VSC expUsage "/>
                    <p:inputText id="expUsage" value="#{contractRatingService.cr.expUsage}" />
                    <p:outputLabel for="ppmTime" value="PPM ppmTime: "/>
                    <p:inputText id="ppmTime" value="#{contractRatingService.cr.ppmTime}" />
                    <p:outputLabel for="ppmUsage" value="PPM ppmUsage "/>
                    <p:inputText id="ppmUsage" value="#{contractRatingService.cr.ppmUsage}" />
                    <p:outputLabel for="crMileage" value="Vehicle Mileage: "/>
                    <p:inputText id="crMileage" value="#{contractRatingService.cr.mileage}" />
                </h:panelGrid>


                <p:outputLabel for="dealerNamer" value="Dealer Name: "/>
                <p:autoComplete id="dealerNamer" value="#{contractRatingService.cr.dealerName}" completeMethod="#{autoCompletion.completeDealerName}" />
                <p:commandButton  id="findCode"  value="Find Code(s)" actionListener="#{contractRatingService.findCode()}" process="@form" update="@form" />
                <p:commandButton  id="findRate"  value="Find Rate(s)" actionListener="#{contractRatingService.findRates()}" process="@form" update="@form" />
                <p:commandButton id="resetButr" value="Reset"  >
                    <p:ajax update="contractRatingGrid" resetValues="true"  listener="#{contractRatingService.reset()}"/>
                </p:commandButton>
            </h:panelGrid>

            <p:separator />


            <p:outputLabel for="vehicleClassCode" value="vehicle ClassCode: "/>
            <p:inputText id="vehicleClassCode"  value="#{contractRatingService.cr.vehicleClassCode}" />
            <p:outputLabel for="contractReserve" value="Reserve "/>
            <p:inputText id="contractReserve"  value="#{contractRatingService.cr.contractReserve}" />
            <p:outputLabel for="contractSRP" value="SRP "/>
            <p:inputText id="contractSRP"  value="#{contractRatingService.cr.contractSRP}" />
            <p:outputLabel for="contractCC" value="Coverage Cost "/>
            <p:inputText id="contractCC"  value="#{contractRatingService.cr.contractCoverageCost}" />
            <p:outputLabel for="contractRate" value="Rate "/>
            <p:inputText id="contractRate"  value="#{contractRatingService.cr.contractRate}" />

            <p:separator />

            <p:dataTable   id="ddTbl"  var="ddTbl"    value="#{contractRatingService.ddList}"     rowKey="#{ddTbl.disbursementDetailId}"  emptyMessage=""  rows="10"  >

                <f:facet name="header">
                    Detailed Disbursements
                </f:facet>

                <p:columnGroup type="header">
                    <p:row>
                        <p:column headerText="Type"  sortBy="#{ddTbl.disbursementType}"   filterBy="#{ddTbl.disbursementType}" />
                        <p:column headerText="Account Holder"  sortBy="#{ddTbl.accountHolder}"   filterBy="#{ddTbl.accountHolder}" />
                        <p:column headerText="Description"  sortBy="#{ddTbl.description}"   filterBy="#{ddTbl.description}" />
                        <p:column headerText="Group"  sortBy="#{ddTbl.disbursementGroup}"   filterBy="#{ddTbl.disbursementGroup}" />
                        <p:column headerText="Amount"  sortBy="#{ddTbl.disbursementAmount}"   filterBy="#{ddTbl.disbursementAmount}" />
                    </p:row>
                </p:columnGroup>

                <p:column >
                    <h:outputText       value="#{ddTbl.disbursementType}"  />
                </p:column>
                <p:column    >
                    <h:outputText value="#{ddTbl.accountHolder}" />
                </p:column>
                <p:column >
                    <h:outputText value="#{ddTbl.description}"  />
                </p:column>
                <p:column >
                    <h:outputText value="#{ddTbl.disbursementGroup}"  />
                </p:column>
                <p:column >
                    <h:outputText value="#{ddTbl.disbursementAmount}"  />
                </p:column>


            </p:dataTable>

        </h:form>

    </h:body>
</html>

